Repository LibreTime/libretime: changes, and which Codecov flags are due for each by the changed paths.
All: analyzer, api, api-client, playout, shared

codecov.yml:

---
coverage:
  status:
    project: off

flags:
  analyzer:
    paths:
      - analyzer/
    carryforward: true

  api:
    paths:
      - api/
    carryforward: true

  api-client:
    paths:
      - api-client/
    carryforward: true

  playout:
    paths:
      - playout/
    carryforward: true

  shared:
    paths:
      - shared/
    carryforward: true

ci: stop build docker dev image for focal and bullseye
  .github/workflows/dev-tools.yml
Due: none

ci: stop build docker dev image for focal and bullseye (#3277)
  .github/workflows/dev-tools.yml
Due: none

ci: group github actions updates
  .github/renovate.json
Due: none

ci: group github actions updates (#3278)
  .github/renovate.json
Due: none

ci: build docker dev image for noble, trixie and resolute
  .github/workflows/dev-tools.yml
  analyzer/packages.ini
  api/packages.ini
  legacy/packages.ini
  playout/packages.ini
  shared/packages.ini
Due: analyzer, api, playout, shared

tmp: run in pr
  .github/workflows/dev-tools.yml
Due: none

chore: update tools/packages.py validation
  tools/packages.py
Due: none

Revert "tmp: run in pr"
  .github/workflows/dev-tools.yml
Due: none

ci: build docker dev image for noble, trixie and resolute (#3281)
  .github/workflows/dev-tools.yml
  analyzer/packages.ini
  api/packages.ini
  legacy/packages.ini
  playout/packages.ini
  shared/packages.ini
  tools/packages.py
Due: analyzer, api, playout, shared

fix missing version bump
  api/setup.py
Due: api

style: format code
  .pre-commit-config.yaml
  api/libretime_api/legacy/migrations/0005_2_5_4.py
  api/libretime_api/legacy/migrations/0009_2_5_11.py
  api/libretime_api/legacy/migrations/_migrations.py
  api/libretime_api/manage.py
  playout/tests/liquidsoap/client/connection_test.py
Due: api, playout

fix: improve config loading and raise deprecation
  docs/admin-manual/configuration.md
  playout/libretime_playout/config.py
  playout/libretime_playout/player/fetch.py
  playout/tests/config_test.py
  shared/libretime_shared/config/_models.py
Due: playout, shared

fix: remove ineffective config default
  shared/libretime_shared/config/_models.py
Due: shared

fix: template liquidsoap entrypoint based on version
  playout/libretime_playout/liquidsoap/client/_client.py
  playout/libretime_playout/liquidsoap/templates/entrypoint.liq.j2
  playout/tests/liquidsoap/__snapshots__/entrypoint_test.ambr
  playout/tests/liquidsoap/conftest.py
  playout/tests/liquidsoap/entrypoint_test.py
Due: playout

fix: liquidsoap 2.1 deprecation warnings (#3286)
  playout/libretime_playout/liquidsoap/client/_client.py
  playout/libretime_playout/liquidsoap/templates/entrypoint.liq.j2
  playout/tests/liquidsoap/__snapshots__/entrypoint_test.ambr
  playout/tests/liquidsoap/conftest.py
  playout/tests/liquidsoap/entrypoint_test.py
  shared/libretime_shared/config/_models.py
Due: playout, shared

ci: relax vale config
  .vale.ini
Due: none

fix: do not exec into celery
  api/libretime_worker/main.py
Due: api

fix: add default celery task time limit to 30m
  api/libretime_api/settings/_internal.py
  api/libretime_api/settings/prod.py
  api/libretime_api/settings/testing.py
Due: api

fix: avoid path traversal via podcast episode filename
  api/libretime_api/podcasts/tasks.py
Due: api

fix: unpin pip version
  install
  tools/python.mk
Due: none

fix: unpin pip version (#3290)
  install
  tools/python.mk
Due: none

fix(playout): update kombu to >=5.5.0 and remove vine patch
  Dockerfile
  install
  playout/requirements.txt
  playout/setup.py
  playout/vine-python311.patch
Due: playout

fix(playout): update kombu to >=5.5.0 and remove vine patch (#3291)
  Dockerfile
  install
  playout/requirements.txt
  playout/setup.py
  playout/vine-python311.patch
Due: playout

feat: drop support for php < 8.2
  .github/workflows/legacy.yml
  .github/workflows/release.yml
  Dockerfile
  legacy/application/airtime-boot.php
  legacy/application/configs/conf.php
  legacy/application/logging/AirtimeLog.php
  legacy/application/services/ShowService.php
  legacy/composer.json
  legacy/packages.ini
  legacy/tests/application/bootstrap.php
  legacy/tests/application/models/database/ScheduleDbTest.php
  legacy/tools/composer.json
Due: none

chore: update lock file
  legacy/composer.lock
Due: none

feat!: drop support for php <8.2 (#3272)
  .github/workflows/legacy.yml
  .github/workflows/release.yml
  Dockerfile
  legacy/application/airtime-boot.php
  legacy/application/configs/conf.php
  legacy/application/logging/AirtimeLog.php
  legacy/application/services/ShowService.php
  legacy/composer.json
  legacy/composer.lock
  legacy/packages.ini
  legacy/tests/application/bootstrap.php
  legacy/tests/application/models/database/ScheduleDbTest.php
  legacy/tools/composer.json
Due: none

ci: ensure propel sql schema is not outdated
  .github/workflows/legacy.yml
Due: none

fix: send password reset mail using the worker
  api/libretime_api/core/tasks.py
  api/libretime_api/worker.py
  legacy/application/models/Auth.php
  legacy/application/models/Email.php
Due: api

style: format file
  legacy/application/models/Auth.php
Due: none

fix: update propel
  legacy/application/configs/airtime-conf.php
  legacy/application/models/airtime/om/BaseCcBlockcontentsQuery.php
  legacy/application/models/airtime/om/BaseCcPlaylistcontentsQuery.php
  legacy/composer.lock
Due: none

fix: add AllowDynamicProperties to query classes
  legacy/application/models/airtime/om/BaseCcBlockQuery.php
  legacy/application/models/airtime/om/BaseCcBlockcontentsQuery.php
  legacy/application/models/airtime/om/BaseCcBlockcriteriaQuery.php
  legacy/application/models/airtime/om/BaseCcFilesQuery.php
  legacy/application/models/airtime/om/BaseCcListenerCountQuery.php
  legacy/application/models/airtime/om/BaseCcLiveLogQuery.php
  legacy/application/models/airtime/om/BaseCcLoginAttemptsQuery.php
  legacy/application/models/airtime/om/BaseCcMountNameQuery.php
  legacy/application/models/airtime/om/BaseCcPlaylistQuery.php
  legacy/application/models/airtime/om/BaseCcPlaylistcontentsQuery.php
  legacy/application/models/airtime/om/BaseCcPlayoutHistoryMetaDataQuery.php
  legacy/application/models/airtime/om/BaseCcPlayoutHistoryQuery.php
  legacy/application/models/airtime/om/BaseCcPlayoutHistoryTemplateFieldQuery.php
  legacy/application/models/airtime/om/BaseCcPlayoutHistoryTemplateQuery.php
  legacy/application/models/airtime/om/BaseCcPrefQuery.php
  legacy/application/models/airtime/om/BaseCcScheduleQuery.php
  legacy/application/models/airtime/om/BaseCcServiceRegisterQuery.php
  legacy/application/models/airtime/om/BaseCcShowDaysQuery.php
  legacy/application/models/airtime/om/BaseCcShowHostsQuery.php
  legacy/application/models/airtime/om/BaseCcShowInstancesQuery.php
  legacy/application/models/airtime/om/BaseCcShowQuery.php
  legacy/application/models/airtime/om/BaseCcShowRebroadcastQuery.php
  legacy/application/models/airtime/om/BaseCcSubjsQuery.php
  legacy/application/models/airtime/om/BaseCcSubjsTokenQuery.php
  legacy/application/models/airtime/om/BaseCcTimestampQuery.php
  legacy/application/models/airtime/om/BaseCcTracktypesQuery.php
  legacy/application/models/airtime/om/BaseCcWebstreamMetadataQuery.php
  legacy/application/models/airtime/om/BaseCcWebstreamQuery.php
  legacy/application/models/airtime/om/BaseImportedPodcastQuery.php
  legacy/application/models/airtime/om/BasePodcastEpisodesQuery.php
  legacy/application/models/airtime/om/BasePodcastQuery.php
  legacy/application/models/airtime/om/BaseSessionsQuery.php
  legacy/application/models/airtime/om/BaseStationPodcastQuery.php
  legacy/composer.lock
Due: none

ci: ensure propel sql schema is not outdated (#3289)
  .github/workflows/legacy.yml
  legacy/application/configs/airtime-conf.php
  legacy/application/models/airtime/om/BaseCcBlockQuery.php
  legacy/application/models/airtime/om/BaseCcBlockcontentsQuery.php
  legacy/application/models/airtime/om/BaseCcBlockcriteriaQuery.php
  legacy/application/models/airtime/om/BaseCcFilesQuery.php
  legacy/application/models/airtime/om/BaseCcListenerCountQuery.php
  legacy/application/models/airtime/om/BaseCcLiveLogQuery.php
  legacy/application/models/airtime/om/BaseCcLoginAttemptsQuery.php
  legacy/application/models/airtime/om/BaseCcMountNameQuery.php
  legacy/application/models/airtime/om/BaseCcPlaylistQuery.php
  legacy/application/models/airtime/om/BaseCcPlaylistcontentsQuery.php
  legacy/application/models/airtime/om/BaseCcPlayoutHistoryMetaDataQuery.php
  legacy/application/models/airtime/om/BaseCcPlayoutHistoryQuery.php
  legacy/application/models/airtime/om/BaseCcPlayoutHistoryTemplateFieldQuery.php
  legacy/application/models/airtime/om/BaseCcPlayoutHistoryTemplateQuery.php
  legacy/application/models/airtime/om/BaseCcPrefQuery.php
  legacy/application/models/airtime/om/BaseCcScheduleQuery.php
  legacy/application/models/airtime/om/BaseCcServiceRegisterQuery.php
  legacy/application/models/airtime/om/BaseCcShowDaysQuery.php
  legacy/application/models/airtime/om/BaseCcShowHostsQuery.php
  legacy/application/models/airtime/om/BaseCcShowInstancesQuery.php
  legacy/application/models/airtime/om/BaseCcShowQuery.php
  legacy/application/models/airtime/om/BaseCcShowRebroadcastQuery.php
  legacy/application/models/airtime/om/BaseCcSubjsQuery.php
  legacy/application/models/airtime/om/BaseCcSubjsTokenQuery.php
  legacy/application/models/airtime/om/BaseCcTimestampQuery.php
  legacy/application/models/airtime/om/BaseCcTracktypesQuery.php
  legacy/application/models/airtime/om/BaseCcWebstreamMetadataQuery.php
  legacy/application/models/airtime/om/BaseCcWebstreamQuery.php
  legacy/application/models/airtime/om/BaseImportedPodcastQuery.php
  legacy/application/models/airtime/om/BasePodcastEpisodesQuery.php
  legacy/application/models/airtime/om/BasePodcastQuery.php
  legacy/application/models/airtime/om/BaseSessionsQuery.php
  legacy/application/models/airtime/om/BaseStationPodcastQuery.php
  legacy/composer.lock
Due: none

chore(legacy): update locales
  legacy/locale/cs_CZ/LC_MESSAGES/libretime.po
  legacy/locale/de_AT/LC_MESSAGES/libretime.po
  legacy/locale/de_DE/LC_MESSAGES/libretime.po
  legacy/locale/el_GR/LC_MESSAGES/libretime.po
  legacy/locale/en_CA/LC_MESSAGES/libretime.po
  legacy/locale/en_GB/LC_MESSAGES/libretime.po
  legacy/locale/en_US/LC_MESSAGES/libretime.po
  legacy/locale/es_ES/LC_MESSAGES/libretime.po
  legacy/locale/fr_FR/LC_MESSAGES/libretime.po
  legacy/locale/hr_HR/LC_MESSAGES/libretime.po
  legacy/locale/hu_HU/LC_MESSAGES/libretime.po
  legacy/locale/it_IT/LC_MESSAGES/libretime.po
  legacy/locale/ja_JP/LC_MESSAGES/libretime.po
  legacy/locale/ko_KR/LC_MESSAGES/libretime.po
  legacy/locale/nb_NO/LC_MESSAGES/libretime.po
  legacy/locale/nl_NL/LC_MESSAGES/libretime.po
  legacy/locale/pl_PL/LC_MESSAGES/libretime.po
  legacy/locale/pt_BR/LC_MESSAGES/libretime.po
  legacy/locale/ru_RU/LC_MESSAGES/libretime.po
  legacy/locale/sr_RS/LC_MESSAGES/libretime.po
  legacy/locale/sr_RS@latin/LC_MESSAGES/libretime.po
  legacy/locale/tr_TR/LC_MESSAGES/libretime.po
  legacy/locale/uk_UA/LC_MESSAGES/libretime.po
  legacy/locale/zh_CN/LC_MESSAGES/libretime.po
Due: none

feat: send password reset mail using the worker (#3292)
  api/libretime_api/core/tasks.py
  api/libretime_api/worker.py
  legacy/application/models/Auth.php
  legacy/application/models/Email.php
Due: api

chore(legacy): add rector to tools
  .github/workflows/legacy.yml
  legacy/Makefile
  legacy/rector.php
  legacy/tools/composer.json
Due: none

refactor(legacy): php 8.2 compatibility fixes
  legacy/application/common/PodcastManager.php
  legacy/application/models/Preference.php
  legacy/application/models/StoredFile.php
  legacy/application/views/scripts/dashboard/stream-player.phtml
Due: none

refactor(legacy): php 8.2 compatibility fixes (#3302)
  legacy/application/common/PodcastManager.php
  legacy/application/models/Preference.php
  legacy/application/models/StoredFile.php
  legacy/application/views/scripts/dashboard/stream-player.phtml
Due: none

chore(legacy): add rector to tools (#3301)
  .github/workflows/legacy.yml
  legacy/Makefile
  legacy/rector.php
  legacy/tools/composer.json
Due: none
