Repository LibreTime/libretime: changes, and which Codecov flags are due for each by the changed paths.
All: analyzer, api, api-client, playout, shared

fix(playout): remove outdated liquidsoap code
  playout/libretime_playout/liquidsoap/1.4/ls_script.liq
  playout/libretime_playout/liquidsoap/entrypoint.liq.j2
  playout/tests/liquidsoap/__snapshots__/entrypoint_test.ambr
  playout/tests/liquidsoap/entrypoint_test.py
Due: playout

chore: add snapshot target
  playout/Makefile
Due: playout

feat: drop Python 3.7 support
  analyzer/setup.py
  api-client/setup.py
  api/setup.py
  playout/setup.py
  worker/setup.py
Due: analyzer, api, api-client, playout

refactor: upgrade code to Python 3.8
  .pre-commit-config.yaml
  analyzer/libretime_analyzer/pipeline/_utils.py
  analyzer/libretime_analyzer/pipeline/pipeline.py
  playout/libretime_playout/config.py
  playout/libretime_playout/liquidsoap/client/_client.py
  playout/libretime_playout/liquidsoap/version.py
  playout/tests/liquidsoap/client/connection_test.py
  shared/libretime_shared/config/_models.py
Due: analyzer, playout, shared

fix(playout): add types
  playout/libretime_playout/main.py
  playout/libretime_playout/message_handler.py
  playout/libretime_playout/player/fetch.py
  playout/libretime_playout/player/file.py
  playout/libretime_playout/player/push.py
  playout/libretime_playout/player/queue.py
Due: playout

fix(api): allow single digit version for legacy schema
  api/libretime_api/legacy/migrations/_version.py
  api/libretime_api/legacy/tests/migrations/test_version.py
Due: api

feat: drop cc_stream_setting table
  api/libretime_api/legacy/migrations/0041_drop_stream_setting_table.py
  api/libretime_api/legacy/migrations/__init__.py
Due: api

feat: delete cc_pref stream preferences rows
  api/libretime_api/legacy/migrations/0042_remove_stream_preferences.py
  api/libretime_api/legacy/migrations/__init__.py
Due: api

feat(legacy): remove db allowed_cors_origins preference
  api/libretime_api/legacy/migrations/0043_remove_cors_preference.py
  api/libretime_api/legacy/migrations/__init__.py
  legacy/application/common/CORSHelper.php
  legacy/application/controllers/PreferenceController.php
  legacy/application/forms/GeneralPreferences.php
  legacy/application/models/Preference.php
  legacy/application/views/scripts/form/preferences_general.phtml
Due: api

feat(legacy): remove db allowed_cors_origins preference (#2095)
  api/libretime_api/legacy/migrations/0043_remove_cors_preference.py
  api/libretime_api/legacy/migrations/__init__.py
  legacy/application/common/CORSHelper.php
  legacy/application/controllers/PreferenceController.php
  legacy/application/forms/GeneralPreferences.php
  legacy/application/models/Preference.php
  legacy/application/views/scripts/form/preferences_general.phtml
Due: api

test: liquidsoap package from ppa is version 1.4.2
  playout/tests/liquidsoap/version_test.py
Due: playout

test: liquidsoap package from ppa is version 1.4.2 (#2233)
  playout/tests/liquidsoap/version_test.py
Due: playout

ci: enable renovate bot on 3.0.x
  .github/renovate.json
Due: none

ci: run tests on 3.0.x
  .github/workflows/analyzer.yml
  .github/workflows/api-client.yml
  .github/workflows/api.yml
  .github/workflows/container.yml
  .github/workflows/legacy.yml
  .github/workflows/playout.yml
  .github/workflows/project.yml
  .github/workflows/shared.yml
  .github/workflows/worker.yml
Due: none

style(legacy): format using php-cs-fixer
  legacy/application/controllers/plugins/Acl_plugin.php
  legacy/application/forms/Login.php
  legacy/application/models/Scheduler.php
  legacy/application/models/airtime/CcFiles.php
  legacy/application/services/MediaService.php
  legacy/application/services/PodcastEpisodeService.php
  legacy/application/services/PodcastService.php
  legacy/application/services/SchedulerService.php
  legacy/application/services/ShowFormService.php
  legacy/application/services/ShowService.php
Due: none

docs(playout): add simple inputs pipeline schema
  playout/libretime_playout/liquidsoap/README.md
Due: playout

docs(playout): add simple inputs pipeline schema (#2240)
  playout/libretime_playout/liquidsoap/README.md
Due: playout

fix: remove systemd ProtectHome feature
  analyzer/install/systemd/libretime-analyzer.service
  api/install/systemd/libretime-api.service
  playout/install/systemd/libretime-liquidsoap.service
  playout/install/systemd/libretime-playout.service
  worker/install/systemd/libretime-worker.service
Due: analyzer, api, playout

fix: remove systemd ProtectHome feature (#2243)
  analyzer/install/systemd/libretime-analyzer.service
  api/install/systemd/libretime-api.service
  playout/install/systemd/libretime-liquidsoap.service
  playout/install/systemd/libretime-playout.service
  worker/install/systemd/libretime-worker.service
Due: analyzer, api, playout

fix: remove systemd ProtectHome feature (#2244)
  analyzer/install/systemd/libretime-analyzer.service
  api/install/systemd/libretime-api.service
  playout/install/systemd/libretime-liquidsoap.service
  playout/install/systemd/libretime-playout.service
  worker/install/systemd/libretime-worker.service
Due: analyzer, api, playout

chore(legacy): translated using weblate (Ukrainian)
  legacy/locale/uk_UA/LC_MESSAGES/libretime.po
Due: none

chore(legacy): translated using weblate (Ukrainian) (#2252)
  legacy/locale/uk_UA/LC_MESSAGES/libretime.po
Due: none

Revert "chore(deps): update python docker tag to v3.11 (#2245)"
  Dockerfile
Due: none

chore(deps): revert update python docker tag to v3.11 (#2245) (#2269)
  Dockerfile
Due: none

docs(developer): add DOCKER_BUILDKIT environment variable
  docs/developer-manual/development/environment.md
Due: none

docs: add DOCKER_BUILDKIT env variable for docker-compose v1 (#2270)
  docs/developer-manual/development/environment.md
Due: none

chore: improve dockerfile run calls
  Dockerfile
Due: none

chore: improve dockerfile run calls (#2273)
  Dockerfile
Due: none

chore: don't use venv activation in makefile
  api/Makefile
  tools/python.mk
Due: api

Path conditions:
  analyzer: any of: analyzer/
  api: any of: api/
  api-client: any of: api-client/
  playout: any of: playout/
  shared: any of: shared/
