Repository LibreTime/libretime: changes, and which Codecov flags are due for each by the changed paths.
All: analyzer, api, api-client, playout, shared

codecov.yml:

---
coverage:
  status:
    project: off

flags:
  analyzer:
    paths:
      - analyzer/
    carryforward: true

  api:
    paths:
      - api/
    carryforward: true

  api-client:
    paths:
      - api-client/
    carryforward: true

  playout:
    paths:
      - playout/
    carryforward: true

  shared:
    paths:
      - shared/
    carryforward: true

feat(legacy): read stream config from file
  api/libretime_api/legacy/migrations/sql/data.sql
  legacy/application/configs/conf.php
  legacy/application/controllers/PreferenceController.php
  legacy/application/forms/LiveStreamingPreferences.php
  legacy/application/forms/StreamSetting.php
  legacy/application/forms/StreamSettingSubForm.php
  legacy/application/models/ListenerStat.php
  legacy/application/models/Preference.php
  legacy/application/models/StreamSetting.php
  legacy/application/views/scripts/dashboard/stream-player.phtml
  legacy/application/views/scripts/form/preferences_livestream.phtml
  legacy/application/views/scripts/form/stream-setting-form.phtml
  legacy/application/views/scripts/preference/stream-setting.phtml
  legacy/public/js/airtime/preferences/streamsetting.js
Due: api

docs: file based stream configuration
  docs/admin-manual/setup/configuration.md
  docs/releases/unreleased.md
Due: none

test(analyzer): analyze large audio files
  analyzer/tests/fixtures/__init__.py
  analyzer/tests/fixtures/generate.sh
  analyzer/tests/pipeline/analyze_cuepoint_test.py
  analyzer/tests/pipeline/ffmpeg_test.py
Due: analyzer

test(analyzer): analyze large audio files (#2050)
  analyzer/tests/fixtures/__init__.py
  analyzer/tests/fixtures/generate.sh
  analyzer/tests/pipeline/analyze_cuepoint_test.py
  analyzer/tests/pipeline/ffmpeg_test.py
Due: analyzer

feat(api): add /info and /stream/* endpoints
  api-client/libretime_api_client/v2.py
  api/libretime_api/core/models/preference.py
  api/libretime_api/core/router.py
  api/libretime_api/core/serializers/__init__.py
  api/libretime_api/core/serializers/info.py
  api/libretime_api/core/serializers/preference.py
  api/libretime_api/core/serializers/stream.py
  api/libretime_api/core/tests/models/test_preference.py
  api/libretime_api/core/tests/views/test_info.py
  api/libretime_api/core/tests/views/test_stream.py
  api/libretime_api/core/views/__init__.py
  api/libretime_api/core/views/info.py
  api/libretime_api/core/views/preference.py
  api/libretime_api/core/views/stream.py
  api/schema.yml
Due: api, api-client

feat(api): remove set passwords command
  Vagrantfile
  api/libretime_api/legacy/management/__init__.py
  api/libretime_api/legacy/management/commands/__init__.py
  api/libretime_api/legacy/management/commands/set_icecast_passwords.py
  docs/admin-manual/setup/install.md
  install
Due: api

feat(playout): remove stream_setting update handler
  playout/libretime_playout/message_handler.py
  playout/libretime_playout/player/fetch.py
  playout/libretime_playout/timeout.py
Due: playout

feat(playout): stats collector using stream config
  playout/libretime_playout/history/stats.py
  playout/libretime_playout/main.py
  playout/tests/conftest.py
  playout/tests/history/stats_test.py
Due: playout

feat(playout): allow liquidsoap listen address configuration
  docs/admin-manual/setup/configuration.md
  legacy/application/configs/conf.php
  playout/libretime_playout/config.py
  playout/libretime_playout/liquidsoap/entrypoint.liq.j2
  playout/tests/fixtures/entrypoint-1.1.liq
  playout/tests/fixtures/entrypoint-1.4.liq
Due: playout

docs: use brackets to refer to another field in the config
  docs/admin-manual/setup/configuration.md
Due: none

feat: remove cc_stream_setting models
  api/libretime_api/core/models/__init__.py
  api/libretime_api/core/models/preference.py
  api/libretime_api/core/tests/models/test_preference.py
  api/libretime_api/legacy/migrations/sql/data.sql
  api/libretime_api/legacy/migrations/sql/schema.sql
  legacy/application/configs/classmap-airtime-conf.php
  legacy/application/models/airtime/CcStreamSetting.php
  legacy/application/models/airtime/CcStreamSettingPeer.php
  legacy/application/models/airtime/CcStreamSettingQuery.php
  legacy/application/models/airtime/map/CcStreamSettingTableMap.php
  legacy/application/models/airtime/om/BaseCcStreamSetting.php
  legacy/application/models/airtime/om/BaseCcStreamSettingPeer.php
  legacy/application/models/airtime/om/BaseCcStreamSettingQuery.php
  legacy/build/schema.xml
Due: api

feat(playout): build liquidsoap entrypoint with stream config
  playout/libretime_playout/config.py
  playout/libretime_playout/liquidsoap/1.1/ls_script.liq
  playout/libretime_playout/liquidsoap/1.3/ls_script.liq
  playout/libretime_playout/liquidsoap/1.4/ls_script.liq
  playout/libretime_playout/liquidsoap/entrypoint.liq.j2
  playout/libretime_playout/liquidsoap/entrypoint.py
  playout/libretime_playout/liquidsoap/main.py
  playout/libretime_playout/liquidsoap/models.py
  playout/requirements.txt
  playout/setup.py
  playout/tests/conftest.py
  playout/tests/fixtures/__init__.py
  playout/tests/fixtures/entrypoint-1.1.liq
  playout/tests/fixtures/entrypoint-1.4.liq
  playout/tests/liquidsoap/entrypoint_test.py
Due: playout

feat(installer): deploy stream config
  install
  installer/config.yml
Due: none

feat(playout): liquidsoap boostrap using new api endpoints
  playout/libretime_playout/player/fetch.py
Due: playout

feat(shared): create stream config models
  shared/libretime_shared/config/__init__.py
  shared/libretime_shared/config/_models.py
  shared/tests/config/base_test.py
  shared/tests/config/models_test.py
Due: shared

feat(playout): allow updating message_offline value
  legacy/application/models/Preference.php
  playout/libretime_playout/liquidsoap/1.1/ls_script.liq
  playout/libretime_playout/liquidsoap/1.3/ls_script.liq
  playout/libretime_playout/liquidsoap/1.4/ls_script.liq
  playout/libretime_playout/liquidsoap/client/_client.py
  playout/libretime_playout/liquidsoap/entrypoint.liq.j2
  playout/libretime_playout/message_handler.py
  playout/libretime_playout/player/fetch.py
  playout/tests/fixtures/entrypoint-1.1.liq
  playout/tests/fixtures/entrypoint-1.4.liq
Due: playout

fix(playout): missing live show events
  api/libretime_api/schedule/models/show.py
  api/libretime_api/schedule/serializers/show.py
  api/libretime_api/schedule/tests/models/test_show.py
  api/schema.yml
  playout/libretime_playout/player/schedule.py
  playout/tests/player/schedule_test.py
Due: api, playout

fix(playout): missing live show events (#2087)
  api/libretime_api/schedule/models/show.py
  api/libretime_api/schedule/serializers/show.py
  api/libretime_api/schedule/tests/models/test_show.py
  api/schema.yml
  playout/libretime_playout/player/schedule.py
  playout/tests/player/schedule_test.py
Due: api, playout

fix(legacy): config default values are not sanitized
  legacy/application/configs/conf.php
Due: none

fix(installer): add liquidsoap config section
  installer/config.yml
Due: none

feat(api): move /api-auth to /api/browser
  api/libretime_api/urls.py
  installer/nginx/libretime.conf
Due: api

feat(api): move /api-auth to /api/browser (#2094)
  api/libretime_api/urls.py
  installer/nginx/libretime.conf
Due: api

ci: build test images for debian bookworm
  .github/workflows/dev-tools.yml
  analyzer/packages.ini
  playout/packages.ini
  tools/packages.py
Due: analyzer, playout

ci: build test images for debian bookworm (#2097)
  .github/workflows/dev-tools.yml
  analyzer/packages.ini
  playout/packages.ini
  tools/packages.py
Due: analyzer, playout

docs: single restart notice for config changes
  docs/admin-manual/setup/configuration.md
Due: none

docs: single restart notice for config changes (#2098)
  docs/admin-manual/setup/configuration.md
Due: none

fix(installer): move non reusable fields from default output
  installer/config.yml
Due: none

fix(legacy): consistent with docs in outputs public_url generation
  legacy/application/models/StreamSetting.php
Due: none

ci: fix docusaurus monorepo config
  .github/renovate.json
Due: none

ci: fix docusaurus monorepo config (#2101)
  .github/renovate.json
Due: none

fix(playout): also shutdown on SIGTERM
  playout/libretime_playout/main.py
  playout/libretime_playout/player/fetch.py
  playout/libretime_playout/player/queue.py
Due: playout

fix(playout): also shutdown on SIGTERM (#2104)
  playout/libretime_playout/main.py
  playout/libretime_playout/player/fetch.py
  playout/libretime_playout/player/queue.py
Due: playout

fix(shared): install tzdata distibutions package
  install
  shared/packages.ini
Due: shared

fix(installer): simplify distro support notice
  install
Due: none
