Repository LibreTime/libretime: changes, and which Codecov flags are due for each by the changed paths.
All: analyzer, api, api-client, playout, shared

codecov.yml:

---
coverage:
  status:
    project: off

flags:
  analyzer:
    paths:
      - analyzer/
    carryforward: true

  api:
    paths:
      - api/
    carryforward: true

  api-client:
    paths:
      - api-client/
    carryforward: true

  playout:
    paths:
      - playout/
    carryforward: true

  shared:
    paths:
      - shared/
    carryforward: true

fix(legacy): jquery i18n translations for plupload
  legacy/application/controllers/LocaleController.php
Due: none

docs(legacy): how to add a new language
  legacy/locale/README.md
Due: none

fix(legacy): gracefully handle missing asset checksum
  legacy/application/common/Assets.php
Due: none

chore(legacy): update locale files
  legacy/locale/cs_CZ/LC_MESSAGES/libretime.po
  legacy/locale/de_AT/LC_MESSAGES/libretime.po
  legacy/locale/de_DE/LC_MESSAGES/libretime.po
  legacy/locale/el_GR/LC_MESSAGES/libretime.po
  legacy/locale/en_CA/LC_MESSAGES/libretime.po
  legacy/locale/en_GB/LC_MESSAGES/libretime.po
  legacy/locale/en_US/LC_MESSAGES/libretime.po
  legacy/locale/es_ES/LC_MESSAGES/libretime.po
  legacy/locale/fr_FR/LC_MESSAGES/libretime.po
  legacy/locale/hr_HR/LC_MESSAGES/libretime.po
  legacy/locale/hu_HU/LC_MESSAGES/libretime.po
  legacy/locale/it_IT/LC_MESSAGES/libretime.po
  legacy/locale/ja_JP/LC_MESSAGES/libretime.po
  legacy/locale/ko_KR/LC_MESSAGES/libretime.po
  legacy/locale/nl_NL/LC_MESSAGES/libretime.po
  legacy/locale/pl_PL/LC_MESSAGES/libretime.po
  legacy/locale/pt_BR/LC_MESSAGES/libretime.po
  legacy/locale/ru_RU/LC_MESSAGES/libretime.po
  legacy/locale/sr_RS/LC_MESSAGES/libretime.po
  legacy/locale/sr_RS@latin/LC_MESSAGES/libretime.po
  legacy/locale/tr_TR/LC_MESSAGES/libretime.po
  legacy/locale/uk_UA/LC_MESSAGES/libretime.po
  legacy/locale/zh_CN/LC_MESSAGES/libretime.po
Due: none

fix(legacy): missing plupload uk_UA translation
  legacy/application/assets.json
  legacy/public/js/plupload/i18n/uk_UA.js
Due: none

chore: clean pre-commit config
  .pre-commit-config.yaml
Due: none

chore: clean unmaintained centos files
  Vagrantfile
  docs/developer-manual/development/environment.md
  install
  installer/vagrant/centos.sh
Due: none

chore: clean pre-commit config (#2211)
  .pre-commit-config.yaml
Due: none

chore: clean unmaintained centos files (#2212)
  Vagrantfile
  docs/developer-manual/development/environment.md
  install
  installer/vagrant/centos.sh
Due: none

test(analyzer): fix wrong bit_rate values
  analyzer/tests/fixtures/__init__.py
  analyzer/tests/pipeline/analyze_metadata_test.py
Due: analyzer

fix: disable some systemd security features on bionic
  install
Due: none

fix: disable some systemd security features on bionic (#2219)
  install
Due: none

chore: generate changelog for 3.0.0
  CHANGELOG.md
Due: none

feat: drop Ubuntu Bionic support
  .github/workflows/_python.yml
  .github/workflows/api.yml
  .github/workflows/dev-tools.yml
  .github/workflows/legacy.yml
  Vagrantfile
  analyzer/libretime_analyzer/pipeline/_ffmpeg.py
  analyzer/packages.ini
  analyzer/tests/pipeline/analyze_cuepoint_test.py
  analyzer/tests/pipeline/analyze_metadata_test.py
  analyzer/tests/pipeline/analyze_replaygain_test.py
  analyzer/tests/pipeline/ffmpeg_test.py
  api/packages.ini
  docs/developer-manual/development/environment.md
  install
  legacy/packages.ini
  playout/packages.ini
  playout/tests/liquidsoap/client/connection_test.py
  playout/tests/liquidsoap/version_test.py
  shared/packages.ini
  tools/packages.py
  tools/packages_test.py
Due: analyzer, api, playout, shared

feat: drop Python 3.6 support
  analyzer/setup.py
  api-client/setup.py
  api/setup.py
  playout/libretime_playout/player/schedule.py
  playout/requirements.txt
  playout/setup.py
  shared/libretime_shared/datetime.py
  shared/tests/datetime_test.py
  worker/setup.py
Due: analyzer, api, api-client, playout, shared

feat: drop Debian Buster support
  .github/workflows/_python.yml
  .github/workflows/api.yml
  .github/workflows/dev-tools.yml
  .github/workflows/legacy.yml
  Vagrantfile
  analyzer/packages.ini
  analyzer/tests/pipeline/analyze_playability_test.py
  api/packages.ini
  docs/developer-manual/development/environment.md
  install
  legacy/packages.ini
  playout/packages.ini
  playout/tests/liquidsoap/version_test.py
  shared/packages.ini
  tools/packages.py
  tools/packages_test.py
Due: analyzer, api, playout, shared

chore: list distribution releases by release date
  .github/workflows/_python.yml
  .github/workflows/api.yml
  .github/workflows/dev-tools.yml
  .github/workflows/legacy.yml
  analyzer/packages.ini
  analyzer/tests/pipeline/analyze_playability_test.py
  api/packages.ini
  docs/developer-manual/development/environment.md
  install
  legacy/packages.ini
  playout/packages.ini
  shared/packages.ini
  tools/packages.py
  tools/packages_test.py
Due: analyzer, api, playout, shared

feat: drop Liquidsoap 1.1 support
  playout/libretime_playout/liquidsoap/1.1/fdkaac.liq
  playout/libretime_playout/liquidsoap/1.1/ls_lib.liq
  playout/libretime_playout/liquidsoap/1.1/ls_script.liq
  playout/libretime_playout/liquidsoap/1.1/mp3.liq
  playout/libretime_playout/liquidsoap/1.1/ogg.liq
  playout/libretime_playout/liquidsoap/1.1/opus.liq
  playout/libretime_playout/liquidsoap/version.py
Due: playout

feat: drop Liquidsoap 1.3 support
  playout/libretime_playout/liquidsoap/1.3/fdkaac.liq
  playout/libretime_playout/liquidsoap/1.3/ls_lib.liq
  playout/libretime_playout/liquidsoap/1.3/ls_script.liq
  playout/libretime_playout/liquidsoap/1.3/mp3.liq
  playout/libretime_playout/liquidsoap/1.3/ogg.liq
  playout/libretime_playout/liquidsoap/1.3/opus.liq
  playout/libretime_playout/liquidsoap/version.py
Due: playout

test: liquidsoap package from ppa is version 1.4.2
  .github/workflows/dev-tools.yml
  playout/tests/liquidsoap/version_test.py
Due: playout

test: liquidsoap package from ppa is version 1.4.2 (#2223)
  .github/workflows/dev-tools.yml
  playout/tests/liquidsoap/version_test.py
Due: playout

fix(deps): update dependency league/uri to v6.7.2
  legacy/composer.json
  legacy/composer.lock
Due: none

fix(legacy): set platform requirements to php ^7.4
  legacy/composer.json
  legacy/composer.lock
  legacy/tools/composer.json
Due: none

chore: add snapshot target
  playout/Makefile
Due: playout

fix(playout): remove outdated liquidsoap code
  playout/libretime_playout/liquidsoap/1.4/ls_script.liq
  playout/libretime_playout/liquidsoap/entrypoint.liq.j2
  playout/tests/liquidsoap/__snapshots__/entrypoint_test.ambr
  playout/tests/liquidsoap/entrypoint_test.py
Due: playout
