Repository LibreTime/libretime: changes, and which Codecov flags are due for each by the changed paths.
All: analyzer, api, api-client, playout, shared

fix: pin postgresql version in docker-compose
  docker-compose.yml
Due: none

fix: allow overriding docker-compose predefined environment
  docker-compose.yml
Due: none

fix: pin rabbitmq version in docker-compose
  docker-compose.yml
Due: none

docs: docker-compose env variables setup
  docs/admin-manual/setup/install.md
Due: none

docs: add instructions for the sentry setup
  docs/admin-manual/monitoring.md
Due: none

docs: add instructions for the sentry setup (#2441)
  docs/admin-manual/monitoring.md
Due: none

chore: rename branch 3.0.x to stable
  .github/renovate.json
  .github/workflows/analyzer.yml
  .github/workflows/api-client.yml
  .github/workflows/api.yml
  .github/workflows/container.yml
  .github/workflows/docs.yml
  .github/workflows/legacy.yml
  .github/workflows/playout.yml
  .github/workflows/project.yml
  .github/workflows/shared.yml
  .github/workflows/worker.yml
Due: none

test(api): fix linting errors
  api/libretime_api/core/models/preference.py
  api/libretime_api/settings/prod.py
Due: api

test(shared): fix linting errors
  shared/libretime_shared/config/_models.py
Due: shared

fix(api): cast string value to int enum
  api/libretime_api/core/models/preference.py
Due: api

fix(api): cast string value to int enum (#2461)
  api/libretime_api/core/models/preference.py
Due: api

chore(legacy): translated using weblate (Spanish)
  legacy/locale/es_ES/LC_MESSAGES/libretime.po
Due: none

chore(legacy): translated using weblate (Spanish) (#2468)
  legacy/locale/es_ES/LC_MESSAGES/libretime.po
Due: none

chore(legacy): translated using weblate (Spanish) (#2472)
  legacy/locale/es_ES/LC_MESSAGES/libretime.po
Due: none

refactor(api-client): allow custom retry strategy
  api-client/libretime_api_client/_client.py
  api-client/libretime_api_client/v2.py
Due: api-client

feat(api-client): remove unused api v1 calls
  api-client/libretime_api_client/v1.py
Due: api-client

test(api-client): allow linters failure
  api-client/Makefile
Due: api-client

feat(api-client): rewrite api-client v1 using abstract client
  api-client/libretime_api_client/_utils.py
  api-client/libretime_api_client/v1.py
  api-client/tests/utils_test.py
  api-client/tests/v1_test.py
Due: api-client

fix(playout): use new api-client v1
  playout/libretime_playout/main.py
  playout/libretime_playout/notify/main.py
Due: playout

feat(playout): move liquidsoap auth to notify cli
  playout/libretime_playout/liquidsoap/1.4/ls_script.liq
  playout/libretime_playout/liquidsoap/entrypoint.py
  playout/libretime_playout/liquidsoap/liquidsoap_auth.py
  playout/libretime_playout/liquidsoap/templates/entrypoint.liq.j2
  playout/libretime_playout/notify/main.py
  playout/tests/liquidsoap/__snapshots__/entrypoint_test.ambr
Due: playout

feat: use secret_key config field instead of api_key
  api/libretime_api/settings/prod.py
  api/libretime_api/settings/testing.py
  docker/config.dev.yml
  docker/config.yml
  docker/example/config.yml
  docs/admin-manual/setup/configuration.md
  install
  installer/config.yml
  legacy/application/configs/conf.php
  shared/libretime_shared/config/_models.py
Due: api, shared

docs: upgrade by migrating to a new server
  docs/admin-manual/setup/upgrade.md
Due: none

docs: fix database backup and restore commands
  docs/admin-manual/backup.md
Due: none

fix(installer): bump setuptools to ~=67.3
  install
Due: none

test(playout): class creation
  playout/tests/message_handler_test.py
  playout/tests/player/fetch_test.py
  playout/tests/player/file_test.py
  playout/tests/player/liquidsoap_test.py
  playout/tests/player/push_test.py
  playout/tests/player/queue_test.py
Due: playout

fix(playout): quote incompatible <py3.9 type hints
  playout/libretime_playout/main.py
  playout/libretime_playout/message_handler.py
  playout/libretime_playout/player/fetch.py
  playout/libretime_playout/player/file.py
  playout/libretime_playout/player/push.py
  playout/libretime_playout/player/queue.py
Due: playout

feat: use secret_key config field instead of api_key (#2444)
  api/libretime_api/settings/prod.py
  api/libretime_api/settings/testing.py
  docker/config.dev.yml
  docker/config.yml
  docker/example/config.yml
  docs/admin-manual/setup/configuration.md
  install
  installer/config.yml
  legacy/application/configs/conf.php
  shared/libretime_shared/config/_models.py
Due: api, shared

fix(installer): bump setuptools to ~=67.3 (#2387)
  install
Due: none

Path conditions:
  analyzer: any of: analyzer/
  api: any of: api/
  api-client: any of: api-client/
  playout: any of: playout/
  shared: any of: shared/
