Repository LibreTime/libretime: changes, and which Codecov flags are due for each by the changed paths.
All: analyzer, api, api-client, playout, shared

test(shared): move config tests
  shared/tests/config/base_test.py
Due: shared

chore: generate a config.schema.json
  .github/workflows/project.yml
  config.schema.json
  installer/config.yml
  tools/Makefile
  tools/generate_config_schema.py
Due: none

fix(shared): remove unused field from rabbitmq config
  shared/libretime_shared/config/_models.py
Due: shared

fix(shared): remove unused field from rabbitmq config (#2012)
  shared/libretime_shared/config/_models.py
Due: shared

feat(installer): use ed for config update
  install
Due: none

feat(installer): use ed for config update (#2013)
  install
Due: none

docs: use dedicated backup procedure for airtime
  docs/admin-manual/setup/migrate-from-airtime.md
Due: none

docs: add out of date warning to custom auth setup
  docs/admin-manual/custom-authentication.md
Due: none

docs: edit timezone during setup
  docs/admin-manual/setup/install.md
Due: none

chore: remove adminer from compose stack
  docker-compose.yml
Due: none

chore: update postgres in compose stack
  docker-compose.yml
Due: none

chore: add rabbitmq healthcheck in compose stack
  docker-compose.yml
Due: none

chore(deps): upgrade website packages
  website/yarn.lock
Due: none

chore(deps): upgrade docusaurus to v2.0.1
  website/package.json
  website/yarn.lock
Due: none

chore(deps): upgrade clsx to v1.2.1
  website/package.json
Due: none

chore(deps): upgrade mermaid packages
  website/package.json
  website/yarn.lock
Due: none

chore(deps): upgrade typescript packages
  website/package.json
  website/yarn.lock
Due: none

docs: check system time config before installing
  docs/admin-manual/server-time.md
  docs/admin-manual/setup/install.md
Due: none

docs: check system time config before installing (#2019)
  docs/admin-manual/server-time.md
  docs/admin-manual/setup/install.md
Due: none

refactor(playout): remove unused variable
  playout/libretime_playout/liquidsoap/1.1/ls_script.liq
  playout/libretime_playout/liquidsoap/1.3/ls_script.liq
  playout/libretime_playout/liquidsoap/1.4/ls_script.liq
Due: playout

refactor(playout): remove unused variable (#2021)
  playout/libretime_playout/liquidsoap/1.1/ls_script.liq
  playout/libretime_playout/liquidsoap/1.3/ls_script.liq
  playout/libretime_playout/liquidsoap/1.4/ls_script.liq
Due: playout

feat: move off_air_meta stream setting to pref table
  api/libretime_api/legacy/migrations/0037_3_0_0_alpha_14_1.py
  api/libretime_api/legacy/migrations/__init__.py
  api/libretime_api/legacy/migrations/sql/data.sql
  legacy/application/controllers/PreferenceController.php
  legacy/application/forms/StreamSetting.php
  legacy/application/models/Preference.php
  legacy/application/models/StreamSetting.php
Due: api

feat: move off_air_meta stream setting to pref table (#2023)
  api/libretime_api/legacy/migrations/0037_3_0_0_alpha_14_1.py
  api/libretime_api/legacy/migrations/__init__.py
  api/libretime_api/legacy/migrations/sql/data.sql
  legacy/application/controllers/PreferenceController.php
  legacy/application/forms/StreamSetting.php
  legacy/application/models/Preference.php
  legacy/application/models/StreamSetting.php
Due: api

feat: move stream liquisoap status to pref table
  api/libretime_api/legacy/migrations/0038_3_0_0_alpha_14_2.py
  api/libretime_api/legacy/migrations/__init__.py
  legacy/application/controllers/ApiController.php
  legacy/application/controllers/PreferenceController.php
  legacy/application/models/Preference.php
  legacy/application/models/StreamSetting.php
Due: api

feat: move stream stats status to pref table
  api/libretime_api/legacy/migrations/0039_3_0_0_alpha_14_3.py
  api/libretime_api/legacy/migrations/__init__.py
  legacy/application/controllers/ApiController.php
  legacy/application/controllers/ListenerstatController.php
  legacy/application/models/Preference.php
  legacy/application/models/StreamSetting.php
  playout/libretime_playout/stats.py
Due: api, playout

fix(playout): replace deprecated harbor.bind_addr
  playout/libretime_playout/liquidsoap/1.3/ls_script.liq
  playout/libretime_playout/liquidsoap/1.4/ls_script.liq
Due: playout

fix(playout): replace deprecated harbor.bind_addr (#2025)
  playout/libretime_playout/liquidsoap/1.3/ls_script.liq
  playout/libretime_playout/liquidsoap/1.4/ls_script.liq
Due: playout

Path conditions:
  analyzer: any of: analyzer/
  api: any of: api/
  api-client: any of: api-client/
  playout: any of: playout/
  shared: any of: shared/
