Repository LibreTime/libretime: changes, and which Codecov flags are due for each by the changed paths.
All: analyzer, api, api-client, playout, shared

codecov.yml:

---
coverage:
  status:
    project: off

flags:
  analyzer:
    paths:
      - analyzer/
    carryforward: true

  api:
    paths:
      - api/
    carryforward: true

  api-client:
    paths:
      - api-client/
    carryforward: true

  playout:
    paths:
      - playout/
    carryforward: true

  shared:
    paths:
      - shared/
    carryforward: true

fix: nginx depends on legacy in docker-compose
  docker-compose.yml
Due: none

fix: nginx depends on legacy in docker-compose (#2147)
  docker-compose.yml
Due: none

chore: remove unused variable
  .github/workflows/container.yml
Due: none

chore: run vagrant post-install before libretime start
  Vagrantfile
Due: none

chore: run vagrant post-install before libretime start (#2149)
  Vagrantfile
Due: none

docs: add docker-compose ps command
  docs/admin-manual/setup/install.md
Due: none

docs: add docker-compose ps command (#2150)
  docs/admin-manual/setup/install.md
Due: none

docs: add tip to use yq for configuration upgrade
  docs/admin-manual/setup/configuration.md
Due: none

chore(installer): migrate instructions on upgrade
  install
Due: none

chore(api): rename legacy migration files
  api/libretime_api/legacy/migrations/0037_move_stream_settings_to_preferences.py
  api/libretime_api/legacy/migrations/0038_remove_stream_settings_liquidsoap_status.py
  api/libretime_api/legacy/migrations/0039_remove_stream_settings_stats_status.py
Due: api

chore: bump legacy schema version
  api/libretime_api/legacy/migrations/0040_bump_legacy_schema_version.py
  api/libretime_api/legacy/migrations/__init__.py
Due: api

chore(playout): add types-backports dependency
  playout/setup.py
Due: playout

refactor(playout): move daemon flag to thread class
  playout/libretime_playout/main.py
  playout/libretime_playout/player/fetch.py
  playout/libretime_playout/player/file.py
  playout/libretime_playout/player/push.py
  playout/libretime_playout/player/queue.py
  playout/libretime_playout/recorder.py
Due: playout

fix(playout): remove shutdown_handler
  playout/libretime_playout/main.py
  playout/libretime_playout/player/fetch.py
  playout/libretime_playout/player/queue.py
Due: playout

feat(playout): move message handling to main thread
  playout/libretime_playout/main.py
  playout/libretime_playout/message_handler.py
Due: playout

chore: add changelog generator
  .chglog/CHANGELOG.md.tpl
  .chglog/config.yml
  CHANGELOG.md
  Makefile
  docs/developer-manual/development/releases.md
  tools/changelog.sh
Due: none

chore: generate changelog for 3.0.0-alpha.11
  CHANGELOG.md
Due: none

chore: generate changelog for 3.0.0-alpha.12
  CHANGELOG.md
Due: none

chore: generate changelog for 3.0.0-alpha.13
  CHANGELOG.md
Due: none

chore: generate changelog for 3.0.0-beta.0
  CHANGELOG.md
Due: none

docs: remove UI timezone configuration suggestion
  docs/admin-manual/setup/install.md
  website/versioned_docs/version-3.0.0-beta.0/admin-manual/setup/install.md
Due: none

docs: remove UI timezone configuration suggestion (#2158)
  docs/admin-manual/setup/install.md
  website/versioned_docs/version-3.0.0-beta.0/admin-manual/setup/install.md
Due: none

ci: ignore changelog for closed reference notifier
  .github/workflows/housekeeping.yml
Due: none

ci: don't check github.com/libretime/libretime/(issues|pulls) links
  .github/workflows/housekeeping.yml
Due: none
