Repository LibreTime/libretime: changes, and which Codecov flags are due for each by the changed paths.
All: analyzer, api, api-client, playout, shared

codecov.yml:

---
coverage:
  status:
    project: off

flags:
  analyzer:
    paths:
      - analyzer/
    carryforward: true

  api:
    paths:
      - api/
    carryforward: true

  api-client:
    paths:
      - api-client/
    carryforward: true

  playout:
    paths:
      - playout/
    carryforward: true

  shared:
    paths:
      - shared/
    carryforward: true

fix(playout): legacy pushes non validated data
  playout/libretime_playout/liquidsoap/client/_client.py
Due: playout

test(playout): allow pylint failure
  playout/Makefile
Due: playout

fix(shared): return type confusion
  shared/libretime_shared/config/_models.py
Due: shared

refactor(playout): fix linting errors
  playout/libretime_playout/history/stats.py
  playout/libretime_playout/main.py
  playout/libretime_playout/message_handler.py
  playout/libretime_playout/notify/main.py
  playout/libretime_playout/player/fetch.py
  playout/libretime_playout/player/file.py
  playout/libretime_playout/player/liquidsoap.py
  playout/libretime_playout/player/liquidsoap_gateway.py
  playout/libretime_playout/player/push.py
  playout/pyproject.toml
  playout/tests/liquidsoap/version_test.py
Due: playout

fix(playout): explicit ogg vorbis icecast encoder
  playout/libretime_playout/liquidsoap/templates/outputs.liq.j2
  playout/tests/liquidsoap/__snapshots__/entrypoint_test.ambr
Due: playout

test(playout): silence existing broad-exception-caught errors
  playout/libretime_playout/history/stats.py
  playout/libretime_playout/message_handler.py
  playout/libretime_playout/player/fetch.py
  playout/libretime_playout/player/file.py
  playout/libretime_playout/player/push.py
  playout/libretime_playout/player/queue.py
Due: playout

refactor(playout): generate entrypoint to string
  playout/libretime_playout/liquidsoap/entrypoint.py
  playout/libretime_playout/liquidsoap/main.py
  playout/tests/liquidsoap/entrypoint_test.py
Due: playout

fix(playout): prevent unbound variables
  playout/libretime_playout/player/fetch.py
Due: playout

refactor(playout): remove unused recorder
  playout/libretime_playout/main.py
  playout/libretime_playout/message_handler.py
  playout/libretime_playout/recorder.py
Due: playout

Add authentication to the django api
  api/libretime_api/authentication/__init__.py
  api/libretime_api/authentication/admin.py
  api/libretime_api/authentication/apps.py
  api/libretime_api/authentication/migrations/__init__.py
  api/libretime_api/authentication/models.py
  api/libretime_api/authentication/templates/login.html
  api/libretime_api/authentication/tests.py
  api/libretime_api/authentication/urls.py
  api/libretime_api/authentication/views.py
  api/libretime_api/settings/_internal.py
  api/libretime_api/urls.py
  docker-compose.override.yml
Due: api

Copied the login form from legacy
  api/libretime_api/authentication/templates/auth_base.html
  api/libretime_api/authentication/templates/login.html
  api/libretime_api/authentication/urls.py
Due: api

Added password-reset flow to django
  api/libretime_api/authentication/templates/login.html
  api/libretime_api/authentication/templates/password_reset.html
  api/libretime_api/authentication/templates/password_reset_complete.html
  api/libretime_api/authentication/templates/password_reset_confirm.html
  api/libretime_api/authentication/templates/password_reset_done.html
  api/libretime_api/authentication/templates/password_reset_email.html
  api/libretime_api/authentication/templates/password_reset_subject.html
  api/libretime_api/authentication/urls.py
  api/libretime_api/core/models/user.py
  api/libretime_api/legacy/migrations/0045_add_user_is_active.py
  api/libretime_api/legacy/migrations/__init__.py
Due: api

Changes the login link to the new login
  legacy/application/views/scripts/index/index.phtml
Due: none

Added email configuration for password reset emails Django must send password-reset emails via smtp
  api/libretime_api/settings/_schema.py
  api/libretime_api/settings/prod.py
  docker/config.yml
  docker/example/config.yml
  installer/config.yml
  shared/libretime_shared/config/__init__.py
  shared/libretime_shared/config/_models.py
Due: api, shared

chore(legacy): translated using weblate (French)
  legacy/locale/fr_FR/LC_MESSAGES/libretime.po
Due: none

chore(legacy): translated using weblate (French) (#2429)
  legacy/locale/fr_FR/LC_MESSAGES/libretime.po
Due: none

chore(legacy): translated using weblate (Portuguese (Brazil))
  legacy/locale/pt_BR/LC_MESSAGES/libretime.po
Due: none

chore(legacy): translated using weblate (Portuguese (Brazil)) (#2434)
  legacy/locale/pt_BR/LC_MESSAGES/libretime.po
Due: none

ci: allow Falso as a word in codespell
  .codespellignore
Due: none

ci: run all tests on python tools changes
  .github/workflows/analyzer.yml
  .github/workflows/api-client.yml
  .github/workflows/api.yml
  .github/workflows/playout.yml
  .github/workflows/shared.yml
  .github/workflows/worker.yml
Due: none

test(api): fix linting errors
  api/libretime_api/core/models/preference.py
  api/libretime_api/settings/prod.py
Due: api

test(shared): fix linting errors
  shared/libretime_shared/config/_models.py
Due: shared

fix(api): explicit FileImportStatusEnum in schema
  api/libretime_api/settings/_internal.py
Due: api

feat: add python packages version
  analyzer/libretime_analyzer/__init__.py
  api-client/libretime_api_client/__init__.py
  api/libretime_api/__init__.py
  playout/libretime_playout/__init__.py
  shared/libretime_shared/__init__.py
  worker/libretime_worker/__init__.py
Due: analyzer, api, api-client, playout, shared

feat: add sentry sdk
  .pre-commit-config.yaml
  Dockerfile
  analyzer/Makefile
  analyzer/libretime_analyzer/main.py
  analyzer/setup.py
  api/Makefile
  api/libretime_api/settings/_internal.py
  api/setup.py
  playout/Makefile
  playout/libretime_playout/main.py
  playout/setup.py
  worker/Makefile
  worker/libretime_worker/tasks.py
  worker/setup.py
Due: analyzer, api, playout

fix: pin rabbitmq version in docker-compose
  docker-compose.yml
Due: none

fix: pin postgresql version in docker-compose
  docker-compose.yml
Due: none

fix: allow overriding docker-compose predefined environment
  docker-compose.yml
Due: none

fix: move docker specific setup to dockerfile
  Dockerfile
  docker-compose.yml
Due: none

docs: docker-compose env variables setup
  docs/admin-manual/setup/install.md
Due: none
