Repository LibreTime/libretime: changes, and which Codecov flags are due for each by the changed paths.
All: analyzer, api, api-client, playout, shared

codecov.yml:

---
coverage:
  status:
    project: off

flags:
  analyzer:
    paths:
      - analyzer/
    carryforward: true

  api:
    paths:
      - api/
    carryforward: true

  api-client:
    paths:
      - api-client/
    carryforward: true

  playout:
    paths:
      - playout/
    carryforward: true

  shared:
    paths:
      - shared/
    carryforward: true

feat(api-client): remove unused api v1 calls
  api-client/libretime_api_client/v1.py
Due: api-client

refactor(api-client): allow custom retry strategy
  api-client/libretime_api_client/_client.py
  api-client/libretime_api_client/v2.py
Due: api-client

chore: move mime type utils
  playout/libretime_playout/mime.types
  playout/libretime_playout/player/fetch.py
  playout/libretime_playout/utils.py
Due: playout

feat(playout): replace schedule event dicts with objects
  legacy/application/models/Schedule.php
  playout/libretime_playout/player/events.py
  playout/libretime_playout/player/fetch.py
  playout/libretime_playout/player/file.py
  playout/libretime_playout/player/liquidsoap.py
  playout/libretime_playout/player/liquidsoap_gateway.py
  playout/libretime_playout/player/push.py
  playout/libretime_playout/player/queue.py
  playout/libretime_playout/player/schedule.py
  playout/tests/player/liquidsoap_gateway_test.py
  playout/tests/player/schedule_test.py
Due: playout

feat(legacy): enable strict_type
  legacy/.php-cs-fixer.php
Due: none

wip
  docker-compose.override.yml
  legacy/Makefile
  legacy/application/services/ShowService.php
  legacy/tools/composer.json
Due: none

chore: update pre-commit exclude regex
  .pre-commit-config.yaml
Due: none

docs: don't translate tip wrapper
  website/i18n/fr/docusaurus-plugin-content-docs/current/user-manual/dashboard.md
  website/i18n/fr/docusaurus-plugin-content-docs/current/user-manual/playlists.md
Due: none

docs: translate user-manual to french
  website/i18n/fr/docusaurus-plugin-content-docs/current/user-manual/calendar.md
  website/i18n/fr/docusaurus-plugin-content-docs/current/user-manual/dashboard.md
  website/i18n/fr/docusaurus-plugin-content-docs/current/user-manual/listener-stats.md
  website/i18n/fr/docusaurus-plugin-content-docs/current/user-manual/live-broadcast.md
  website/i18n/fr/docusaurus-plugin-content-docs/current/user-manual/playlists.md
  website/i18n/fr/docusaurus-plugin-content-docs/current/user-manual/playout-history.md
  website/i18n/fr/docusaurus-plugin-content-docs/current/user-manual/podcasts.md
  website/i18n/fr/docusaurus-plugin-content-docs/current/user-manual/preparing-media.md
  website/i18n/fr/docusaurus-plugin-content-docs/current/user-manual/scheduling-shows.md
  website/i18n/fr/docusaurus-plugin-content-docs/current/user-manual/settings.md
  website/i18n/fr/docusaurus-plugin-content-docs/current/user-manual/status.md
  website/i18n/fr/docusaurus-plugin-content-docs/current/user-manual/users.md
  website/i18n/fr/docusaurus-plugin-content-docs/current/user-manual/webstreams.md
Due: none

feat(api): add cors headers middleware
  api/libretime_api/settings/_internal.py
  api/libretime_api/settings/prod.py
  api/requirements.txt
  api/setup.py
  shared/libretime_shared/config/_models.py
Due: api, shared

feat(api): add cors headers middleware (#2479)
  api/libretime_api/settings/_internal.py
  api/libretime_api/settings/prod.py
  api/requirements.txt
  api/setup.py
  shared/libretime_shared/config/_models.py
Due: api, shared

chore: backport #2461
  api/libretime_api/core/models/preference.py
Due: api

chore: backport #2461 (#2480)
  api/libretime_api/core/models/preference.py
Due: api

chore(legacy): translated using weblate (Portuguese (Brazil))
  legacy/locale/pt_BR/LC_MESSAGES/libretime.po
Due: none

chore(legacy): translated using weblate (Portuguese (Brazil)) (#2484)
  legacy/locale/pt_BR/LC_MESSAGES/libretime.po
Due: none

chore: create symlink to the contributing docs
  CONTRIBUTING.md
Due: none

docs: move contributing to docs/contribute
  docs/contribute.md
Due: none

docs: split developer and contributor manual
  docs/admin-manual/setup/install.md
  docs/contributor-manual/README.md
  docs/contributor-manual/_category_.yml
  docs/contributor-manual/design/_category_.yml
  docs/contributor-manual/design/architecture.md
  docs/contributor-manual/design/database.md
  docs/contributor-manual/development-environment.md
  docs/contributor-manual/releases.md
  docs/developer-manual/README.md
  docs/developer-manual/development/_category_.yml
  docs/releases/3.0.0-beta.0.md
  docs/releases/3.0.0.md
Due: none

docs: extract dev workflows from contributing docs
  docs/contribute.md
  docs/contributor-manual/README.md
  docs/contributor-manual/design/database.md
  docs/contributor-manual/development-environment.md
  docs/contributor-manual/development-workflows.md
Due: none

docs: add some history notes
  docs/README.md
Due: none

test(playout): move liq_conn fixture to conftest
  playout/tests/liquidsoap/client/conftest.py
  playout/tests/liquidsoap/client/connection_test.py
Due: playout

fix(playout): catch oserror in liquidsoap client
  playout/libretime_playout/liquidsoap/client/_client.py
  playout/libretime_playout/liquidsoap/client/_connection.py
  playout/libretime_playout/player/fetch.py
  playout/libretime_playout/player/liquidsoap_gateway.py
Due: playout

test(playout): liquidsoap wait for version
  playout/libretime_playout/liquidsoap/client/__init__.py
  playout/tests/liquidsoap/client/client_test.py
  playout/tests/liquidsoap/client/conftest.py
Due: playout

style: format code using php-cs-fixer
  legacy/application/services/ThirdPartyService.php
Due: none

chore: fix CONTRIBUTING symlink
  CONTRIBUTING.md
Due: none

chore: fix CONTRIBUTING symlink again
  CONTRIBUTING.md
Due: none

chore: fix dot list numbers
  docs/contribute.md
Due: none

chore: adapt c4 to match our branches and releases requirements
  docs/contribute.md
Due: none
