Repository LibreTime/libretime: changes, and which Codecov flags are due for each by the changed paths.
All: analyzer, api, api-client, playout, shared

refactor: improve backports imports
  playout/libretime_playout/recorder.py
  shared/libretime_shared/config/_models.py
Due: playout, shared

chore: add docs dev setup with the website (#2340)
  .gitignore
  Makefile
Due: none

fix(legacy): advanced search by track type id
  legacy/application/models/Datatables.php
Due: none

refactor(legacy): remove unused variable
  legacy/application/models/StoredFile.php
Due: none

fix(legacy): refresh lock files
  legacy/composer.lock
Due: none

fix(legacy): move forked deps to the libretime namespace
  legacy/composer.json
  legacy/composer.lock
  legacy/tests/application/bootstrap.php
Due: none

chore: improve dockerfile run calls (#2273)
  Dockerfile
Due: none

docs: add DOCKER_BUILDKIT env variable for docker-compose v1 (#2270)
  docs/developer-manual/development/environment.md
Due: none

chore: split test and coverage tasks
  .github/workflows/_python.yml
  .github/workflows/api.yml
  analyzer/Makefile
  analyzer/pyproject.toml
  api-client/Makefile
  api-client/pyproject.toml
  api/Makefile
  api/pyproject.toml
  api/setup.py
  playout/Makefile
  playout/pyproject.toml
  shared/Makefile
  shared/pyproject.toml
  tools/python.mk
  worker/Makefile
  worker/pyproject.toml
Due: analyzer, api, api-client, playout, shared

chore: don't use venv activation in makefile
  api/Makefile
  tools/python.mk
Due: api

ci: test project weekly
  .github/workflows/analyzer.yml
  .github/workflows/api-client.yml
  .github/workflows/api.yml
  .github/workflows/legacy.yml
  .github/workflows/playout.yml
  .github/workflows/shared.yml
  .github/workflows/worker.yml
Due: none

chore: move isort config to pyproject.toml
  analyzer/pyproject.toml
  api-client/pyproject.toml
  api/pyproject.toml
  playout/pyproject.toml
  shared/pyproject.toml
  tools/pyproject.toml
  tools/python.mk
  worker/pyproject.toml
Due: analyzer, api, api-client, playout, shared

chore: update cpu count lookup
  tools/python.mk
Due: none

style: format code using black
  analyzer/libretime_analyzer/status_reporter.py
  playout/libretime_playout/history/stats.py
  playout/libretime_playout/player/fetch.py
  playout/libretime_playout/player/liquidsoap_gateway.py
  playout/libretime_playout/recorder.py
  shared/libretime_shared/config/_models.py
  shared/tests/config/base_test.py
  tools/extract_requirements.py
Due: analyzer, playout, shared

fix(legacy): improve error messages and logs
  legacy/application/common/CORSHelper.php
  legacy/application/configs/constants.php
  legacy/application/views/scripts/error/error-500.phtml
Due: none

docs: check logs before checking services status
  docs/admin-manual/troubleshooting.md
Due: none

docs: add small faq for troubleshooting
  docs/admin-manual/troubleshooting.md
Due: none

chore: fix pylint error
  tools/packages.py
Due: none

chore: set dev dependencies version ranges
  analyzer/setup.py
  api-client/setup.py
  api/setup.py
  playout/setup.py
  shared/setup.py
  tools/python-requirements.txt
  tools/python.mk
  worker/setup.py
Due: analyzer, api, api-client, playout, shared

chore: raise from specific exceptions
  api/libretime_api/legacy/migrations/_migrations.py
  api/libretime_api/legacy/migrations/_version.py
  playout/libretime_playout/main.py
  playout/libretime_playout/player/file.py
  playout/libretime_playout/timeout.py
  tools/packages.py
Due: api, playout

chore: add isort pre-commit hook
  .pre-commit-config.yaml
  analyzer/pyproject.toml
  api-client/pyproject.toml
  api/pyproject.toml
  playout/pyproject.toml
  pyproject.toml
  shared/pyproject.toml
  worker/pyproject.toml
Due: analyzer, api, api-client, playout, shared

chore: remove venv activation
  playout/Makefile
Due: playout

test(playout): refresh snapshots after major upgrade
  playout/tests/liquidsoap/__snapshots__/entrypoint_test.ambr
Due: playout

Path conditions:
  analyzer: any of: analyzer/
  api: any of: api/
  api-client: any of: api-client/
  playout: any of: playout/
  shared: any of: shared/
