Repository LibreTime/libretime: changes, and which Codecov flags are due for each by the changed paths.
All: analyzer, api, api-client, playout, shared

codecov.yml:

---
coverage:
  status:
    project: off

flags:
  analyzer:
    paths:
      - analyzer/
    carryforward: true

  api:
    paths:
      - api/
    carryforward: true

  api-client:
    paths:
      - api-client/
    carryforward: true

  playout:
    paths:
      - playout/
    carryforward: true

  shared:
    paths:
      - shared/
    carryforward: true

fix(legacy): fix PHP 8.2 dynamic properties and deprecations (#3241)
  legacy/application/common/Database.php
  legacy/application/configs/navigation.php
  legacy/application/models/Webstream.php
  legacy/application/models/airtime/om/BaseCcBlockcontentsQuery.php
  legacy/application/models/airtime/om/BaseCcPlaylistcontentsQuery.php
  legacy/application/modules/rest/controllers/RouteController.php
  legacy/application/services/ShowService.php
Due: none

chore: fix cp recursive flag for pre-commit (#3245)
  tools/ci-sync-docs.sh
Due: none

fix(docker): apply vine Python 3.11 patch in playout container
  Dockerfile
Due: none

chore(legacy): update locales
  legacy/locale/cs_CZ/LC_MESSAGES/libretime.po
  legacy/locale/de_AT/LC_MESSAGES/libretime.po
  legacy/locale/de_DE/LC_MESSAGES/libretime.po
  legacy/locale/el_GR/LC_MESSAGES/libretime.po
  legacy/locale/en_CA/LC_MESSAGES/libretime.po
  legacy/locale/en_GB/LC_MESSAGES/libretime.po
  legacy/locale/en_US/LC_MESSAGES/libretime.po
  legacy/locale/es_ES/LC_MESSAGES/libretime.po
  legacy/locale/fr_FR/LC_MESSAGES/libretime.po
  legacy/locale/hr_HR/LC_MESSAGES/libretime.po
  legacy/locale/hu_HU/LC_MESSAGES/libretime.po
  legacy/locale/it_IT/LC_MESSAGES/libretime.po
  legacy/locale/ja_JP/LC_MESSAGES/libretime.po
  legacy/locale/ko_KR/LC_MESSAGES/libretime.po
  legacy/locale/nb_NO/LC_MESSAGES/libretime.po
  legacy/locale/nl_NL/LC_MESSAGES/libretime.po
  legacy/locale/pl_PL/LC_MESSAGES/libretime.po
  legacy/locale/pt_BR/LC_MESSAGES/libretime.po
  legacy/locale/ru_RU/LC_MESSAGES/libretime.po
  legacy/locale/sr_RS/LC_MESSAGES/libretime.po
  legacy/locale/sr_RS@latin/LC_MESSAGES/libretime.po
  legacy/locale/tr_TR/LC_MESSAGES/libretime.po
  legacy/locale/uk_UA/LC_MESSAGES/libretime.po
  legacy/locale/zh_CN/LC_MESSAGES/libretime.po
Due: none

fix(legacy): replace deprecated strftime() with date() in Propel Base models (#3240)
  legacy/application/models/airtime/om/BaseCcBlock.php
  legacy/application/models/airtime/om/BaseCcBlockcontents.php
  legacy/application/models/airtime/om/BaseCcFiles.php
  legacy/application/models/airtime/om/BaseCcLiveLog.php
  legacy/application/models/airtime/om/BaseCcPlaylist.php
  legacy/application/models/airtime/om/BaseCcPlaylistcontents.php
  legacy/application/models/airtime/om/BaseCcPlayoutHistory.php
  legacy/application/models/airtime/om/BaseCcSchedule.php
  legacy/application/models/airtime/om/BaseCcShowDays.php
  legacy/application/models/airtime/om/BaseCcShowInstances.php
  legacy/application/models/airtime/om/BaseCcShowRebroadcast.php
  legacy/application/models/airtime/om/BaseCcSubjs.php
  legacy/application/models/airtime/om/BaseCcSubjsToken.php
  legacy/application/models/airtime/om/BaseCcTimestamp.php
  legacy/application/models/airtime/om/BaseCcWebstream.php
  legacy/application/models/airtime/om/BaseCcWebstreamMetadata.php
  legacy/application/models/airtime/om/BaseCeleryTasks.php
  legacy/application/models/airtime/om/BaseImportedPodcast.php
  legacy/application/models/airtime/om/BasePodcastEpisodes.php
  legacy/application/models/airtime/om/BaseThirdPartyTrackReferences.php
Due: none

fix(playout): add vine/five.py Python 3.11 compatibility patch (#3243)
  Dockerfile
  install
  playout/vine-python311.patch
Due: playout

fix(legacy): add PHP 8.2 vendor compatibility patch for ZF1
  install
  legacy/vendor-zf1-php82.patch
Due: none

fix(legacy): add PHP 8.2 vendor compatibility patch for ZF1 (#3242)
  install
  legacy/vendor-zf1-php82.patch
Due: none

chore(main): release 4.6.0
  .github/release-please-manifest.json
  CHANGELOG.md
  analyzer/setup.py
  api-client/setup.py
  api/setup.py
  playout/setup.py
  shared/setup.py
  worker/setup.py
Due: analyzer, api, api-client, playout, shared

feat(ci): add Debian 12 (Bookworm) and PHP 8.2 to CI test matrix
  .github/workflows/analyzer.yml
  .github/workflows/api-client.yml
  .github/workflows/legacy.yml
  .github/workflows/playout.yml
  .github/workflows/shared.yml
  .github/workflows/worker.yml
Due: none

fix/ci: apply vine Python 3.11 patch in bookworm CI tests
  .github/workflows/_python-test.yml
Due: none

fix(analyzer): skip WMA playability test on bookworm
  analyzer/tests/pipeline/analyze_playability_test.py
Due: analyzer

fix(legacy): allow PHP 8.x in composer.json version constraint
  legacy/composer.json
  legacy/tools/composer.json
Due: none

fix: remove trailing whitespace from patch files
  legacy/vendor-zf1-php82.patch
  playout/vine-python311.patch
Due: playout

fix(ci): apply vine patch to venv and add bookworm to version test
  .github/workflows/_python-test.yml
  playout/tests/liquidsoap/version_test.py
Due: playout

fix(playout): remove trailing whitespace in vine Python 3.11 patch
  legacy/vendor-zf1-php82.patch
  playout/vine-python311.patch
Due: playout

fix(playout): remove trailing whitespace in vendor-zf1-php82.patch and vine-python311.patch files (#3250)
  legacy/vendor-zf1-php82.patch
  playout/vine-python311.patch
Due: playout

fix(api): disable import-untyped mypy error code
  api/pyproject.toml
Due: api

fix(api): disable import-untyped mypy error code (#3249)
  api/pyproject.toml
Due: api

fix(playout): restarting liquidsoap lets the connection go stale. also enforces thread safety
  playout/libretime_playout/liquidsoap/client/_client.py
  playout/libretime_playout/liquidsoap/client/_connection.py
  playout/libretime_playout/player/queue.py
Due: playout

lint-format
  playout/libretime_playout/liquidsoap/client/_client.py
Due: playout

add test cases
  playout/tests/liquidsoap/client/client_test.py
  playout/tests/liquidsoap/client/connection_close_test.py
Due: playout

fix lint and format errors
  playout/tests/liquidsoap/client/client_test.py
  playout/tests/liquidsoap/client/connection_close_test.py
Due: playout

clean up tests
  playout/tests/liquidsoap/client/client_test.py
  playout/tests/liquidsoap/client/connection_close_test.py
Due: playout

fix(legacy): use audio/flac mime type in jPlayer flac codec check
  legacy/public/js/jplayer/jquery.jplayer.min.js
  legacy/public/js/jplayer/popcorn/popcorn.jplayer.js
Due: none

chore: fix unpinned rabbitmq version for dev setup
  docker-compose.override.yml
Due: none

chore: fix unpinned rabbitmq version for dev setup (#3271)
  docker-compose.override.yml
Due: none

feat: drop support for php7.4
  .github/workflows/legacy.yml
  Dockerfile
  legacy/application/configs/conf.php
  legacy/composer.json
  legacy/composer.lock
Due: none

drop php 7.4
  .github/workflows/legacy.yml
  legacy/composer.json
  legacy/composer.lock
Due: none

missing tool compose.json
  legacy/tools/composer.json
Due: none

test: fix
  legacy/application/services/ShowService.php
  legacy/tests/application/models/database/ScheduleDbTest.php
Due: none

test: also test against php 8.4 in ci
  .github/workflows/legacy.yml
Due: none

chore: add bookworm to packages.ini
  api/packages.ini
  legacy/packages.ini
Due: api

chore: add bookworm to packages.ini (#3274)
  api/packages.ini
  legacy/packages.ini
Due: api

feat: upgrade docker base image to bookworm
  Dockerfile
Due: none

feat: upgrade docker base image to bookworm (#3275)
  Dockerfile
Due: none

chore: fix php-fpm package for bookworm
  legacy/packages.ini
Due: none
