Repository LibreTime/libretime: changes, and which Codecov flags are due for each by the changed paths.
All: analyzer, api, api-client, playout, shared

codecov.yml:

---
coverage:
  status:
    project: off

flags:
  analyzer:
    paths:
      - analyzer/
    carryforward: true

  api:
    paths:
      - api/
    carryforward: true

  api-client:
    paths:
      - api-client/
    carryforward: true

  playout:
    paths:
      - playout/
    carryforward: true

  shared:
    paths:
      - shared/
    carryforward: true

update documentation
  docs/user-manual/settings.md
  legacy/application/controllers/IndexController.php
Due: none

fix merge duplication
  legacy/application/controllers/IndexController.php
Due: none

feat: playout - add internal_url parameter
  docker/config.template.yml
  docker/config.yml
  docker/example/config.yml
  playout/libretime_playout/main.py
Due: playout

fix few nits
  legacy/application/forms/GeneralPreferences.php
  legacy/application/models/Preference.php
  legacy/application/views/scripts/form/preferences_general.phtml
Due: none

docs: update notes
  docs/user-manual/settings.md
Due: none

feat(legacy): disable public radio page and redirect to login (#2903)
  docs/user-manual/settings.md
  legacy/application/controllers/IndexController.php
  legacy/application/controllers/PreferenceController.php
  legacy/application/forms/GeneralPreferences.php
  legacy/application/models/Preference.php
  legacy/application/views/scripts/form/preferences_general.phtml
Due: none

fix whitespace error
  legacy/application/models/Preference.php
Due: none

update formatting to new scheme
  legacy/application/forms/GeneralPreferences.php
  legacy/application/views/scripts/form/preferences_general.phtml
Due: none

fix wrong arg number
  legacy/application/models/Preference.php
Due: none

Simplify code
  legacy/application/models/ShowInstance.php
Due: none

feat(legacy): trim overbooked shows after autoloading a playlist (#2897)
  legacy/application/common/AutoPlaylistManager.php
  legacy/application/controllers/PreferenceController.php
  legacy/application/forms/GeneralPreferences.php
  legacy/application/models/Preference.php
  legacy/application/models/ShowInstance.php
  legacy/application/views/scripts/form/preferences_general.phtml
Due: none

style: format files using black
  analyzer/libretime_analyzer/pipeline/pipeline.py
  api/libretime_api/urls.py
  playout/libretime_playout/main.py
  playout/libretime_playout/notify/main.py
Due: analyzer, api, playout

style: format files with cs fixer
  legacy/application/views/helpers/VersionNotify.php
Due: none

fix(analyzer): backslash non utf-8 data when probing replaygain
  analyzer/libretime_analyzer/pipeline/_ffmpeg.py
Due: analyzer

fix(analyzer): backslash non utf-8 data when probing replaygain (#2931)
  analyzer/libretime_analyzer/pipeline/_ffmpeg.py
Due: analyzer

fix(legacy): really hide fields
  legacy/application/forms/EditAudioMD.php
Due: none

fix(legacy): fix hidden fields in edit file form (#2932)
  legacy/application/forms/EditAudioMD.php
Due: none

chore(legacy): update locales
  legacy/locale/cs_CZ/LC_MESSAGES/libretime.po
  legacy/locale/de_AT/LC_MESSAGES/libretime.po
  legacy/locale/de_DE/LC_MESSAGES/libretime.po
  legacy/locale/el_GR/LC_MESSAGES/libretime.po
  legacy/locale/en_CA/LC_MESSAGES/libretime.po
  legacy/locale/en_GB/LC_MESSAGES/libretime.po
  legacy/locale/en_US/LC_MESSAGES/libretime.po
  legacy/locale/es_ES/LC_MESSAGES/libretime.po
  legacy/locale/fr_FR/LC_MESSAGES/libretime.po
  legacy/locale/hr_HR/LC_MESSAGES/libretime.po
  legacy/locale/hu_HU/LC_MESSAGES/libretime.po
  legacy/locale/it_IT/LC_MESSAGES/libretime.po
  legacy/locale/ja_JP/LC_MESSAGES/libretime.po
  legacy/locale/ko_KR/LC_MESSAGES/libretime.po
  legacy/locale/nl_NL/LC_MESSAGES/libretime.po
  legacy/locale/pl_PL/LC_MESSAGES/libretime.po
  legacy/locale/pt_BR/LC_MESSAGES/libretime.po
  legacy/locale/ru_RU/LC_MESSAGES/libretime.po
  legacy/locale/sr_RS/LC_MESSAGES/libretime.po
  legacy/locale/sr_RS@latin/LC_MESSAGES/libretime.po
  legacy/locale/tr_TR/LC_MESSAGES/libretime.po
  legacy/locale/uk_UA/LC_MESSAGES/libretime.po
  legacy/locale/zh_CN/LC_MESSAGES/libretime.po
Due: none

fest(legacy): add visual cuepoint editor
  legacy/application/assets.json
  legacy/application/controllers/LibraryController.php
  legacy/application/controllers/plugins/PageLayoutInitPlugin.php
  legacy/application/forms/EditAudioMD.php
  legacy/application/views/scripts/edit-file-md.phtml
  legacy/application/views/scripts/library/edit-file-md.phtml
  legacy/public/css/images/753E35DF76BB56F7.png
  legacy/public/css/images/knob_2x.png
  legacy/public/css/images/meterbg.png
  legacy/public/css/images/meterneedle.svg
  legacy/public/css/images/slider.png
  legacy/public/css/styles.css
  legacy/public/js/airtime/library/spl.js
  legacy/public/js/wavesurfer/cursor.js
  legacy/public/js/wavesurfer/cursor.min.js
  legacy/public/js/wavesurfer/libretime.js
  legacy/public/js/wavesurfer/minimap.js
  legacy/public/js/wavesurfer/minimap.min.js
  legacy/public/js/wavesurfer/regions.js
  legacy/public/js/wavesurfer/regions.min.js
  legacy/public/js/wavesurfer/timeline.js
  legacy/public/js/wavesurfer/timeline.min.js
  legacy/public/js/wavesurfer/wavesurfer.js
  legacy/public/js/wavesurfer/wavesurfer.min.js
Due: none

fix replay_gain
  playout/libretime_playout/player/liquidsoap.py
Due: playout

bugfix(playout): fix ignored replay gain
  playout/libretime_playout/liquidsoap/1.4/ls_script.liq
Due: playout

support entering timecode manually
  legacy/application/views/scripts/library/edit-file-md.phtml
Due: none

fix(playout): fix ignored replay_gain
  playout/libretime_playout/liquidsoap/1.4/ls_script.liq
Due: playout

few fixes
  playout/libretime_playout/liquidsoap/2.0/ls_script.liq
Due: playout

CI compliance
  playout/libretime_playout/liquidsoap/2.0/ls_script.liq
Due: playout

support bulk upload when running from docker compose
  api/libretime_api/storage/management/commands/bulk_import.py
  docker-compose.yml
Due: api

lint and docs
  api/libretime_api/storage/management/commands/bulk_import.py
  docs/admin-manual/library.md
Due: api

lint
  api/libretime_api/storage/management/commands/bulk_import.py
Due: api

chore(legacy): translated using weblate (Spanish)
  legacy/locale/es_ES/LC_MESSAGES/libretime.po
Due: none

lint
  api/libretime_api/storage/management/commands/bulk_import.py
  docs/admin-manual/library.md
Due: api

chore(legacy): translations update from Hosted Weblate (#2942)
  legacy/locale/es_ES/LC_MESSAGES/libretime.po
Due: none

check schedule before deleting file
  api/libretime_api/schedule/models/schedule.py
  api/libretime_api/storage/views/file.py
  api/schema.yml
Due: api

update schema.yml
  api/schema.yml
Due: api

update test
  api/libretime_api/storage/tests/views/test_file.py
Due: api

add logger object and traverse full filesystem path.
  api/libretime_api/storage/views/file.py
Due: api

fix datetime code
  api/libretime_api/schedule/models/schedule.py
Due: api

Update api/libretime_api/storage/views/file.py
  api/libretime_api/storage/views/file.py
Due: api

tryfix api tests
  api/libretime_api/storage/tests/views/test_file.py
Due: api

feat(api): implement file deletion
  api/libretime_api/storage/tests/views/test_file.py
  api/libretime_api/storage/views/file.py
Due: api

Fix more tests
  playout/tests/liquidsoap/entrypoint_test.py
  playout/tests/player/schedule_test.py
Due: playout
