Repository LibreTime/libretime: changes, and which Codecov flags are due for each by the changed paths.
All: analyzer, api, api-client, playout, shared

fix(installer): simplify distro support notice (#2106)
  install
Due: none

fix(shared): install tzdata distibutions package (#2105)
  install
  shared/packages.ini
Due: shared

ci: add shared packages to dev container
  .github/workflows/dev-tools.yml
Due: none

fix(installer): config dir should be read only
  install
Due: none

fix(installer): config should not be world readable
  install
Due: none

ci: run pre-commit on all files
  .github/workflows/project.yml
Due: none

fix(legacy): track_type_id should cast to int not text
  legacy/application/models/StoredFile.php
Due: none

fix(legacy): track_type_id should cast to int not text (#2112)
  legacy/application/models/StoredFile.php
Due: none

chore(worker): add types-requests
  worker/setup.py
Due: none

refactor(worker): rewrite extract_filename from download
  worker/libretime_worker/tasks.py
Due: none

test(worker): setup testing
  .github/workflows/worker.yml
  codecov.yml
  worker/Makefile
  worker/tests/conftest.py
  worker/tests/tasks_test.py
Due: none

refactor(worker): add types and rewrite docstring
  worker/libretime_worker/tasks.py
Due: none

test(worker): allow pylint and bandit to fail
  worker/Makefile
Due: none

fix(worker): rewrite podcast download task
  legacy/application/services/PodcastEpisodeService.php
  worker/libretime_worker/tasks.py
  worker/setup.py
  worker/tests/__init__.py
  worker/tests/fixtures/__init__.py
  worker/tests/fixtures/malformed.mp3
  worker/tests/fixtures/s1-stereo-tagged.mp3
  worker/tests/fixtures/s1-stereo.ogg
  worker/tests/tasks_test.py
Due: none

test(playout): use snapshot testing tool
  .pre-commit-config.yaml
  playout/setup.py
  playout/tests/fixtures/__init__.py
  playout/tests/fixtures/entrypoint-1.1.liq
  playout/tests/fixtures/entrypoint-1.4.liq
  playout/tests/liquidsoap/__snapshots__/entrypoint_test.ambr
  playout/tests/liquidsoap/entrypoint_test.py
Due: playout

test(playout): use snapshot testing tool (#2115)
  .pre-commit-config.yaml
  playout/setup.py
  playout/tests/fixtures/__init__.py
  playout/tests/fixtures/entrypoint-1.1.liq
  playout/tests/fixtures/entrypoint-1.4.liq
  playout/tests/liquidsoap/__snapshots__/entrypoint_test.ambr
  playout/tests/liquidsoap/entrypoint_test.py
Due: playout

chore: outdated python packages versions
  analyzer/setup.py
  api-client/setup.py
  api/setup.py
  playout/setup.py
  shared/setup.py
  worker/setup.py
Due: analyzer, api, api-client, playout, shared

chore: update version bump procedure
  Makefile
  docs/developer-manual/development/releases.md
  tools/bump-python-version.sh
Due: none

chore(website): same version range for docusaurus deps
  website/package.json
  website/yarn.lock
Due: none

chore: remove renovate docusaurus monorepo config
  .github/renovate.json
Due: none

chore: enable renovate dashboard
  .github/renovate.json
Due: none

chore: enable renovate lock file maintenance
  .github/renovate.json
Due: none

fix(shared): load env from oneOf union schema
  shared/libretime_shared/config/_env.py
Due: shared

chore: ignore name from spellchecker
  .codespellignore
Due: none

Path conditions:
  analyzer: any of: analyzer/
  api: any of: api/
  api-client: any of: api-client/
  playout: any of: playout/
  shared: any of: shared/
