Repository LibreTime/libretime: changes, and which Codecov flags are due for each by the changed paths.
All: analyzer, api, api-client, playout, shared

CI compliance
  legacy/application/models/StreamSetting.php
Due: none

Update install and config
  docker/config.template.yml
  docker/config.yml
  docker/example/config.yml
  install
  installer/config.yml
  legacy/application/models/StreamSetting.php
Due: none

make compatible with liquidsoap 1.4 output.file.hls prototype
  playout/libretime_playout/liquidsoap/1.4/ls_lib.liq
  playout/libretime_playout/liquidsoap/templates/outputs.liq.j2
Due: playout

liquidsoap 2.2 removed streaminfos parameter so crossversion hls pattern have to be modded
  playout/libretime_playout/liquidsoap/1.4/ls_lib.liq
  playout/libretime_playout/liquidsoap/templates/outputs.liq.j2
Due: playout

add an alias to playout hls output
  installer/nginx/libretime.conf
Due: none

use SERVER_PORT for hls stream
  legacy/application/models/StreamSetting.php
Due: none

liquidsoap 1.4 require differents streams bitrates for player to select
  playout/libretime_playout/liquidsoap/1.4/ls_lib.liq
Due: playout

remove useless host port settings
  docker/config.template.yml
  docker/config.yml
  docker/example/config.yml
  installer/config.yml
  legacy/application/configs/conf.php
  legacy/application/models/StreamSetting.php
  shared/libretime_shared/config/_models.py
Due: shared

document hls output
  docs/admin-manual/configuration.md
Due: none

add an alias to playout hls output
  docker/nginx.conf
Due: none

simplification
  legacy/application/models/StreamSetting.php
Due: none

add HlsStream to imports
  shared/libretime_shared/config/__init__.py
Due: shared

Update configuration.md
  docs/admin-manual/configuration.md
Due: none

add missing changes
  dev/config.yml
  playout/libretime_playout/liquidsoap/1.4/ls_lib.liq
  playout/libretime_playout/liquidsoap/templates/outputs.liq.j2
Due: playout

add hls testing
  playout/tests/conftest.py
  playout/tests/liquidsoap/fixtures/__init__.py
Due: playout

chore(api): disable duplicate-code check
  api/pyproject.toml
Due: api

refactor: fix linting errors
  api/libretime_api/permission_constants.py
  api/libretime_api/schedule/models/show.py
Due: api

chore(api): disable duplicate-code check (#2799)
  api/libretime_api/permission_constants.py
  api/libretime_api/schedule/models/show.py
  api/pyproject.toml
Due: api

style: format files using php-cs-fixer
  legacy/application/controllers/PlaylistController.php
  legacy/application/controllers/PreferenceController.php
  legacy/application/models/Block.php
  legacy/application/services/ShowService.php
Due: none

chore: remove pylint install workaround
  tools/python.mk
Due: none

chore: remove pylint install workaround (#2802)
  tools/python.mk
Due: none

fix(api): enum schema description
  api/schema.yml
Due: api

fix(api): enum schema description (#2803)
  api/schema.yml
Due: api

fix(legacy): allow uploading opus files
  legacy/application/common/FileDataHelper.php
Due: none

fix(legacy): allow uploading opus files (#2804)
  legacy/application/common/FileDataHelper.php
Due: none

change hls configuration
  legacy/application/configs/conf.php
  legacy/application/models/StreamSetting.php
  shared/libretime_shared/config/__init__.py
  shared/libretime_shared/config/_models.py
Due: shared

make hls output path an install setting
  install
  installer/nginx/libretime.conf
  playout/install/systemd/libretime-liquidsoap.service
  playout/libretime_playout/liquidsoap/1.4/ls_lib.liq
  playout/libretime_playout/liquidsoap/entrypoint.py
  playout/libretime_playout/liquidsoap/main.py
  playout/libretime_playout/liquidsoap/templates/outputs.liq.j2
  shared/libretime_shared/cli.py
Due: playout, shared

ci: update actions/*-artifact actions to v4
  .github/workflows/container.yml
Due: none

ci: update actions/*-artifact actions to v4 (#2818)
  .github/workflows/container.yml
Due: none

build: replace custom release script with release-please
  .chglog/CHANGELOG.md.tpl
  .chglog/config.yml
  .github/release-please-config.json
  .github/release-please-manifest.json
  .github/workflows/backport.yml
  .github/workflows/release-please.yml
  .github/workflows/release.yml
  .pre-commit-config.yaml
  CHANGELOG.md
  Makefile
  analyzer/setup.py
  api-client/setup.py
  api/setup.py
  docs/contributor-manual/releases.md
  playout/setup.py
  shared/setup.py
  tools/bump-python-version.sh
  tools/changelog.sh
  worker/setup.py
Due: analyzer, api, api-client, playout, shared

include package-name
  .github/release-please-config.json
Due: none

build: replace custom release script with release-please (#2817)
  .chglog/CHANGELOG.md.tpl
  .chglog/config.yml
  .github/release-please-config.json
  .github/release-please-manifest.json
  .github/workflows/backport.yml
  .github/workflows/release-please.yml
  .github/workflows/release.yml
  .pre-commit-config.yaml
  CHANGELOG.md
  Makefile
  analyzer/setup.py
  api-client/setup.py
  api/setup.py
  docs/contributor-manual/releases.md
  playout/setup.py
  shared/setup.py
  tools/bump-python-version.sh
  tools/changelog.sh
  worker/setup.py
Due: analyzer, api, api-client, playout, shared

ci: update backport bot templates
  .github/workflows/backport.yml
Due: none

ci: update backport bot templates (#2821)
  .github/workflows/backport.yml
Due: none

docs: add release-notes
  CHANGELOG.md
  docs/releases/3.2.1.md
Due: none

ci: add branch names to commit scopes
  .github/workflows/pr.yml
Due: none

Path conditions:
  analyzer: any of: analyzer/
  api: any of: api/
  api-client: any of: api-client/
  playout: any of: playout/
  shared: any of: shared/
