Repository LibreTime/libretime: changes, and which Codecov flags are due for each by the changed paths.
All: analyzer, api, api-client, playout, shared

codecov.yml:

---
coverage:
  status:
    project: off

flags:
  analyzer:
    paths:
      - analyzer/
    carryforward: true

  api:
    paths:
      - api/
    carryforward: true

  api-client:
    paths:
      - api-client/
    carryforward: true

  playout:
    paths:
      - playout/
    carryforward: true

  shared:
    paths:
      - shared/
    carryforward: true

docs: add 3.1.x distribution releases support
  docs/releases/README.md
Due: none

chore: release 3.1.0
  analyzer/setup.py
  api-client/setup.py
  api/setup.py
  docs/releases/3.1.0.md
  docs/releases/unreleased.md
  playout/setup.py
  shared/setup.py
  worker/setup.py
Due: analyzer, api, api-client, playout, shared

chore: generate changelog for 3.1.0
  CHANGELOG.md
Due: none

chore(legacy): update locales
  legacy/locale/cs_CZ/LC_MESSAGES/libretime.po
  legacy/locale/de_AT/LC_MESSAGES/libretime.po
  legacy/locale/de_DE/LC_MESSAGES/libretime.po
  legacy/locale/el_GR/LC_MESSAGES/libretime.po
  legacy/locale/en_CA/LC_MESSAGES/libretime.po
  legacy/locale/en_GB/LC_MESSAGES/libretime.po
  legacy/locale/en_US/LC_MESSAGES/libretime.po
  legacy/locale/es_ES/LC_MESSAGES/libretime.po
  legacy/locale/fr_FR/LC_MESSAGES/libretime.po
  legacy/locale/hr_HR/LC_MESSAGES/libretime.po
  legacy/locale/hu_HU/LC_MESSAGES/libretime.po
  legacy/locale/it_IT/LC_MESSAGES/libretime.po
  legacy/locale/ja_JP/LC_MESSAGES/libretime.po
  legacy/locale/ko_KR/LC_MESSAGES/libretime.po
  legacy/locale/nl_NL/LC_MESSAGES/libretime.po
  legacy/locale/pl_PL/LC_MESSAGES/libretime.po
  legacy/locale/pt_BR/LC_MESSAGES/libretime.po
  legacy/locale/ru_RU/LC_MESSAGES/libretime.po
  legacy/locale/sr_RS/LC_MESSAGES/libretime.po
  legacy/locale/sr_RS@latin/LC_MESSAGES/libretime.po
  legacy/locale/tr_TR/LC_MESSAGES/libretime.po
  legacy/locale/uk_UA/LC_MESSAGES/libretime.po
  legacy/locale/zh_CN/LC_MESSAGES/libretime.po
Due: none

fix(playout): liquidsoap aac output syntax errors
  playout/libretime_playout/liquidsoap/templates/outputs.liq.j2
Due: playout

test(playout): check unsupported liquidsoap aac output
  playout/tests/liquidsoap/entrypoint_test.py
Due: playout

ci: update chat links to point to matrix
  .github/ISSUE_TEMPLATE/config.yml
  .github/workflows/housekeeping.yml
Due: none

docs: update links to point to matrix
  README.md
  docs/releases/_release-head.md
Due: none

docs: update chat links to point to matrix (#2571)
  .github/ISSUE_TEMPLATE/config.yml
  .github/workflows/housekeeping.yml
  README.md
  docs/releases/_release-head.md
Due: none

feat(legacy): move session store to database
  api/libretime_api/legacy/migrations/0045_add_sessions_table.py
  api/libretime_api/legacy/migrations/__init__.py
  api/libretime_api/legacy/migrations/sql/schema.sql
  legacy/application/Bootstrap.php
  legacy/application/configs/classmap-airtime-conf.php
  legacy/application/models/Auth.php
  legacy/application/models/airtime/Sessions.php
  legacy/application/models/airtime/SessionsPeer.php
  legacy/application/models/airtime/SessionsQuery.php
  legacy/application/models/airtime/map/SessionsTableMap.php
  legacy/application/models/airtime/om/BaseSessions.php
  legacy/application/models/airtime/om/BaseSessionsPeer.php
  legacy/application/models/airtime/om/BaseSessionsQuery.php
  legacy/build/schema.xml
Due: api

feat(legacy): move session store to database (#2523)
  api/libretime_api/legacy/migrations/0045_add_sessions_table.py
  api/libretime_api/legacy/migrations/__init__.py
  api/libretime_api/legacy/migrations/sql/schema.sql
  legacy/application/Bootstrap.php
  legacy/application/configs/classmap-airtime-conf.php
  legacy/application/models/Auth.php
  legacy/application/models/airtime/Sessions.php
  legacy/application/models/airtime/SessionsPeer.php
  legacy/application/models/airtime/SessionsQuery.php
  legacy/application/models/airtime/map/SessionsTableMap.php
  legacy/application/models/airtime/om/BaseSessions.php
  legacy/application/models/airtime/om/BaseSessionsPeer.php
  legacy/application/models/airtime/om/BaseSessionsQuery.php
  legacy/build/schema.xml
Due: api

feat(api): add email configuration
  api/libretime_api/settings/_schema.py
  api/libretime_api/settings/prod.py
  api/libretime_api/settings/testing.py
  docker/config.template.yml
  docker/config.yml
  docker/example/config.yml
  docs/admin-manual/configuration.md
  installer/config.yml
  legacy/application/configs/conf.php
Due: api

chore: add mailpit to dev setup
  dev/config.yml
  docker-compose.override.yml
Due: none

style: format legay files
  legacy/application/common/DateHelper.php
Due: none

fix: libretime process leaks and lsof high cpu usage
  docker-compose.yml
Due: none

style: format code using prettier v3.0.0
  legacy/application/assets.json
  legacy/public/js/airtime/audiopreview/preview_jplayer.js
  legacy/public/js/airtime/common/common.js
  legacy/public/js/airtime/common/facebook.js
  legacy/public/js/airtime/dashboard/dashboard.js
  legacy/public/js/airtime/dashboard/versiontooltip.js
  legacy/public/js/airtime/library/events/library_playlistbuilder.js
  legacy/public/js/airtime/library/events/library_showbuilder.js
  legacy/public/js/airtime/library/library.js
  legacy/public/js/airtime/library/plupload.js
  legacy/public/js/airtime/library/podcast.js
  legacy/public/js/airtime/library/publish.js
  legacy/public/js/airtime/library/spl.js
  legacy/public/js/airtime/listenerstat/listenerstat.js
  legacy/public/js/airtime/listenerstat/showlistenerstat.js
  legacy/public/js/airtime/nowplaying/register.js
  legacy/public/js/airtime/player/playerhtml5.js
  legacy/public/js/airtime/playlist/smart_blockbuilder.js
  legacy/public/js/airtime/playouthistory/configuretemplate.js
  legacy/public/js/airtime/playouthistory/historytable.js
  legacy/public/js/airtime/playouthistory/template.js
  legacy/public/js/airtime/preferences/musicdirs.js
  legacy/public/js/airtime/preferences/preferences.js
  legacy/public/js/airtime/preferences/streamsetting.js
  legacy/public/js/airtime/schedule/add-show.js
  legacy/public/js/airtime/schedule/full-calendar-functions.js
  legacy/public/js/airtime/schedule/schedule.js
  legacy/public/js/airtime/showbuilder/builder.js
  legacy/public/js/airtime/showbuilder/main_builder.js
  legacy/public/js/airtime/status/status.js
  legacy/public/js/airtime/user/user.js
  legacy/public/js/airtime/utilities/utilities.js
  legacy/public/js/airtime/widgets/table-example.js
  legacy/public/js/airtime/widgets/table.js
Due: none

docs: fix broken link
  docs/user-manual/preparing-media.md
Due: none

docs: fix broken link (#2616)
  docs/user-manual/preparing-media.md
Due: none

chore(legacy): translated using weblate (Ukrainian)
  legacy/locale/uk_UA/LC_MESSAGES/libretime.po
Due: none

chore(legacy): translated using weblate (Ukrainian) (#2628)
  legacy/locale/uk_UA/LC_MESSAGES/libretime.po
Due: none

fix: libretime process leaks and lsof high cpu usage (#2615)
  docker-compose.yml
Due: none

chore(legacy): translated using weblate (Italian)
  legacy/locale/it_IT/LC_MESSAGES/libretime.po
Due: none

chore(legacy): translated using weblate (Italian) (#2647)
  legacy/locale/it_IT/LC_MESSAGES/libretime.po
Due: none

style: format files using php-cs-fixer
  legacy/application/check.php
  legacy/application/common/CeleryManager.php
  legacy/application/common/HTTPHelper.php
  legacy/application/controllers/WebstreamController.php
  legacy/application/models/ListenerStat.php
  legacy/application/models/Show.php
  legacy/application/models/User.php
  legacy/application/services/ShowFormService.php
Due: none

chore(legacy): translated using weblate (Polish)
  legacy/locale/pl_PL/LC_MESSAGES/libretime.po
Due: none

chore(legacy): translated using weblate (Polish) (#2681)
  legacy/locale/pl_PL/LC_MESSAGES/libretime.po
Due: none

chore(deps): use new black mirror
  .pre-commit-config.yaml
Due: none
