Repository LibreTime/libretime: changes, and which Codecov flags are due for each by the changed paths.
All: analyzer, api, api-client, playout, shared

codecov.yml:

---
coverage:
  status:
    project: off

flags:
  analyzer:
    paths:
      - analyzer/
    carryforward: true

  api:
    paths:
      - api/
    carryforward: true

  api-client:
    paths:
      - api-client/
    carryforward: true

  playout:
    paths:
      - playout/
    carryforward: true

  shared:
    paths:
      - shared/
    carryforward: true

chore: allow overriding uid while running docker dev
  docker-compose.override.yml
Due: none

ci
  .github/workflows/e2e.yml
Due: none

WIP
  docker-compose.override.yml
Due: none

wip
  .github/workflows/e2e.yml
Due: none

docs: fix broken link
  docs/admin-manual/tutorials/setup-a-static-ip-using-netplan.md
Due: none

docs: fix broken link (#2532)
  docs/admin-manual/tutorials/setup-a-static-ip-using-netplan.md
Due: none

fix(analyzer): remove unused python3 package
  analyzer/packages.ini
Due: analyzer

feat(api): install gunicorn/uvicorn from pip
  Dockerfile
  api/install/systemd/libretime-api.service
  api/packages.ini
  api/requirements.txt
  api/setup.py
Due: api

feat: install inside a python3 venv
  api/install/systemd/libretime-api.service
  install
  worker/install/systemd/libretime-worker.service
Due: api

chore: force docs sync
  docs/README.md
Due: none

docs: add note about unused packages
  docs/releases/unreleased.md
Due: none

chore(legacy): translated using weblate (Dutch)
  legacy/locale/nl_NL/LC_MESSAGES/libretime.po
Due: none

chore(legacy): translated using weblate (Dutch) (#2551)
  legacy/locale/nl_NL/LC_MESSAGES/libretime.po
Due: none

chore(legacy): translated using weblate (German)
  legacy/locale/de_DE/LC_MESSAGES/libretime.po
Due: none

chore(legacy): translated using weblate (German) (#2552)
  legacy/locale/de_DE/LC_MESSAGES/libretime.po
Due: none

chore(legacy): translated using weblate (English (United States))
  legacy/locale/en_US/LC_MESSAGES/libretime.po
Due: none

chore(legacy): translated using weblate (English (United States)) (#2553)
  legacy/locale/en_US/LC_MESSAGES/libretime.po
Due: none

style(legacy): format using php-cs-fixer
  legacy/application/common/DateHelper.php
  legacy/application/common/TuneIn.php
  legacy/application/common/enum/MediaType.php
  legacy/application/controllers/ApiController.php
  legacy/application/controllers/PlaylistController.php
  legacy/application/controllers/PreferenceController.php
  legacy/application/models/Block.php
  legacy/application/models/Playlist.php
  legacy/application/models/Preference.php
  legacy/application/models/Schedule.php
  legacy/application/models/Scheduler.php
  legacy/application/models/Show.php
  legacy/application/models/ShowInstance.php
  legacy/application/models/StoredFile.php
  legacy/application/models/User.php
  legacy/application/models/airtime/CcFiles.php
  legacy/application/models/airtime/CcShowDays.php
  legacy/application/services/PodcastEpisodeService.php
  legacy/application/services/PodcastService.php
  legacy/application/services/SchedulerService.php
  legacy/application/services/ShowFormService.php
  legacy/application/services/ShowService.php
  legacy/application/services/ThirdPartyCeleryService.php
Due: none

docs: improve airtime migration guide
  docs/admin-manual/install/migrate-from-airtime.md
Due: none

docs: improve airtime migration guide (#2564)
  docs/admin-manual/install/migrate-from-airtime.md
Due: none

docs: split airtime migration into more steps
  docs/admin-manual/install/migrate-from-airtime.md
Due: none

docs: split airtime migration into more steps (#2565)
  docs/admin-manual/install/migrate-from-airtime.md
Due: none

Revert "chore(api): install django-rest-framework from git (#2518)"
  Dockerfile
  api/requirements.txt
  api/setup.py
Due: api

chore(deps): bump djangorestframework to >=3.14.0,<3.15
  api/requirements.txt
  api/setup.py
Due: api

docs: fix icecast certificates bundle command
  docs/admin-manual/install/install-using-the-installer.md
  docs/admin-manual/install/reverse-proxy.md
Due: none

docs: install using a reverse proxy by default
  docs/admin-manual/install/install-using-the-installer.md
Due: none

docs: remove setup without reverse proxy
  docs/admin-manual/install/reverse-proxy.md
Due: none

docs: be consistent with example domain
  docs/admin-manual/install/install-using-the-installer.md
  docs/developer-manual/legacy-api.md
  docs/user-manual/playout-history.md
  shared/tests/config/base_test.py
Due: shared

docs: be consistent with example domain (#2568)
  docs/admin-manual/install/install-using-the-installer.md
  docs/developer-manual/legacy-api.md
  docs/user-manual/playout-history.md
  shared/tests/config/base_test.py
Due: shared
