Repository LibreTime/libretime: changes, and which Codecov flags are due for each by the changed paths.
All: analyzer, api, api-client, playout, shared

codecov.yml:

---
coverage:
  status:
    project: off

flags:
  analyzer:
    paths:
      - analyzer/
    carryforward: true

  api:
    paths:
      - api/
    carryforward: true

  api-client:
    paths:
      - api-client/
    carryforward: true

  playout:
    paths:
      - playout/
    carryforward: true

  shared:
    paths:
      - shared/
    carryforward: true

chore(api-client): config is only used by v1
  api-client/libretime_api_client/_config.py
  api-client/libretime_api_client/v1.py
Due: api-client

feat(api-client): rewrite api-client v2
  api-client/libretime_api_client/_client.py
  api-client/libretime_api_client/v2.py
  api-client/setup.py
  api-client/tests/v2_test.py
Due: api-client

feat(playout): integrate api-client v2 calls
  playout/libretime_playout/config.py
  playout/libretime_playout/main.py
  playout/libretime_playout/player/file.py
  playout/libretime_playout/player/schedule.py
  playout/setup.py
  playout/tests/player/schedule_test.py
Due: playout

fix(api-client): fix base_url joining for client v2
  api-client/libretime_api_client/_client.py
  api-client/tests/client_test.py
  api-client/tests/v2_test.py
Due: api-client

docs: add release instructions
  docs/developer-manual/development/releases.md
Due: none

feat(api): don't use hyperlinked serializers
  api/libretime_api/core/serializers/auth.py
  api/libretime_api/core/serializers/preference.py
  api/libretime_api/core/serializers/service.py
  api/libretime_api/core/serializers/user.py
  api/libretime_api/core/serializers/worker.py
  api/libretime_api/history/serializers/listener.py
  api/libretime_api/history/serializers/live.py
  api/libretime_api/history/serializers/played.py
  api/libretime_api/podcasts/serializers/podcast.py
  api/libretime_api/schedule/serializers/playlist.py
  api/libretime_api/schedule/serializers/schedule.py
  api/libretime_api/schedule/serializers/show.py
  api/libretime_api/schedule/serializers/smart_block.py
  api/libretime_api/schedule/serializers/webstream.py
  api/libretime_api/storage/serializers/file.py
  api/libretime_api/storage/serializers/library.py
  api/schema.yml
  playout/libretime_playout/player/schedule.py
  playout/tests/player/schedule_test.py
Due: api, playout

fix(api-client): fix base_url joining for client v2 (#1998)
  api-client/libretime_api_client/_client.py
  api-client/tests/client_test.py
  api-client/tests/v2_test.py
Due: api-client

docs: add release instructions (#1995)
  docs/developer-manual/development/releases.md
Due: none

fix(legacy): get local logo file
  legacy/application/models/Preference.php
Due: none

fix(api): update set_icecast_passwords StreamSetting fields
  api/libretime_api/legacy/management/commands/set_icecast_passwords.py
Due: api

fix(api): update set_icecast_passwords StreamSetting fields (#2001)
  api/libretime_api/legacy/management/commands/set_icecast_passwords.py
Due: api

fix(installer): clean legacy files before copying
  install
Due: none

fix(legacy): sanitize track_type_id when updating file
  legacy/application/common/FileDataHelper.php
  legacy/application/models/StoredFile.php
Due: none

fix(legacy): get local logo file (#1999)
  legacy/application/models/Preference.php
Due: none

fix(installer): clean legacy files before copying (#2002)
  install
Due: none

fix(legacy): sanitize track_type_id when updating file (#2003)
  legacy/application/common/FileDataHelper.php
  legacy/application/models/StoredFile.php
Due: none

feat(api): don't use hyperlinked serializers (#1984)
  api/libretime_api/core/serializers/auth.py
  api/libretime_api/core/serializers/preference.py
  api/libretime_api/core/serializers/service.py
  api/libretime_api/core/serializers/user.py
  api/libretime_api/core/serializers/worker.py
  api/libretime_api/history/serializers/listener.py
  api/libretime_api/history/serializers/live.py
  api/libretime_api/history/serializers/played.py
  api/libretime_api/podcasts/serializers/podcast.py
  api/libretime_api/schedule/serializers/playlist.py
  api/libretime_api/schedule/serializers/schedule.py
  api/libretime_api/schedule/serializers/show.py
  api/libretime_api/schedule/serializers/smart_block.py
  api/libretime_api/schedule/serializers/webstream.py
  api/libretime_api/storage/serializers/file.py
  api/libretime_api/storage/serializers/library.py
  api/schema.yml
  playout/libretime_playout/player/schedule.py
  playout/tests/player/schedule_test.py
Due: api, playout

chore: install local python deps in editable mode
  analyzer/Makefile
  analyzer/setup.py
  api-client/Makefile
  api-client/setup.py
  api/Makefile
  api/setup.py
  playout/Makefile
  playout/setup.py
  tools/python.mk
  worker/Makefile
  worker/setup.py
Due: analyzer, api, api-client, playout

chore: remove chdir in setup.py files
  analyzer/setup.py
  api-client/setup.py
  api/setup.py
  playout/setup.py
  shared/setup.py
  worker/setup.py
Due: analyzer, api, api-client, playout, shared

chore: add combine-as isort option
  tools/python.mk
Due: none

style: format python imports
  api-client/libretime_api_client/_client.py
Due: api-client

chore(api): add pytest-django settings module config
  api/pyproject.toml
Due: api

chore(api): add pytest-django settings module config (#2006)
  api/pyproject.toml
Due: api

chore(legacy): translated using weblate (Croatian)
  legacy/locale/hr_HR/LC_MESSAGES/libretime.po
Due: none

test: enable logs when running pytest
  analyzer/pyproject.toml
  api-client/pyproject.toml
  playout/pyproject.toml
  shared/pyproject.toml
  worker/pyproject.toml
Due: analyzer, api-client, playout, shared

test: enable logs when running pytest (#2008)
  analyzer/pyproject.toml
  api-client/pyproject.toml
  playout/pyproject.toml
  shared/pyproject.toml
  worker/pyproject.toml
Due: analyzer, api-client, playout, shared

chore(legacy): translated using weblate (German)
  legacy/locale/de_DE/LC_MESSAGES/libretime.po
Due: none

chore(legacy): translated using weblate (German) (#2010)
  legacy/locale/de_DE/LC_MESSAGES/libretime.po
Due: none

fix(shared): validator value type can be wrong
  shared/libretime_shared/config/_models.py
Due: shared

test(shared): move config tests
  shared/tests/config/base_test.py
Due: shared

feat(shared): load env config using jsonschema
  shared/libretime_shared/config/_base.py
  shared/libretime_shared/config/_env.py
  shared/tests/config/env_test.py
Due: shared
