Repository LibreTime/libretime: changes, and which Codecov flags are due for each by the changed paths.
All: analyzer, api, api-client, playout, shared

pesky space
  docs/admin-manual/configuration.md
Due: none

formatting
  playout/libretime_playout/player/fetch.py
Due: playout

fix test
  playout/tests/player/schedule_test.py
Due: playout

docs: fix linting error
  docs/releases/4.3.0.mdx
Due: none

docs: fix linting error (#3179)
  docs/releases/4.3.0.mdx
Due: none

chore(main): release 4.5.0
  .github/release-please-manifest.json
  CHANGELOG.md
  analyzer/setup.py
  api-client/setup.py
  api/setup.py
  playout/setup.py
  shared/setup.py
  worker/setup.py
Due: analyzer, api, api-client, playout, shared

feat(legacy): add config option for group separator in header auth
  docs/admin-manual/custom-authentication.md
  legacy/application/auth/adapters/HeaderAuth.php
  legacy/application/configs/conf.php
Due: none

double quotes for the yaml!!
  docs/admin-manual/custom-authentication.md
Due: none

fix(worker): catch mutagen TypeError when saving metadata
  worker/libretime_worker/tasks.py
  worker/tests/tasks_test.py
Due: none

fix(worker): catch mutagen `TypeError` when saving metadata (#3182)
  worker/libretime_worker/tasks.py
  worker/tests/tasks_test.py
Due: none

feat(legacy): add config option for group separator in header auth (#3181)
  docs/admin-manual/custom-authentication.md
  legacy/application/auth/adapters/HeaderAuth.php
  legacy/application/configs/conf.php
Due: none

docs: add release note
  docs/releases/4.5.0.mdx
Due: none

chore(main): release 4.5.0 (#3164)
  .github/release-please-manifest.json
  CHANGELOG.md
  analyzer/setup.py
  api-client/setup.py
  api/setup.py
  docs/releases/4.5.0.mdx
  playout/setup.py
  shared/setup.py
  worker/setup.py
Due: analyzer, api, api-client, playout, shared

ci: build image using docker bake
  .gitlab-ci.yml
Due: none

fix: don't escape the json result in /api/live-info
  legacy/application/controllers/ApiController.php
Due: none

chore(main): release 4.5.1
  .github/release-please-manifest.json
  CHANGELOG.md
  analyzer/setup.py
  api-client/setup.py
  api/setup.py
  playout/setup.py
  shared/setup.py
  worker/setup.py
Due: analyzer, api, api-client, playout, shared

fix: update cryptic variable name
  legacy/application/models/Block.php
Due: none

fix: update another cryptic variable name
  legacy/application/models/Block.php
Due: none

feat(legacy): persist database connections
  legacy/application/configs/airtime-conf-production.php
Due: none

fix(legacy): do not send content-type header twice
  legacy/application/controllers/ApiController.php
Due: none

chore: update other version strings
  api/setup.py
Due: api

fix(legacy): do not send content-type header twice (#3187)
  legacy/application/controllers/ApiController.php
Due: none

feat(legacy): persist database connections (#3186)
  legacy/application/configs/airtime-conf-production.php
Due: none

style: format legacy code
  legacy/application/common/WidgetHelper.php
  legacy/application/controllers/ApiController.php
  legacy/application/controllers/LocaleController.php
  legacy/application/controllers/PreferenceController.php
  legacy/application/controllers/ScheduleController.php
  legacy/application/forms/AddShowWhen.php
  legacy/application/forms/SmartBlockCriteria.php
  legacy/application/models/Block.php
  legacy/application/models/Playlist.php
  legacy/application/models/Preference.php
  legacy/application/models/Scheduler.php
  legacy/application/models/Show.php
  legacy/application/models/airtime/CcFiles.php
  legacy/application/services/HistoryService.php
  legacy/application/services/PodcastEpisodeService.php
  legacy/application/services/SchedulerService.php
  legacy/application/services/ShowFormService.php
  legacy/application/services/ShowService.php
  legacy/tests/application/helpers/AirtimeInstall.php
Due: none

feat(legacy): now macro should use show start time when available (#3175)
  docs/user-manual/playlists.md
  legacy/application/models/Block.php
  legacy/application/models/Scheduler.php
Due: none

chore: update pre-commit hooks
  .pre-commit-config.yaml
  legacy/application/assets.json
  legacy/public/js/airtime/listenerstat/listenerstat.js
  legacy/public/js/airtime/listenerstat/showlistenerstat.js
  legacy/public/js/airtime/schedule/schedule.js
  legacy/public/js/airtime/utilities/utilities.js
Due: none

chore: update pre-commit hooks (#3193)
  .pre-commit-config.yaml
  legacy/application/assets.json
  legacy/public/js/airtime/listenerstat/listenerstat.js
  legacy/public/js/airtime/listenerstat/showlistenerstat.js
  legacy/public/js/airtime/schedule/schedule.js
  legacy/public/js/airtime/utilities/utilities.js
Due: none

ci: fix docker bake v6 missing input
  .github/workflows/container.yml
Due: none

ci: fix docker bake v6 missing input (#3200)
  .github/workflows/container.yml
Due: none

task: add playout.cache_ahead_hours, deprecate general.cache_ahead_hours and reduce cache_ahead_hours default to 3 hours
  docker/config.template.yml
  docker/config.yml
  docker/example/config.yml
  docs/admin-manual/configuration.md
  installer/config.yml
  legacy/application/configs/conf.php
  legacy/application/models/Schedule.php
  playout/libretime_playout/config.py
  playout/libretime_playout/player/fetch.py
  shared/libretime_shared/config/_models.py
Due: playout, shared

api worker using celery and django celery result backend
  Dockerfile
  api/Makefile
  api/libretime_api/core/models/__init__.py
  api/libretime_api/core/models/worker.py
  api/libretime_api/core/router.py
  api/libretime_api/core/serializers/__init__.py
  api/libretime_api/core/serializers/worker.py
  api/libretime_api/core/views/__init__.py
  api/libretime_api/core/views/worker.py
  api/libretime_api/legacy/migrations/0047_drop_third_party_track_references.py
  api/libretime_api/legacy/migrations/__init__.py
  api/libretime_api/podcasts/tasks.py
  api/libretime_api/settings/_internal.py
  api/libretime_api/settings/prod.py
  api/libretime_api/settings/testing.py
  api/libretime_api/worker.py
  api/requirements.txt
  api/schema.yml
  api/setup.py
  docker-compose.override.yml
  docker-compose.yml
  legacy/application/assets.json
  legacy/application/common/Celery.php
  legacy/application/common/CeleryManager.php
  legacy/application/common/TaskManager.php
  legacy/application/controllers/ApiController.php
  legacy/application/services/CeleryServiceFactory.php
  legacy/application/services/MediaService.php
  legacy/application/services/PodcastEpisodeService.php
  legacy/application/services/ThirdPartyCeleryService.php
  legacy/application/services/ThirdPartyService.php
  legacy/build/schema.xml
  legacy/composer.json
  legacy/composer.lock
  legacy/public/js/airtime/library/podcast.js
Due: api

wip: remove old worker and fix tests
  api/install/systemd/libretime-worker.service
  api/libretime_api/podcasts/tests/__init__.py
  api/libretime_api/podcasts/tests/fixtures/__init__.py
  api/libretime_api/podcasts/tests/fixtures/malformed.mp3
  api/libretime_api/podcasts/tests/fixtures/s1-stereo-tagged.mp3
  api/libretime_api/podcasts/tests/fixtures/s1-stereo.ogg
  api/libretime_api/podcasts/tests/tasks_test.py
  worker/Makefile
  worker/README.md
  worker/libretime_worker/__init__.py
  worker/libretime_worker/config.py
  worker/libretime_worker/main.py
  worker/libretime_worker/tasks.py
  worker/pyproject.toml
  worker/requirements.txt
  worker/setup.py
  worker/tests/conftest.py
Due: api

chore(legacy): update locales
  legacy/locale/cs_CZ/LC_MESSAGES/libretime.po
  legacy/locale/de_AT/LC_MESSAGES/libretime.po
  legacy/locale/de_DE/LC_MESSAGES/libretime.po
  legacy/locale/el_GR/LC_MESSAGES/libretime.po
  legacy/locale/en_CA/LC_MESSAGES/libretime.po
  legacy/locale/en_GB/LC_MESSAGES/libretime.po
  legacy/locale/en_US/LC_MESSAGES/libretime.po
  legacy/locale/es_ES/LC_MESSAGES/libretime.po
  legacy/locale/fr_FR/LC_MESSAGES/libretime.po
  legacy/locale/hr_HR/LC_MESSAGES/libretime.po
  legacy/locale/hu_HU/LC_MESSAGES/libretime.po
  legacy/locale/it_IT/LC_MESSAGES/libretime.po
  legacy/locale/ja_JP/LC_MESSAGES/libretime.po
  legacy/locale/ko_KR/LC_MESSAGES/libretime.po
  legacy/locale/nb_NO/LC_MESSAGES/libretime.po
  legacy/locale/nl_NL/LC_MESSAGES/libretime.po
  legacy/locale/pl_PL/LC_MESSAGES/libretime.po
  legacy/locale/pt_BR/LC_MESSAGES/libretime.po
  legacy/locale/ru_RU/LC_MESSAGES/libretime.po
  legacy/locale/sr_RS/LC_MESSAGES/libretime.po
  legacy/locale/sr_RS@latin/LC_MESSAGES/libretime.po
  legacy/locale/tr_TR/LC_MESSAGES/libretime.po
  legacy/locale/uk_UA/LC_MESSAGES/libretime.po
  legacy/locale/zh_CN/LC_MESSAGES/libretime.po
Due: none

chore(deps): revert lock file maintenance (legacy/composer.json) (#3201)
  legacy/composer.lock
Due: none

chore(main): release 4.6.0
  .github/release-please-manifest.json
  CHANGELOG.md
  analyzer/setup.py
  api-client/setup.py
  api/setup.py
  playout/setup.py
  shared/setup.py
  worker/setup.py
Due: analyzer, api, api-client, playout, shared

chore(deps): revert lock file maintenance (legacy/composer.json) (#3209)
  legacy/composer.lock
Due: none

Fix file upload with library
  api/libretime_api/storage/management/commands/bulk_import.py
  api/libretime_api/storage/models/library.py
Due: api

Fix tests and lint again
  api/libretime_api/storage/management/commands/bulk_import.py
  api/libretime_api/storage/tests/management/commands/test_bulk_import.py
Due: api

Path conditions:
  analyzer: any of: analyzer/
  api: any of: api/
  api-client: any of: api-client/
  playout: any of: playout/
  shared: any of: shared/
