Repository LibreTime/libretime: changes, and which Codecov flags are due for each by the changed paths.
All: analyzer, api, api-client, playout, shared

Add message handlers
  api-client/libretime_api_client/v1.py
  playout/libretime_playout/main.py
  playout/libretime_playout/message_handler.py
  playout/libretime_playout/recorder.py
Due: api-client, playout

Update message hook
  legacy/application/controllers/plugins/RabbitMqPlugin.php
Due: none

Add recording function and register API call to Liquidsoap
  playout/libretime_playout/liquidsoap/1.4/ls_script.liq
Due: playout

Calls to liquidsoap to record
  playout/libretime_playout/liquidsoap/1.4/ls_script.liq
  playout/libretime_playout/liquidsoap/client/_client.py
  playout/libretime_playout/recorder.py
Due: playout

feat(legacy): add aac support to dashboard player
  legacy/application/views/scripts/dashboard/stream-player.phtml
Due: none

chore(stable): release 3.2.2
  .github/release-please-manifest.json
  CHANGELOG.md
  analyzer/setup.py
  api-client/setup.py
  api/setup.py
  playout/setup.py
  shared/setup.py
  worker/setup.py
Due: analyzer, api, api-client, playout, shared

get uploads working
  api-client/libretime_api_client/v1.py
  playout/libretime_playout/recorder.py
Due: api-client, playout

reset v1.py - my changes were having no effect
  api-client/libretime_api_client/v1.py
Due: api-client

add api finction to get shows to record
  api-client/libretime_api_client/v1.py
  playout/libretime_playout/recorder.py
Due: api-client, playout

Attempt to enable recording to schedule
  playout/libretime_playout/recorder.py
Due: playout

chore: introduce the stable-4.x branch
  .github/renovate.json
  .github/workflows/analyzer.yml
  .github/workflows/api-client.yml
  .github/workflows/api.yml
  .github/workflows/container.yml
  .github/workflows/docs.yml
  .github/workflows/legacy.yml
  .github/workflows/playout.yml
  .github/workflows/project.yml
  .github/workflows/shared.yml
  .github/workflows/worker.yml
  docs/contribute.md
  docs/contributor-manual/development-workflows.md
  docs/contributor-manual/releases.md
  docs/releases/README.md
Due: none

chore: introduce the stable-4.x branch (#2888)
  .github/renovate.json
  .github/workflows/analyzer.yml
  .github/workflows/api-client.yml
  .github/workflows/api.yml
  .github/workflows/container.yml
  .github/workflows/docs.yml
  .github/workflows/legacy.yml
  .github/workflows/playout.yml
  .github/workflows/project.yml
  .github/workflows/shared.yml
  .github/workflows/worker.yml
  docs/contribute.md
  docs/contributor-manual/development-workflows.md
  docs/contributor-manual/releases.md
  docs/releases/README.md
Due: none

also fix playing opus streams
  legacy/application/views/scripts/dashboard/stream-player.phtml
Due: none

feat(legacy): add aac/opus support to dashboard player (#2881)
  legacy/application/views/scripts/dashboard/stream-player.phtml
Due: none

style: fix pre-commit errors
  api-client/libretime_api_client/v1.py
  playout/libretime_playout/liquidsoap/1.4/ls_script.liq
  playout/libretime_playout/liquidsoap/client/_client.py
  playout/libretime_playout/main.py
  playout/libretime_playout/message_handler.py
  playout/libretime_playout/recorder.py
Due: api-client, playout

pass liquidsoap client to recorder
  playout/libretime_playout/main.py
Due: playout

Remove unsued code. Pass file type to recorder
  playout/libretime_playout/liquidsoap/1.4/ls_script.liq
  playout/libretime_playout/recorder.py
Due: playout

feat(legacy): trim Overbooked shows after autoloading a playlist
  legacy/application/common/AutoPlaylistManager.php
  legacy/application/models/ShowInstance.php
Due: none

upgrade dockerfiles
  Dockerfile
  legacy/composer.json
Due: none

bookworm is liquidsoap 2.1 not 2.0
  playout/libretime_playout/liquidsoap/2.1/ls_lib.liq
  playout/libretime_playout/liquidsoap/2.1/ls_script.liq
Due: playout

update composer.lock
  legacy/composer.lock
Due: none

upgrade zen-test
  legacy/composer.json
  legacy/composer.lock
  legacy/tests/application/models/database/BlockDbTest.php
  legacy/tests/application/models/database/ScheduleDbTest.php
  legacy/tests/application/models/unit/PreferenceUnitTest.php
  legacy/tests/application/models/unit/ScheduleUnitTest.php
  legacy/tests/application/services/database/ShowServiceDbTest.php
  legacy/tests/application/services/unit/ShowServiceUnitTest.php
  legacy/tools/composer.json
Due: none

update lock
  legacy/composer.lock
Due: none

update Git actions
  .github/workflows/legacy.yml
  .github/workflows/release.yml
Due: none

avoid thumbnail extraction issues to crash upload process
  legacy/application/models/airtime/CcFiles.php
Due: none

Make trimming configurable
  legacy/application/common/AutoPlaylistManager.php
  legacy/application/controllers/PreferenceController.php
  legacy/application/forms/GeneralPreferences.php
  legacy/application/models/Preference.php
  legacy/application/views/scripts/form/preferences_general.phtml
Due: none

Update legacy/application/models/airtime/CcFiles.php
  legacy/application/models/airtime/CcFiles.php
Due: none

rename Smartblock to Schedule
  legacy/application/common/AutoPlaylistManager.php
  legacy/application/controllers/PreferenceController.php
  legacy/application/forms/GeneralPreferences.php
  legacy/application/models/Preference.php
  legacy/application/views/scripts/form/preferences_general.phtml
Due: none

use pk to delete overbookings in a single sql call. instance_id is always the same for a show.
  legacy/application/models/ShowInstance.php
Due: none

feat(legacy): disable public radio page and redirect to login
  legacy/application/controllers/IndexController.php
  legacy/application/controllers/PreferenceController.php
  legacy/application/forms/GeneralPreferences.php
  legacy/application/models/Preference.php
  legacy/application/views/scripts/form/preferences_general.phtml
Due: none

docs(playout): add a tutorial to enable AAC in liquidsoap
  docs/admin-manual/stream-configuration.md
  docs/admin-manual/tutorials/setup-liquidsoap-aac-streaming.md
Due: none

add versions and warning
  docs/admin-manual/stream-configuration.md
  docs/admin-manual/tutorials/setup-liquidsoap-aac-streaming.md
Due: none

add codemarks
  docs/admin-manual/tutorials/setup-liquidsoap-aac-streaming.md
Due: none

feat(legacy): upgrade player - hls support - add album thumbnail and track progress - various bugfixes
  legacy/application/assets.json
  legacy/application/views/scripts/embed/player.phtml
  legacy/public/css/player.css
  legacy/public/js/hls.js
Due: none

chore(legacy): translated using weblate (German)
  legacy/locale/de_DE/LC_MESSAGES/libretime.po
Due: none

update test
  playout/libretime_playout/liquidsoap/entrypoint.py
  playout/libretime_playout/liquidsoap/main.py
  playout/tests/liquidsoap/entrypoint_test.py
Due: playout

update configuration files and manual
  dev/config.yml
  docker/config.template.yml
  docker/config.yml
  docker/example/config.yml
  docs/admin-manual/configuration.md
  installer/config.yml
Due: none

Path conditions:
  analyzer: any of: analyzer/
  api: any of: api/
  api-client: any of: api-client/
  playout: any of: playout/
  shared: any of: shared/
