Repository LibreTime/libretime: changes, and which Codecov flags are due for each by the changed paths.
All: analyzer, api, api-client, playout, shared

codecov.yml:

---
coverage:
  status:
    project: off

flags:
  analyzer:
    paths:
      - analyzer/
    carryforward: true

  api:
    paths:
      - api/
    carryforward: true

  api-client:
    paths:
      - api-client/
    carryforward: true

  playout:
    paths:
      - playout/
    carryforward: true

  shared:
    paths:
      - shared/
    carryforward: true

style: format legacy files
  legacy/application/common/OsPath.php
  legacy/application/controllers/PreferenceController.php
  legacy/application/models/Block.php
  legacy/application/models/Playlist.php
  legacy/application/models/Schedule.php
  legacy/application/models/Tracktype.php
  legacy/application/models/User.php
  legacy/application/models/Webstream.php
  legacy/application/models/tests/populator.php
Due: none

fix spell checks
  legacy/application/forms/LiveStreamingPreferences.php
  playout/libretime_playout/liquidsoap/1.4/ls_lib.liq
Due: playout

chore(legacy): translated using weblate (Polish)
  legacy/locale/pl_PL/LC_MESSAGES/libretime.po
Due: none

chore(legacy): translated using weblate (Polish) (#2743)
  legacy/locale/pl_PL/LC_MESSAGES/libretime.po
Due: none

feat: add mobile devices stream config field
  docker/config.template.yml
  docker/config.yml
  docker/example/config.yml
  docs/admin-manual/configuration.md
  installer/config.yml
  legacy/application/configs/conf.php
  legacy/application/models/StreamSetting.php
  shared/libretime_shared/config/_models.py
Due: shared

chore: improve renovate auto merge
  .github/renovate.json
Due: none

chore: improve renovate auto merge (#2745)
  .github/renovate.json
Due: none

feat: add mobile devices stream config field (#2744)
  docker/config.template.yml
  docker/config.yml
  docker/example/config.yml
  docs/admin-manual/configuration.md
  installer/config.yml
  legacy/application/configs/conf.php
  legacy/application/models/StreamSetting.php
  shared/libretime_shared/config/_models.py
Due: shared

chore: disable duplicate-code lint error
  playout/pyproject.toml
Due: playout

fixup! chore: release 3.2.0
  analyzer/setup.py
  api-client/setup.py
  api/setup.py
  playout/setup.py
  shared/setup.py
  worker/setup.py
Due: analyzer, api, api-client, playout, shared

release note
  docs/releases/3.2.0.md
Due: none

chore: widen dev deps version range
  analyzer/setup.py
  api-client/setup.py
  api/setup.py
  playout/setup.py
  shared/setup.py
  tools/python-requirements.txt
  worker/setup.py
Due: analyzer, api, api-client, playout, shared

chore: widen dev deps version range (#2755)
  analyzer/setup.py
  api-client/setup.py
  api/setup.py
  playout/setup.py
  shared/setup.py
  tools/python-requirements.txt
  worker/setup.py
Due: analyzer, api, api-client, playout, shared

missing contributors
  .codespellignore
  docs/releases/3.2.0.md
Due: none

chore: release 3.2.0 (#2754)
  .codespellignore
  analyzer/setup.py
  api-client/setup.py
  api/setup.py
  docs/releases/3.2.0.md
  playout/setup.py
  shared/setup.py
  worker/setup.py
Due: analyzer, api, api-client, playout, shared

chore: generate changelog for 3.2.0
  CHANGELOG.md
Due: none

chore: unpin actions/checkout version
  .github/workflows/_python.yml
  .github/workflows/api-schema.yml
  .github/workflows/api.yml
  .github/workflows/container.yml
  .github/workflows/dev-tools.yml
  .github/workflows/docs.yml
  .github/workflows/housekeeping.yml
  .github/workflows/legacy.yml
  .github/workflows/project.yml
  .github/workflows/release.yml
Due: none

chore(legacy): translated using weblate (Croatian)
  legacy/locale/hr_HR/LC_MESSAGES/libretime.po
Due: none

chore(legacy): translated using weblate (Croatian) (#2767)
  legacy/locale/hr_HR/LC_MESSAGES/libretime.po
Due: none

fix: add parent function name in setValue exception
  legacy/application/models/Preference.php
Due: none

style: fmt
  legacy/application/models/Preference.php
Due: none

fix: add parent function name in setValue exception (#2777)
  legacy/application/models/Preference.php
Due: none

Jquery free player
  legacy/application/views/scripts/embed/player.phtml
Due: none

dirty commit (working on 22.04)
  install
  legacy/application/controllers/ApiController.php
  legacy/application/controllers/ScheduleController.php
  legacy/application/models/Playlist.php
  legacy/application/models/ShowBuilder.php
  legacy/application/models/airtime/CcBlock.php
  legacy/application/models/airtime/CcShowDays.php
  legacy/application/models/airtime/om/BaseCcShowDays.php
  legacy/application/services/MediaService.php
  legacy/application/services/PodcastEpisodeService.php
  legacy/application/services/ShowFormService.php
  legacy/application/services/ShowService.php
  legacy/application/views/scripts/embed/player.phtml
Due: none

dirty commit
  legacy/application/common/FileDataHelper.php
  legacy/application/services/MediaService.php
  legacy/application/views/scripts/embed/player.phtml
  legacy/public/css/player.css
  legacy/public/js/airtime/player/playerhtml5.js
Due: none

few player mod for HLS delay
  legacy/application/views/scripts/embed/player.phtml
Due: none

redirect propel to my git
  install
  legacy/composer.json
Due: none

copy/paste from 1.4
  playout/libretime_playout/liquidsoap/2.0/ls_lib.liq
  playout/libretime_playout/liquidsoap/2.0/ls_script.liq
Due: playout

first commit port from liquidsoap 1.4 to 2.0
  playout/libretime_playout/liquidsoap/2.0/ls_lib.liq
  playout/libretime_playout/liquidsoap/2.0/ls_script.liq
Due: playout

feat(legacy): update deprecated PHP code
  legacy/application/common/FileDataHelper.php
  legacy/application/controllers/ApiController.php
  legacy/application/models/Playlist.php
  legacy/application/models/ShowBuilder.php
  legacy/application/models/airtime/CcBlock.php
  legacy/application/models/airtime/CcPlaylist.php
  legacy/application/models/airtime/CcSchedule.php
  legacy/application/models/airtime/CcShowInstances.php
  legacy/application/models/airtime/om/BaseCcAccess.php
  legacy/application/models/airtime/om/BaseCcBackup.php
  legacy/application/models/airtime/om/BaseCcBlock.php
  legacy/application/models/airtime/om/BaseCcBlockcontents.php
  legacy/application/models/airtime/om/BaseCcFiles.php
  legacy/application/models/airtime/om/BaseCcLiveLog.php
  legacy/application/models/airtime/om/BaseCcPlaylist.php
  legacy/application/models/airtime/om/BaseCcPlaylistcontents.php
  legacy/application/models/airtime/om/BaseCcPlayoutHistory.php
  legacy/application/models/airtime/om/BaseCcSchedule.php
  legacy/application/models/airtime/om/BaseCcShowDays.php
  legacy/application/models/airtime/om/BaseCcShowInstances.php
  legacy/application/models/airtime/om/BaseCcShowRebroadcast.php
  legacy/application/models/airtime/om/BaseCcSubjs.php
  legacy/application/models/airtime/om/BaseCcSubjsToken.php
  legacy/application/models/airtime/om/BaseCcTimestamp.php
  legacy/application/models/airtime/om/BaseCcTrans.php
  legacy/application/models/airtime/om/BaseCcWebstream.php
  legacy/application/models/airtime/om/BaseCcWebstreamMetadata.php
  legacy/application/models/airtime/om/BaseCeleryTasks.php
  legacy/application/models/airtime/om/BaseImportedPodcast.php
  legacy/application/models/airtime/om/BasePodcastEpisodes.php
  legacy/application/models/airtime/om/BaseThirdPartyTrackReferences.php
  legacy/application/services/MediaService.php
  legacy/application/services/PodcastEpisodeService.php
Due: none

fix(legacy): declare previously undeclared variable
  legacy/application/views/scripts/playlist/update.phtml
Due: none

guard createhtmlspecialchars
  legacy/application/common/FileDataHelper.php
  legacy/application/controllers/AudiopreviewController.php
  legacy/application/controllers/IndexController.php
  legacy/application/controllers/ScheduleController.php
  legacy/application/models/Block.php
  legacy/application/models/Playlist.php
  legacy/application/models/ShowBuilder.php
  legacy/application/services/PodcastEpisodeService.php
  legacy/application/services/PodcastService.php
Due: none

fix(legacy): declare previously undeclared variable (#2793)
  legacy/application/views/scripts/playlist/update.phtml
Due: none

update deprecated liquidsoap code
  playout/libretime_playout/liquidsoap/2.0/ls_lib.liq
  playout/libretime_playout/liquidsoap/2.0/ls_script.liq
Due: playout

hls support first commit
  legacy/application/configs/conf.php
  legacy/application/models/StreamSetting.php
  playout/libretime_playout/liquidsoap/templates/outputs.liq.j2
  shared/libretime_shared/config/__init__.py
  shared/libretime_shared/config/_models.py
Due: playout, shared

Update config.yml for hls config
  installer/config.yml
Due: none

remove useless fields
  legacy/application/configs/conf.php
Due: none
