Repository LibreTime/libretime: changes, and which Codecov flags are due for each by the changed paths.
All: analyzer, api, api-client, playout, shared

codecov.yml:

---
coverage:
  status:
    project: off

flags:
  analyzer:
    paths:
      - analyzer/
    carryforward: true

  api:
    paths:
      - api/
    carryforward: true

  api-client:
    paths:
      - api-client/
    carryforward: true

  playout:
    paths:
      - playout/
    carryforward: true

  shared:
    paths:
      - shared/
    carryforward: true

docs: fix missing release date
  docs/releases/3.0.0-alpha.13.md
  website/versioned_docs/version-3.0.0-alpha.13/releases/3.0.0-alpha.13.md
Due: none

chore(playout): move liquidsoap package in a module
  playout/Makefile
  playout/libretime_playout/liquidsoap/1.1/fdkaac.liq
  playout/libretime_playout/liquidsoap/1.1/ls_lib.liq
  playout/libretime_playout/liquidsoap/1.1/ls_script.liq
  playout/libretime_playout/liquidsoap/1.1/mp3.liq
  playout/libretime_playout/liquidsoap/1.1/ogg.liq
  playout/libretime_playout/liquidsoap/1.1/opus.liq
  playout/libretime_playout/liquidsoap/1.3/fdkaac.liq
  playout/libretime_playout/liquidsoap/1.3/ls_lib.liq
  playout/libretime_playout/liquidsoap/1.3/ls_script.liq
  playout/libretime_playout/liquidsoap/1.3/mp3.liq
  playout/libretime_playout/liquidsoap/1.3/ogg.liq
  playout/libretime_playout/liquidsoap/1.3/opus.liq
  playout/libretime_playout/liquidsoap/1.4/fdkaac.liq
  playout/libretime_playout/liquidsoap/1.4/ls_lib.liq
  playout/libretime_playout/liquidsoap/1.4/ls_script.liq
  playout/libretime_playout/liquidsoap/1.4/mp3.liq
  playout/libretime_playout/liquidsoap/1.4/ogg.liq
  playout/libretime_playout/liquidsoap/1.4/opus.liq
  playout/libretime_playout/liquidsoap/__init__.py
  playout/libretime_playout/liquidsoap/generate_liquidsoap_cfg.py
  playout/libretime_playout/liquidsoap/liquidsoap.cfg
  playout/libretime_playout/liquidsoap/liquidsoap_auth.py
  playout/libretime_playout/liquidsoap/main.py
  playout/setup.py
Due: playout

chore(playout): remove unused liquidsoap.cfg
  playout/libretime_playout/liquidsoap/liquidsoap.cfg
  playout/setup.py
Due: playout

chore(playout): use 'entrypoint' generic module name
  playout/libretime_playout/liquidsoap/entrypoint.py
  playout/libretime_playout/liquidsoap/main.py
Due: playout

feat(playout): use liquidsoap version functions
  playout/libretime_playout/liquidsoap/main.py
  playout/libretime_playout/liquidsoap/version.py
  playout/libretime_playout/main.py
  playout/libretime_playout/pure.py
  playout/libretime_playout/pypofetch.py
  playout/requirements.txt
  playout/setup.py
  playout/tests/liquidsoap/__init__.py
  playout/tests/liquidsoap/version_test.py
Due: playout

refactor(playout): log level setup
  playout/libretime_playout/liquidsoap/main.py
Due: playout

chore(playout): remove module docstring
  playout/libretime_playout/liquidsoap/main.py
Due: playout

refactor(playout): use pathlib to build the path
  playout/libretime_playout/liquidsoap/main.py
Due: playout

refactor(playout): remove date_interval_to_seconds function
  playout/libretime_playout/pure.py
  playout/libretime_playout/pypofetch.py
  playout/libretime_playout/pypoliqqueue.py
  playout/libretime_playout/pypoliquidsoap.py
  playout/libretime_playout/pypopush.py
  playout/libretime_playout/utils.py
Due: playout

chore: rewrite extract-requirements to python
  .pre-commit-config.yaml
  analyzer/requirements.txt
  api-client/requirements.txt
  api/requirements.txt
  playout/requirements.txt
  shared/requirements.txt
  tools/extract-requirements.sh
  tools/extract_requirements.py
  worker/requirements.txt
Due: analyzer, api, api-client, playout, shared

chore(playout): pin kombu version to 4.6.11
  playout/requirements.txt
  playout/setup.py
Due: playout

chore: update mutagen version range
  analyzer/requirements.txt
  analyzer/setup.py
  playout/requirements.txt
  playout/setup.py
  worker/requirements.txt
  worker/setup.py
Due: analyzer, playout

chore: update requests version range
  analyzer/requirements.txt
  analyzer/setup.py
  api-client/requirements.txt
  api-client/setup.py
  playout/requirements.txt
  playout/setup.py
  worker/requirements.txt
  worker/setup.py
Due: analyzer, api-client, playout

chore(analyzer): update pika version range
  analyzer/requirements.txt
  analyzer/setup.py
Due: analyzer

chore(api-client): update dateutil version range
  api-client/requirements.txt
  api-client/setup.py
Due: api-client

chore(playout): remove explicit amqplib
  playout/requirements.txt
  playout/setup.py
Due: playout

chore(playout): update defusedxml version range
  playout/requirements.txt
  playout/setup.py
Due: playout

chore(shared): update pyyaml version range
  shared/requirements.txt
  shared/setup.py
Due: shared

chore(shared): update pydantic version range
  shared/requirements.txt
  shared/setup.py
Due: shared

feat(playout): replace pytz with zoneinfo
  playout/libretime_playout/recorder.py
  playout/requirements.txt
  playout/setup.py
Due: playout

chore(api): rename webstream models fields
  api/libretime_api/schedule/models/webstream.py
  api/schema.yml
Due: api

chore(api): rename smart_block models fields
  api/libretime_api/schedule/models/smart_block.py
  api/schema.yml
Due: api
