Repository LibreTime/libretime: changes, and which Codecov flags are due for each by the changed paths.
All: analyzer, api, api-client, playout, shared

docs: add ubuntu bionic deprecation notice
  docs/releases/unreleased.md
Due: none

docs: add debian buster deprecation notice
  docs/releases/unreleased.md
Due: none

chore: some time traveling
  README.md
Due: none

chore: some time traveling (#2062)
  README.md
Due: none

refactor(playout): use vars setter in liq client
  playout/libretime_playout/liquidsoap/client/_client.py
Due: playout

refactor(playout): move liq io to liq_client
  playout/libretime_playout/liquidsoap/client/_client.py
  playout/libretime_playout/player/fetch.py
Due: playout

feat(worker): rename service and package to libretime-worker
  docs/admin-manual/setup/configuration.md
  docs/admin-manual/setup/upgrade.md
  docs/admin-manual/troubleshooting.md
  docs/admin-manual/uninstall.md
  docs/releases/unreleased.md
  install
  installer/systemd/libretime.target
  legacy/application/check.php
  legacy/application/configs/config-check.php
  legacy/application/views/scripts/systemstatus/index.phtml
  worker/install/systemd/libretime-worker.service
  worker/setup.py
Due: none

feat(worker): rename service and package to libretime-worker (#2065)
  docs/admin-manual/setup/configuration.md
  docs/admin-manual/setup/upgrade.md
  docs/admin-manual/troubleshooting.md
  docs/admin-manual/uninstall.md
  docs/releases/unreleased.md
  install
  installer/systemd/libretime.target
  legacy/application/check.php
  legacy/application/configs/config-check.php
  legacy/application/views/scripts/systemstatus/index.phtml
  worker/install/systemd/libretime-worker.service
  worker/setup.py
Due: none

refactor(playout): simplify legacy api check
  playout/libretime_playout/main.py
Due: playout

refactor(playout): rename vars and add typing
  playout/libretime_playout/main.py
  playout/libretime_playout/message_handler.py
  playout/libretime_playout/player/fetch.py
  playout/libretime_playout/player/file.py
  playout/libretime_playout/player/liquidsoap_gateway.py
  playout/libretime_playout/player/push.py
  playout/libretime_playout/player/queue.py
Due: playout

ci(legacy): catch syntax errors on older php versions
  .github/workflows/legacy.yml
  legacy/.gitignore
  legacy/Makefile
  legacy/tools/composer.json
  legacy/tools/composer.lock
Due: none

fix(legacy): args comma syntax error
  legacy/application/common/CORSHelper.php
  legacy/application/services/MediaService.php
Due: none

docs: add restore procedure
  docs/admin-manual/backup.md
Due: none

chore: revert pin setuptools to <64.0.0 for development
  tools/python.mk
Due: none

chore: revert pin setuptools to <64.0.0 for build backend
  analyzer/pyproject.toml
  api-client/pyproject.toml
  api/pyproject.toml
  playout/pyproject.toml
  shared/pyproject.toml
  tools/pyproject.toml
  worker/pyproject.toml
Due: analyzer, api, api-client, playout, shared

chore: setuptools enable legacy-editable
  tools/python.mk
Due: none

feat: optionally load systemd env from /etc/libretime/env
  analyzer/install/systemd/libretime-analyzer.service
  api/install/systemd/libretime-api.service
  playout/install/systemd/libretime-liquidsoap.service
  playout/install/systemd/libretime-playout.service
  worker/install/systemd/libretime-worker.service
Due: analyzer, api, playout

chore: debug logs for vagrant services
  installer/vagrant/post-install.sh
Due: none

docs: add restore procedure (#2071)
  docs/admin-manual/backup.md
Due: none

docs: add missing storage configuration
  docs/admin-manual/setup/configuration.md
Due: none

docs: improve config comments
  docs/admin-manual/setup/configuration.md
  installer/config.yml
Due: none

chore(legacy): fix config validator name
  legacy/application/configs/conf.php
Due: none

test(legacy): enable stdout logs
  legacy/tests/phpunit.xml
Due: none

fix(legacy): 404 on listeners stats
  legacy/application/controllers/ListenerstatController.php
Due: none

chore: use https links
  legacy/application/common/FileIO.php
  legacy/application/common/LocaleHelper.php
  legacy/application/common/OsPath.php
  legacy/application/configs/config-check.php
  legacy/application/configs/constants.php
  legacy/application/controllers/LocaleController.php
  legacy/application/controllers/plugins/Acl_plugin.php
  legacy/application/logging/AirtimeLog.php
  legacy/application/models/Block.php
  legacy/application/models/Playlist.php
  legacy/application/models/Preference.php
  legacy/application/models/ServiceRegister.php
  legacy/application/models/StoredFile.php
  legacy/application/models/Subjects.php
  legacy/application/models/Webstream.php
  legacy/application/modules/rest/controllers/ShowImageController.php
  legacy/application/modules/rest/helpers/RestAuth.php
  legacy/application/services/PodcastService.php
  shared/setup.py
Due: shared

chore: use https links (#2075)
  legacy/application/common/FileIO.php
  legacy/application/common/LocaleHelper.php
  legacy/application/common/OsPath.php
  legacy/application/configs/config-check.php
  legacy/application/configs/constants.php
  legacy/application/controllers/LocaleController.php
  legacy/application/controllers/plugins/Acl_plugin.php
  legacy/application/logging/AirtimeLog.php
  legacy/application/models/Block.php
  legacy/application/models/Playlist.php
  legacy/application/models/Preference.php
  legacy/application/models/ServiceRegister.php
  legacy/application/models/StoredFile.php
  legacy/application/models/Subjects.php
  legacy/application/models/Webstream.php
  legacy/application/modules/rest/controllers/ShowImageController.php
  legacy/application/modules/rest/helpers/RestAuth.php
  legacy/application/services/PodcastService.php
  shared/setup.py
Due: shared

Path conditions:
  analyzer: any of: analyzer/
  api: any of: api/
  api-client: any of: api-client/
  playout: any of: playout/
  shared: any of: shared/
