Repository LibreTime/libretime: changes, and which Codecov flags are due for each by the changed paths.
All: analyzer, api, api-client, playout, shared

codecov.yml:

---
coverage:
  status:
    project: off

flags:
  analyzer:
    paths:
      - analyzer/
    carryforward: true

  api:
    paths:
      - api/
    carryforward: true

  api-client:
    paths:
      - api-client/
    carryforward: true

  playout:
    paths:
      - playout/
    carryforward: true

  shared:
    paths:
      - shared/
    carryforward: true

fix(legacy): do not rely on undefined SERVER_NAME
  legacy/application/logging/Logging.php
  legacy/application/models/Auth.php
  legacy/application/models/StoredFile.php
Due: none

chore(api-client): remove unused v1 api endpoints
  api-client/libretime_api_client/v1.py
  api-client/tests/utils_test.py
Due: api-client

fix(api-client): remove unused v1 methods
  api-client/libretime_api_client/v1.py
  api-client/tests/utils_test.py
Due: api-client

chore(api-client): cleanup comments
  api-client/libretime_api_client/v1.py
Due: api-client

refactorapi-client): fix linting errors
  api-client/libretime_api_client/_utils.py
  api-client/libretime_api_client/v1.py
  api-client/tests/utils_test.py
Due: api-client

refactor(api-client): improve exception handling
  api-client/libretime_api_client/v1.py
Due: api-client

chore: disable pylint logging-fstring-interpolation format
  analyzer/pyproject.toml
  api-client/pyproject.toml
  playout/pyproject.toml
  shared/pyproject.toml
  worker/pyproject.toml
Due: analyzer, api-client, playout, shared

fix(legacy): do not rely on undefined SERVER_NAME (#2031)
  legacy/application/logging/Logging.php
  legacy/application/models/Auth.php
  legacy/application/models/StoredFile.php
Due: none

chore: disable pylint logging-fstring-interpolation format (#2033)
  analyzer/pyproject.toml
  api-client/pyproject.toml
  playout/pyproject.toml
  shared/pyproject.toml
  worker/pyproject.toml
Due: analyzer, api-client, playout, shared

refactor(analyzer): fix linting errors
  analyzer/libretime_analyzer/message_listener.py
  analyzer/libretime_analyzer/pipeline/analyze_playability.py
  analyzer/libretime_analyzer/pipeline/pipeline.py
  analyzer/libretime_analyzer/status_reporter.py
  analyzer/tests/pipeline/analyze_cuepoint_test.py
  analyzer/tests/pipeline/analyze_playability_test.py
  analyzer/tests/pipeline/analyze_replaygain_test.py
Due: analyzer

refactor(analyzer): fix linting errors (#2029)
  analyzer/libretime_analyzer/message_listener.py
  analyzer/libretime_analyzer/pipeline/analyze_playability.py
  analyzer/libretime_analyzer/pipeline/pipeline.py
  analyzer/libretime_analyzer/status_reporter.py
  analyzer/tests/pipeline/analyze_cuepoint_test.py
  analyzer/tests/pipeline/analyze_playability_test.py
  analyzer/tests/pipeline/analyze_replaygain_test.py
Due: analyzer

feat(analyzer): override paths using env variables
  analyzer/libretime_analyzer/pipeline/_ffmpeg.py
  analyzer/libretime_analyzer/pipeline/_liquidsoap.py
  analyzer/libretime_analyzer/pipeline/analyze_playability.py
  analyzer/tests/pipeline/analyze_playability_test.py
Due: analyzer

refactor(analyzer): rewrite analyze playability
  analyzer/libretime_analyzer/pipeline/_liquidsoap.py
  analyzer/libretime_analyzer/pipeline/analyze_playability.py
Due: analyzer

refactor(playout): improve exceptions handling
  playout/libretime_playout/liquidsoap/entrypoint.py
  playout/libretime_playout/main.py
  playout/libretime_playout/message_handler.py
  playout/libretime_playout/player/fetch.py
  playout/libretime_playout/player/file.py
  playout/libretime_playout/player/liquidsoap.py
  playout/libretime_playout/player/liquidsoap_gateway.py
  playout/libretime_playout/player/push.py
  playout/libretime_playout/player/queue.py
  playout/libretime_playout/recorder.py
  playout/libretime_playout/stats.py
Due: playout

chore(api-client): add missing python-dateutil types
  api-client/setup.py
Due: api-client

chore(playout): add missing python-dateutil dependency
  playout/requirements.txt
  playout/setup.py
Due: playout

chore: use max 4 cores for parallel execution
  tools/python.mk
Due: none

chore(api-client): mark package as typed
  api-client/libretime_api_client/py.typed
  api-client/setup.py
Due: api-client

chore(playout): add missing requests types
  playout/setup.py
Due: playout

refactor(playout): improve exceptions handling (#2027)
  playout/libretime_playout/liquidsoap/entrypoint.py
  playout/libretime_playout/main.py
  playout/libretime_playout/message_handler.py
  playout/libretime_playout/player/fetch.py
  playout/libretime_playout/player/file.py
  playout/libretime_playout/player/liquidsoap.py
  playout/libretime_playout/player/liquidsoap_gateway.py
  playout/libretime_playout/player/push.py
  playout/libretime_playout/player/queue.py
  playout/libretime_playout/recorder.py
  playout/libretime_playout/stats.py
Due: playout

feat(playout): rewrite stats collector
  playout/libretime_playout/history/__init__.py
  playout/libretime_playout/history/stats.py
  playout/libretime_playout/main.py
  playout/libretime_playout/stats.py
  playout/packages.ini
  playout/pyproject.toml
  playout/requirements.txt
  playout/setup.py
  playout/tests/__init__.py
  playout/tests/fixtures/__init__.py
  playout/tests/fixtures/icecast_stats.xml
  playout/tests/fixtures/shoutcast_admin.xml
  playout/tests/history/__init__.py
  playout/tests/history/stats_test.py
Due: playout

feat(playout): rewrite stats collector (#2028)
  playout/libretime_playout/history/__init__.py
  playout/libretime_playout/history/stats.py
  playout/libretime_playout/main.py
  playout/libretime_playout/stats.py
  playout/packages.ini
  playout/pyproject.toml
  playout/requirements.txt
  playout/setup.py
  playout/tests/__init__.py
  playout/tests/fixtures/__init__.py
  playout/tests/fixtures/icecast_stats.xml
  playout/tests/fixtures/shoutcast_admin.xml
  playout/tests/history/__init__.py
  playout/tests/history/stats_test.py
Due: playout

test(api): conftest at top level for global fixture access
  api/libretime_api/conftest.py
Due: api

test(api): conftest at top level for global fixture access (#2038)
  api/libretime_api/conftest.py
Due: api

chore(legacy): sort composer packages
  legacy/composer.json
Due: none

feat(legacy): setup config schema validation
  legacy/.php-cs-fixer.php
  legacy/application/configs/conf.php
  legacy/composer.json
  legacy/composer.lock
Due: none
