Repository LibreTime/libretime: changes, and which Codecov flags are due for each by the changed paths.
All: analyzer, api, api-client, playout, shared

codecov.yml:

---
coverage:
  status:
    project: off

flags:
  analyzer:
    paths:
      - analyzer/
    carryforward: true

  api:
    paths:
      - api/
    carryforward: true

  api-client:
    paths:
      - api-client/
    carryforward: true

  playout:
    paths:
      - playout/
    carryforward: true

  shared:
    paths:
      - shared/
    carryforward: true

chore(api-client): add requests typings for mypy
  api-client/setup.py
Due: api-client

feat(playout): use single clients instance
  playout/libretime_playout/liquidsoap/entrypoint.py
  playout/libretime_playout/liquidsoap/liquidsoap_auth.py
  playout/libretime_playout/main.py
  playout/libretime_playout/notify/main.py
  playout/libretime_playout/player/fetch.py
  playout/libretime_playout/player/file.py
  playout/libretime_playout/player/push.py
  playout/libretime_playout/recorder.py
  playout/libretime_playout/stats.py
Due: playout

chore: enable pylint recursive linting
  tools/python.mk
Due: none

chore: enable pylint recursive linting (#1981)
  tools/python.mk
Due: none

feat(playout): use single clients instance (#1980)
  playout/libretime_playout/liquidsoap/entrypoint.py
  playout/libretime_playout/liquidsoap/liquidsoap_auth.py
  playout/libretime_playout/main.py
  playout/libretime_playout/notify/main.py
  playout/libretime_playout/player/fetch.py
  playout/libretime_playout/player/file.py
  playout/libretime_playout/player/push.py
  playout/libretime_playout/recorder.py
  playout/libretime_playout/stats.py
Due: playout

feat(api): don't use trailing slashes
  api/libretime_api/core/router.py
  api/libretime_api/history/router.py
  api/libretime_api/podcasts/router.py
  api/libretime_api/schedule/router.py
  api/libretime_api/schedule/tests/views/test_schedule.py
  api/libretime_api/storage/router.py
  api/libretime_api/storage/tests/views/test_file.py
  api/libretime_api/tests/test_permissions.py
  api/libretime_api/urls.py
  api/schema.yml
Due: api

feat(api): don't use trailing slashes (#1982)
  api/libretime_api/core/router.py
  api/libretime_api/history/router.py
  api/libretime_api/podcasts/router.py
  api/libretime_api/schedule/router.py
  api/libretime_api/schedule/tests/views/test_schedule.py
  api/libretime_api/storage/router.py
  api/libretime_api/storage/tests/views/test_file.py
  api/libretime_api/tests/test_permissions.py
  api/libretime_api/urls.py
  api/schema.yml
Due: api

docs: add releases distributions support
  README.md
  docs/admin-manual/setup/install.md
  docs/developer-manual/development/releases.md
Due: none

docs: create development section
  docs/developer-manual/development/_category_.yml
  docs/developer-manual/development/environment.md
Due: none

test(api): always print logs while testing
  api/pyproject.toml
Due: api

chore(api): don't scan tests files with bandit
  api/Makefile
Due: api

test(api): create api_client pytest fixture
  api/libretime_api/tests/conftest.py
Due: api

feat(api): cast StreamSetting raw_value to value
  api/libretime_api/core/models/preference.py
  api/libretime_api/core/tests/models/test_preference.py
  api/schema.yml
Due: api

fix(analyzer): remove outdated urllib3 workaround
  analyzer/libretime_analyzer/status_reporter.py
Due: analyzer

refactor(analyzer): remove unused import
  analyzer/libretime_analyzer/message_listener.py
Due: analyzer

chore(analyzer): clean old comments
  analyzer/libretime_analyzer/message_listener.py
  analyzer/libretime_analyzer/status_reporter.py
Due: analyzer

refactor(analyzer): fix linting
  analyzer/libretime_analyzer/main.py
  analyzer/libretime_analyzer/message_listener.py
  analyzer/libretime_analyzer/pipeline/pipeline.py
Due: analyzer

chore(analyzer): install missing requests types
  analyzer/setup.py
Due: analyzer

chore: improve setuptools find_packages
  analyzer/setup.py
  api-client/setup.py
  api/setup.py
  playout/setup.py
  shared/setup.py
  worker/setup.py
Due: analyzer, api, api-client, playout, shared

ci: website-preview use single comment
  .github/workflows/website-preview-command.yml
Due: none

feat(worker): load callback details from config
  legacy/application/services/PodcastEpisodeService.php
  worker/libretime_worker/config.py
  worker/libretime_worker/tasks.py
Due: none

chore: improve setuptools find_packages (#1985)
  analyzer/setup.py
  api-client/setup.py
  api/setup.py
  playout/setup.py
  shared/setup.py
  worker/setup.py
Due: analyzer, api, api-client, playout, shared

test(api): always print logs while testing (#1988)
  api/pyproject.toml
Due: api

chore(api): don't scan tests files with bandit (#1989)
  api/Makefile
Due: api

test(api): create api_client pytest fixture (#1990)
  api/libretime_api/tests/conftest.py
Due: api

refactor(shared): explode config into multiple files
  shared/libretime_shared/config/__init__.py
  shared/libretime_shared/config/_base.py
  shared/libretime_shared/config/_models.py
Due: shared

refactor(shared): explode config into multiple files (#1987)
  shared/libretime_shared/config/__init__.py
  shared/libretime_shared/config/_base.py
  shared/libretime_shared/config/_models.py
Due: shared

feat(analyzer): load callback details from config and file_id
  analyzer/libretime_analyzer/config.py
  analyzer/libretime_analyzer/main.py
  analyzer/libretime_analyzer/message_listener.py
  analyzer/libretime_analyzer/pipeline/pipeline.py
  analyzer/libretime_analyzer/status_reporter.py
  analyzer/tests/pipeline/pipeline_test.py
  legacy/application/models/RabbitMq.php
  legacy/application/models/airtime/CcFiles.php
  legacy/application/services/MediaService.php
Due: analyzer

feat(api): cast StreamSetting raw_value to value (#1991)
  api/libretime_api/core/models/preference.py
  api/libretime_api/core/tests/models/test_preference.py
  api/schema.yml
Due: api

ci: website-preview use single comment (#1996)
  .github/workflows/website-preview-command.yml
Due: none

feat(worker): load callback details from config (#1994)
  legacy/application/services/PodcastEpisodeService.php
  worker/libretime_worker/config.py
  worker/libretime_worker/tasks.py
Due: none

feat(analyzer): load callback details from config and file_id (#1993)
  analyzer/libretime_analyzer/config.py
  analyzer/libretime_analyzer/main.py
  analyzer/libretime_analyzer/message_listener.py
  analyzer/libretime_analyzer/pipeline/pipeline.py
  analyzer/libretime_analyzer/status_reporter.py
  analyzer/tests/pipeline/pipeline_test.py
  legacy/application/models/RabbitMq.php
  legacy/application/models/airtime/CcFiles.php
  legacy/application/services/MediaService.php
Due: analyzer

feat(playout): integrate api-client v2 calls
  playout/libretime_playout/config.py
  playout/libretime_playout/main.py
  playout/libretime_playout/player/file.py
  playout/libretime_playout/player/schedule.py
  playout/setup.py
  playout/tests/player/schedule_test.py
Due: playout
