Repository LibreTime/libretime: changes, and which Codecov flags are due for each by the changed paths.
All: analyzer, api, api-client, playout, shared

codecov.yml:

---
coverage:
  status:
    project: off

flags:
  analyzer:
    paths:
      - analyzer/
    carryforward: true

  api:
    paths:
      - api/
    carryforward: true

  api-client:
    paths:
      - api-client/
    carryforward: true

  playout:
    paths:
      - playout/
    carryforward: true

  shared:
    paths:
      - shared/
    carryforward: true

chore: update cpu count lookup
  tools/python.mk
Due: none

chore: split test and coverage tasks
  .github/workflows/_python.yml
  .github/workflows/api.yml
  analyzer/Makefile
  analyzer/pyproject.toml
  api-client/Makefile
  api-client/pyproject.toml
  api/Makefile
  api/pyproject.toml
  api/setup.py
  playout/Makefile
  playout/pyproject.toml
  shared/Makefile
  shared/pyproject.toml
  tools/python.mk
  worker/Makefile
  worker/pyproject.toml
Due: analyzer, api, api-client, playout, shared

ci: test project weekly
  .github/workflows/analyzer.yml
  .github/workflows/api-client.yml
  .github/workflows/api.yml
  .github/workflows/legacy.yml
  .github/workflows/playout.yml
  .github/workflows/shared.yml
  .github/workflows/worker.yml
Due: none

chore: move isort config to pyproject.toml
  analyzer/pyproject.toml
  api-client/pyproject.toml
  api/pyproject.toml
  playout/pyproject.toml
  shared/pyproject.toml
  tools/pyproject.toml
  tools/python.mk
  worker/pyproject.toml
Due: analyzer, api, api-client, playout, shared

fix(worker): replace deprecated cgi.parse_header
  worker/libretime_worker/tasks.py
Due: none

refactor: improve backports imports
  playout/libretime_playout/recorder.py
  shared/libretime_shared/config/_models.py
Due: playout, shared

chore: don't use venv activation in makefile
  api/Makefile
  tools/python.mk
Due: api

fix(installer): install missing sudo
  install
Due: none

fix(installer): set home and login when running as postgres
  install
Due: none

ci: enable renovate for 3.0.x
  .github/renovate.json
Due: none

ci: enable renovate for 3.0.x (#2277)
  .github/renovate.json
Due: none

fix(legacy): add log entry on task run
  legacy/application/common/TaskManager.php
Due: none

fix(legacy): log errors on connect check failure
  legacy/application/check.php
  legacy/application/preload.php
Due: none

fix(legacy): add log entry on task run (#2316)
  legacy/application/common/TaskManager.php
Due: none

fix(legacy): log errors on connect check failure (#2317)
  legacy/application/check.php
  legacy/application/preload.php
Due: none

chore: remove website setup
  .github/renovate.json
  .github/workflows/command.yml
  .github/workflows/docs.yml
  .github/workflows/housekeeping.yml
  .github/workflows/website-preview-command.yml
  .github/workflows/website.yml
  Makefile
  README.md
  docs/developer-manual/development/releases.md
Due: none

ci: sync docs with libretime/website repository
  .github/workflows/docs.yml
  tools/ci-sync-docs.sh
Due: none
