Repository LibreTime/libretime: changes, and which Codecov flags are due for each by the changed paths.
All: analyzer, api, api-client, playout, shared

codecov.yml:

---
coverage:
  status:
    project: off

flags:
  analyzer:
    paths:
      - analyzer/
    carryforward: true

  api:
    paths:
      - api/
    carryforward: true

  api-client:
    paths:
      - api-client/
    carryforward: true

  playout:
    paths:
      - playout/
    carryforward: true

  shared:
    paths:
      - shared/
    carryforward: true

fix(playout): py36 compatibility broken typings
  playout/libretime_playout/main.py
  playout/libretime_playout/message_handler.py
  playout/libretime_playout/player/fetch.py
  playout/libretime_playout/player/file.py
  playout/libretime_playout/player/push.py
  playout/libretime_playout/player/queue.py
Due: playout

fix(playout): py39 compatibility zoneinfo import
  playout/libretime_playout/recorder.py
Due: playout

fix(api): install gunicorn from pip for bionic
  api/packages.ini
  install
Due: api

fix(installer): only upgrade pip packages if needed
  install
Due: none

fix(installer): fix compatibility with bionic
  install
Due: none

ci: add check-shell tools cache
  .github/workflows/project.yml
Due: none

ci: add check-shell python cache
  .github/workflows/project.yml
Due: none

ci: add pre-commit python cache
  .github/workflows/project.yml
Due: none

ci: add docs lint tools cache
  .github/workflows/docs.yml
Due: none

ci: add housekeeping lychee cache
  .github/workflows/housekeeping.yml
Due: none

style(legacy): format config
  legacy/application/configs/conf.php
Due: none

fix(legacy): look in /legacy for a VERSION file
  legacy/application/configs/conf.php
Due: none

chore: add renovate-schema in renovate config
  .github/renovate.json
Due: none

chore: widen version range on python deps update
  .github/renovate.json
Due: none

feat(playout): improve generate_*_events
  playout/libretime_playout/player/schedule.py
  playout/tests/player/schedule_test.py
Due: playout

feat(playout): improve generate_*_events (#2088)
  playout/libretime_playout/player/schedule.py
  playout/tests/player/schedule_test.py
Due: playout

feat(api): remove set passwords command
  Vagrantfile
  api/libretime_api/legacy/management/__init__.py
  api/libretime_api/legacy/management/commands/__init__.py
  api/libretime_api/legacy/management/commands/set_icecast_passwords.py
  docs/admin-manual/setup/install.md
  install
Due: api

docs: use brackets to refer to another field in the config
  docs/admin-manual/setup/configuration.md
Due: none

feat: remove cc_stream_setting models
  api/libretime_api/core/models/__init__.py
  api/libretime_api/core/models/preference.py
  api/libretime_api/core/tests/models/test_preference.py
  api/libretime_api/legacy/migrations/sql/data.sql
  api/libretime_api/legacy/migrations/sql/schema.sql
  legacy/application/configs/classmap-airtime-conf.php
  legacy/application/models/airtime/CcStreamSetting.php
  legacy/application/models/airtime/CcStreamSettingPeer.php
  legacy/application/models/airtime/CcStreamSettingQuery.php
  legacy/application/models/airtime/map/CcStreamSettingTableMap.php
  legacy/application/models/airtime/om/BaseCcStreamSetting.php
  legacy/application/models/airtime/om/BaseCcStreamSettingPeer.php
  legacy/application/models/airtime/om/BaseCcStreamSettingQuery.php
  legacy/build/schema.xml
Due: api

feat(installer): deploy stream config
  install
  installer/config.yml
Due: none

feat(playout): allow liquidsoap listen address configuration
  docs/admin-manual/setup/configuration.md
  legacy/application/configs/conf.php
  playout/libretime_playout/config.py
  playout/libretime_playout/liquidsoap/entrypoint.liq.j2
  playout/tests/fixtures/entrypoint-1.1.liq
  playout/tests/fixtures/entrypoint-1.4.liq
Due: playout

feat(playout): liquidsoap boostrap using new api endpoints
  playout/libretime_playout/player/fetch.py
Due: playout

feat(playout): remove stream_setting update handler
  playout/libretime_playout/message_handler.py
  playout/libretime_playout/player/fetch.py
  playout/libretime_playout/timeout.py
Due: playout

feat(playout): build liquidsoap entrypoint with stream config
  playout/libretime_playout/config.py
  playout/libretime_playout/liquidsoap/1.1/ls_script.liq
  playout/libretime_playout/liquidsoap/1.3/ls_script.liq
  playout/libretime_playout/liquidsoap/1.4/ls_script.liq
  playout/libretime_playout/liquidsoap/entrypoint.liq.j2
  playout/libretime_playout/liquidsoap/entrypoint.py
  playout/libretime_playout/liquidsoap/main.py
  playout/libretime_playout/liquidsoap/models.py
  playout/requirements.txt
  playout/setup.py
  playout/tests/conftest.py
  playout/tests/fixtures/__init__.py
  playout/tests/fixtures/entrypoint-1.1.liq
  playout/tests/fixtures/entrypoint-1.4.liq
  playout/tests/liquidsoap/entrypoint_test.py
Due: playout

feat(playout): allow updating message_offline value
  legacy/application/models/Preference.php
  playout/libretime_playout/liquidsoap/1.1/ls_script.liq
  playout/libretime_playout/liquidsoap/1.3/ls_script.liq
  playout/libretime_playout/liquidsoap/1.4/ls_script.liq
  playout/libretime_playout/liquidsoap/client/_client.py
  playout/libretime_playout/liquidsoap/entrypoint.liq.j2
  playout/libretime_playout/message_handler.py
  playout/libretime_playout/player/fetch.py
  playout/tests/fixtures/entrypoint-1.1.liq
  playout/tests/fixtures/entrypoint-1.4.liq
Due: playout

feat(playout): stats collector using stream config
  playout/libretime_playout/history/stats.py
  playout/libretime_playout/main.py
  playout/tests/conftest.py
  playout/tests/history/stats_test.py
Due: playout

feat(shared): create stream config models
  shared/libretime_shared/config/__init__.py
  shared/libretime_shared/config/_models.py
  shared/tests/config/base_test.py
  shared/tests/config/models_test.py
Due: shared

feat(api): add /info and /stream/* endpoints
  api-client/libretime_api_client/v2.py
  api/libretime_api/core/models/preference.py
  api/libretime_api/core/router.py
  api/libretime_api/core/serializers/__init__.py
  api/libretime_api/core/serializers/info.py
  api/libretime_api/core/serializers/preference.py
  api/libretime_api/core/serializers/stream.py
  api/libretime_api/core/tests/models/test_preference.py
  api/libretime_api/core/tests/views/test_info.py
  api/libretime_api/core/tests/views/test_stream.py
  api/libretime_api/core/views/__init__.py
  api/libretime_api/core/views/info.py
  api/libretime_api/core/views/preference.py
  api/libretime_api/core/views/stream.py
  api/schema.yml
Due: api, api-client
