Repository LibreTime/libretime: changes, and which Codecov flags are due for each by the changed paths.
All: analyzer, api, api-client, playout, shared

chore: update docs link
  README.md
Due: none

chore: development process is in contributing
  README.md
Due: none

chore: don't check youtube nocookie links
  .github/workflows/housekeeping.yml
Due: none

ci: update docker hub containers description
  .github/workflows/container.yml
Due: none

chore: bump copyright year
  README.md
Due: none

chore: use title for image alternative
  README.md
Due: none

chore: add contributors listing tool
  tools/Makefile
  tools/contibutors.py
Due: none

fix(playout): when shows ends, next shows starts without fade-in/fade-out (#2412)
  playout/libretime_playout/liquidsoap/1.4/ls_script.liq
Due: playout

chore: add contributors listing tool (#2417)
  tools/Makefile
  tools/contibutors.py
Due: none

feat(installer): configure timezone using timedatectl
  install
Due: none

feat(installer): configure timezone using timedatectl (#2418)
  install
Due: none

ci: replace stale bot with stale action
  .github/stale.yml
  .github/workflows/housekeeping.yml
Due: none

feat(playout): don't serialize message twice
  playout/libretime_playout/main.py
  playout/libretime_playout/message_handler.py
  playout/libretime_playout/player/fetch.py
  playout/libretime_playout/recorder.py
Due: playout

chore(playout): disable amqp debug logs
  playout/libretime_playout/main.py
Due: playout

fix(playout): legacy pushes non validated data
  playout/libretime_playout/liquidsoap/client/_client.py
Due: playout

refactor(playout): update liquidsoap input auth handler
  playout/libretime_playout/liquidsoap/1.4/ls_script.liq
  playout/libretime_playout/liquidsoap/liquidsoap_auth.py
Due: playout

fix(playout): explicit ogg vorbis icecast encoder
  playout/libretime_playout/liquidsoap/templates/outputs.liq.j2
  playout/tests/liquidsoap/__snapshots__/entrypoint_test.ambr
Due: playout

fix(playout): prevent unbound variables
  playout/libretime_playout/player/fetch.py
Due: playout

refactor(playout): init mimetypes only once
  playout/libretime_playout/player/fetch.py
Due: playout

refactor(playout): remove unused recorder
  playout/libretime_playout/main.py
  playout/libretime_playout/message_handler.py
  playout/libretime_playout/recorder.py
Due: playout

refactor(playout): generate entrypoint to string
  playout/libretime_playout/liquidsoap/entrypoint.py
  playout/libretime_playout/liquidsoap/main.py
  playout/tests/liquidsoap/entrypoint_test.py
Due: playout

refactor(playout): fix linting errors
  playout/libretime_playout/history/stats.py
  playout/libretime_playout/main.py
  playout/libretime_playout/message_handler.py
  playout/libretime_playout/notify/main.py
  playout/libretime_playout/player/fetch.py
  playout/libretime_playout/player/file.py
  playout/libretime_playout/player/liquidsoap.py
  playout/libretime_playout/player/liquidsoap_gateway.py
  playout/libretime_playout/player/push.py
  playout/pyproject.toml
  playout/tests/liquidsoap/version_test.py
Due: playout

test(playout): allow pylint failure
  playout/Makefile
Due: playout

test(playout): silence existing broad-exception-caught errors
  playout/libretime_playout/history/stats.py
  playout/libretime_playout/message_handler.py
  playout/libretime_playout/player/fetch.py
  playout/libretime_playout/player/file.py
  playout/libretime_playout/player/push.py
  playout/libretime_playout/player/queue.py
Due: playout

fix(shared): return type confusion
  shared/libretime_shared/config/_models.py
Due: shared

fix(playout): use int for liquidsoap queues map
  playout/libretime_playout/liquidsoap/client/_client.py
  playout/libretime_playout/player/liquidsoap.py
  playout/libretime_playout/player/liquidsoap_gateway.py
Due: playout

test(playout): check untyped defs with mypy
  playout/pyproject.toml
Due: playout

refactor(playout): add more typings
  playout/libretime_playout/history/stats.py
  playout/libretime_playout/liquidsoap/client/_client.py
  playout/libretime_playout/liquidsoap/client/_connection.py
  playout/libretime_playout/main.py
  playout/libretime_playout/message_handler.py
  playout/libretime_playout/player/fetch.py
  playout/libretime_playout/player/liquidsoap.py
  playout/libretime_playout/player/push.py
  playout/libretime_playout/player/queue.py
  playout/libretime_playout/player/schedule.py
Due: playout

ci: replace stale bot with stale action (#2421)
  .github/stale.yml
  .github/workflows/housekeeping.yml
Due: none

Path conditions:
  analyzer: any of: analyzer/
  api: any of: api/
  api-client: any of: api-client/
  playout: any of: playout/
  shared: any of: shared/
