Repository LibreTime/libretime: changes, and which Codecov flags are due for each by the changed paths.
All: analyzer, api, api-client, playout, shared

chore(playout): change quotes
  playout/libretime_playout/liquidsoap/1.4/ls_lib.liq
Due: playout

refactor(playout): rename inputs on_* handlers
  playout/libretime_playout/liquidsoap/1.4/ls_script.liq
Due: playout

refactor(playout): rename stream control variables
  playout/libretime_playout/liquidsoap/1.4/ls_script.liq
Due: playout

refactor(playout): rename liquidsoap switch functions
  playout/libretime_playout/liquidsoap/1.4/ls_script.liq
  playout/libretime_playout/liquidsoap/client/_client.py
Due: playout

refactor(playout): rename inputs config variables
  playout/libretime_playout/liquidsoap/1.4/ls_script.liq
  playout/libretime_playout/liquidsoap/entrypoint.liq.j2
  playout/tests/liquidsoap/__snapshots__/entrypoint_test.ambr
Due: playout

feat(playout): remove unused liquidsoap outputs connection status
  playout/libretime_playout/liquidsoap/1.4/ls_lib.liq
  playout/libretime_playout/liquidsoap/1.4/ls_script.liq
  playout/libretime_playout/liquidsoap/client/_client.py
  playout/libretime_playout/player/fetch.py
Due: playout

fix(playout): skip the identified queue instead of the current
  playout/libretime_playout/liquidsoap/1.4/ls_script.liq
Due: playout

chore(playout): clean comments
  playout/libretime_playout/liquidsoap/1.4/ls_lib.liq
  playout/libretime_playout/liquidsoap/1.4/ls_script.liq
Due: playout

feat(playout): remove unused liquidsoap output namespace
  playout/libretime_playout/liquidsoap/1.4/ls_script.liq
Due: playout

refactor(playout): rename web_stream variables
  playout/libretime_playout/liquidsoap/1.4/ls_lib.liq
  playout/libretime_playout/liquidsoap/1.4/ls_script.liq
Due: playout

refactor(playout): rename input_check_auth handlers
  playout/libretime_playout/liquidsoap/1.4/ls_script.liq
Due: playout

refactor(playout): boot_timestamp can be static
  playout/libretime_playout/liquidsoap/1.4/ls_lib.liq
  playout/libretime_playout/liquidsoap/1.4/ls_script.liq
Due: playout

refactor(playout): rename web_stream functions
  playout/libretime_playout/liquidsoap/1.4/ls_lib.liq
  playout/libretime_playout/liquidsoap/1.4/ls_script.liq
  playout/libretime_playout/liquidsoap/client/_client.py
Due: playout

docs: add pulseaudio output in containers tutorial
  docker-compose.override.yml
  docker/config.dev.yml
  docker/pulse.client.conf
  docs/admin-manual/tutorials/setup-a-pulseaudio-output-inside-containers.md
Due: none

test: re-enable pylint logging-fstring-interpolation
  analyzer/pyproject.toml
  api-client/pyproject.toml
  api/pyproject.toml
  playout/pyproject.toml
  shared/pyproject.toml
  worker/pyproject.toml
Due: analyzer, api, api-client, playout, shared

refactor: don't use f-string on logging statements
  analyzer/libretime_analyzer/message_listener.py
  analyzer/libretime_analyzer/pipeline/_utils.py
  analyzer/libretime_analyzer/pipeline/analyze_metadata.py
  analyzer/libretime_analyzer/pipeline/analyze_playability.py
  analyzer/libretime_analyzer/pipeline/organise_file.py
  analyzer/libretime_analyzer/status_reporter.py
  api-client/libretime_api_client/v1.py
  api/libretime_api/storage/management/commands/bulk_import.py
  playout/libretime_playout/history/stats.py
  playout/libretime_playout/liquidsoap/client/_client.py
  playout/libretime_playout/liquidsoap/client/_connection.py
  playout/libretime_playout/liquidsoap/main.py
  playout/libretime_playout/message_handler.py
  playout/libretime_playout/notify/main.py
  playout/libretime_playout/player/fetch.py
  playout/libretime_playout/player/file.py
  playout/libretime_playout/player/liquidsoap.py
  playout/libretime_playout/player/push.py
  shared/libretime_shared/config/_base.py
  worker/libretime_worker/tasks.py
Due: analyzer, api, api-client, playout, shared

feat: replace loguru with logging
  analyzer/libretime_analyzer/main.py
  analyzer/libretime_analyzer/message_listener.py
  analyzer/libretime_analyzer/pipeline/_utils.py
  analyzer/libretime_analyzer/pipeline/analyze_cuepoint.py
  analyzer/libretime_analyzer/pipeline/analyze_metadata.py
  analyzer/libretime_analyzer/pipeline/analyze_playability.py
  analyzer/libretime_analyzer/pipeline/organise_file.py
  analyzer/libretime_analyzer/pipeline/pipeline.py
  analyzer/libretime_analyzer/status_reporter.py
  analyzer/tests/conftest.py
  api-client/libretime_api_client/_client.py
  api-client/libretime_api_client/v1.py
  playout/libretime_playout/history/stats.py
  playout/libretime_playout/liquidsoap/client/_client.py
  playout/libretime_playout/liquidsoap/client/_connection.py
  playout/libretime_playout/liquidsoap/main.py
  playout/libretime_playout/main.py
  playout/libretime_playout/message_handler.py
  playout/libretime_playout/notify/main.py
  playout/libretime_playout/player/fetch.py
  playout/libretime_playout/player/file.py
  playout/libretime_playout/player/liquidsoap.py
  playout/libretime_playout/player/liquidsoap_gateway.py
  playout/libretime_playout/player/push.py
  playout/libretime_playout/player/queue.py
  playout/libretime_playout/recorder.py
  playout/tests/liquidsoap/client/connection_test.py
  shared/README.md
  shared/libretime_shared/cli.py
  shared/libretime_shared/config/_base.py
  shared/libretime_shared/logging.py
  shared/requirements.txt
  shared/setup.py
  shared/tests/logging_test.py
Due: analyzer, api-client, playout, shared

refactor: don't use f-string on logging statements
  analyzer/libretime_analyzer/message_listener.py
  analyzer/libretime_analyzer/pipeline/_utils.py
  analyzer/libretime_analyzer/pipeline/analyze_metadata.py
  analyzer/libretime_analyzer/pipeline/analyze_playability.py
  analyzer/libretime_analyzer/pipeline/organise_file.py
  analyzer/libretime_analyzer/status_reporter.py
  api-client/libretime_api_client/v1.py
  api/libretime_api/storage/management/commands/bulk_import.py
  playout/libretime_playout/history/stats.py
  playout/libretime_playout/liquidsoap/client/_client.py
  playout/libretime_playout/liquidsoap/client/_connection.py
  playout/libretime_playout/liquidsoap/main.py
  playout/libretime_playout/main.py
  playout/libretime_playout/message_handler.py
  playout/libretime_playout/notify/main.py
  playout/libretime_playout/player/fetch.py
  playout/libretime_playout/player/file.py
  playout/libretime_playout/player/liquidsoap.py
  playout/libretime_playout/player/push.py
  playout/libretime_playout/player/queue.py
  playout/libretime_playout/recorder.py
  shared/libretime_shared/config/_base.py
  worker/libretime_worker/tasks.py
Due: analyzer, api, api-client, playout, shared

docs: adapt c4 to our workflows
  CONTRIBUTING.md
Due: none

docs: stop providing maintenance releases for old distributions
  docs/developer-manual/development/releases.md
Due: none

chore: add security policy
  SECURITY.md
Due: none

ci: use bake file for container build
  .github/workflows/actions/build-container/action.yml
  .github/workflows/container.yml
  docker-bake.json
Due: none

chore: push containers to docker.io
  .github/workflows/container.yml
Due: none

ci: update locales weekly, not for every commit
  .github/workflows/legacy.yml
  .github/workflows/project.yml
  .pre-commit-config.yaml
  legacy/locale/Makefile
Due: none

ci: update locales weekly, not for every commit (#2403)
  .github/workflows/legacy.yml
  .github/workflows/project.yml
  .pre-commit-config.yaml
  legacy/locale/Makefile
Due: none

fix(legacy): on air light fails when no shows are scheduled
  legacy/application/controllers/ApiController.php
Due: none

fix(playout): flush liquidsoap response before sending new
  playout/libretime_playout/liquidsoap/client/_client.py
Due: playout

fix(playout): use package loader for liquidsoap templates
  playout/libretime_playout/liquidsoap/entrypoint.py
  playout/libretime_playout/liquidsoap/templates/entrypoint.liq.j2
Due: playout

chore: configure more outputs for dev setup
  docker-compose.override.yml
  docker/config.dev.yml
Due: none

feat(playout): enable vorbis metadata per icecast output
  playout/libretime_playout/liquidsoap/entrypoint.py
  playout/libretime_playout/liquidsoap/templates/entrypoint.liq.j2
  playout/libretime_playout/liquidsoap/templates/outputs.liq.j2
  playout/tests/liquidsoap/__snapshots__/entrypoint_test.ambr
Due: playout

test(playout): more entrypoint config test cases
  playout/tests/liquidsoap/__snapshots__/entrypoint_test.ambr
  playout/tests/liquidsoap/entrypoint_test.py
  playout/tests/liquidsoap/fixtures/__init__.py
Due: playout

feat(playout): use jinja to configure liquidsoap outputs
  playout/libretime_playout/liquidsoap/1.4/fdkaac.liq
  playout/libretime_playout/liquidsoap/1.4/ls_lib.liq
  playout/libretime_playout/liquidsoap/1.4/ls_script.liq
  playout/libretime_playout/liquidsoap/1.4/mp3.liq
  playout/libretime_playout/liquidsoap/1.4/ogg.liq
  playout/libretime_playout/liquidsoap/1.4/opus.liq
  playout/libretime_playout/liquidsoap/entrypoint.py
  playout/libretime_playout/liquidsoap/templates/entrypoint.liq.j2
  playout/libretime_playout/liquidsoap/templates/outputs.liq.j2
  playout/tests/liquidsoap/__snapshots__/entrypoint_test.ambr
Due: playout

feat(playout): use shared app for cli commands
  playout/libretime_playout/notify/main.py
Due: playout

Path conditions:
  analyzer: any of: analyzer/
  api: any of: api/
  api-client: any of: api-client/
  playout: any of: playout/
  shared: any of: shared/
