Repository LibreTime/libretime: changes, and which Codecov flags are due for each by the changed paths.
All: analyzer, api, api-client, playout, shared

docs: uninstall /usr/lib systemd services
  docs/admin-manual/uninstall.md
Due: none

chore: update tools packages test
  tools/packages_test.py
Due: none

feat(api): listen on unix socket with gunicorn
  api/install/systemd/libretime-api.service
  api/install/systemd/libretime-api.socket
  install
  installer/nginx/libretime.conf
Due: api

feat(api): use uvicorn as asgi server with gunicorn
  api/install/systemd/libretime-api.service
  api/install/systemd/libretime-api.socket
  api/packages.ini
Due: api

feat(installer): load .env file to persistent install config
  docs/admin-manual/setup/install.md
  install
Due: none

feat: use dedicated 'libretime' user
  analyzer/README.md
  analyzer/install/systemd/libretime-analyzer.service
  api/README.md
  api/install/systemd/libretime-api.service
  docs/admin-manual/library.md
  docs/admin-manual/setup/install.md
  docs/admin-manual/setup/upgrade.md
  docs/admin-manual/troubleshooting.md
  docs/releases/unreleased.md
  docs/user-manual/playout-history.md
  install
  installer/vagrant/debian.sh
  installer/vagrant/post-install.sh
  playout/install/systemd/libretime-liquidsoap.service
  playout/install/systemd/libretime-playout.service
  worker/install/systemd/libretime-celery.service
Due: analyzer, api, playout

feat: replace apache2 with nginx + php-fpm
  docs/admin-manual/setup/upgrade.md
  docs/admin-manual/troubleshooting.md
  docs/admin-manual/uninstall.md
  docs/releases/unreleased.md
  install
  installer/nginx/libretime.conf
  legacy/install/php-fpm/libretime-legacy.conf
  legacy/packages.ini
Due: none

feat(legacy): don't guess cors url from server
  legacy/application/common/CORSHelper.php
Due: none

chore(api): remove deprecated coreapi dependency
  api/requirements.txt
  api/setup.py
Due: api

chore(api): remove markdown package
  api/requirements.txt
  api/setup.py
Due: api

chore(api): widen dependencies ranges
  api/requirements.txt
  api/setup.py
Due: api

style(legacy): format ApiController.php
  legacy/application/controllers/ApiController.php
Due: none

fix(legacy): station-metadata api endpoint
  legacy/application/controllers/ApiController.php
Due: none

fix(legacy): don't log 'could not obtain lock' exception
  legacy/application/common/TaskManager.php
Due: none

fix(legacy): don't log 'could not obtain lock' exception (#1943)
  legacy/application/common/TaskManager.php
Due: none

style(legacy): format files
  legacy/application/controllers/plugins/PageLayoutInitPlugin.php
  legacy/application/forms/EditAudioMD.php
  legacy/application/forms/SmartBlockCriteria.php
  legacy/application/models/Block.php
  legacy/application/models/Tracktype.php
  legacy/public/js/airtime/library/library.js
  legacy/public/js/airtime/playlist/smart_blockbuilder.js
Due: none

fix(legacy): check empty before iteration on files
  legacy/application/models/Block.php
Due: none

fix: use constrained foreign key for files track_type
  api/libretime_api/legacy/migrations/0035_3_0_0_alpha_13_9.py
  api/libretime_api/legacy/migrations/__init__.py
  api/libretime_api/legacy/migrations/sql/schema.sql
  api/libretime_api/storage/models/file.py
  api/schema.yml
  docs/releases/unreleased.md
  legacy/application/configs/constants.php
  legacy/application/controllers/plugins/PageLayoutInitPlugin.php
  legacy/application/forms/EditAudioMD.php
  legacy/application/forms/SmartBlockCriteria.php
  legacy/application/models/Block.php
  legacy/application/models/Library.php
  legacy/application/models/StoredFile.php
  legacy/application/models/airtime/CcFiles.php
  legacy/application/models/airtime/map/CcFilesTableMap.php
  legacy/application/models/airtime/map/CcTracktypesTableMap.php
  legacy/application/models/airtime/om/BaseCcFiles.php
  legacy/application/models/airtime/om/BaseCcFilesPeer.php
  legacy/application/models/airtime/om/BaseCcFilesQuery.php
  legacy/application/models/airtime/om/BaseCcSubjs.php
  legacy/application/models/airtime/om/BaseCcTracktypes.php
  legacy/application/models/airtime/om/BaseCcTracktypesQuery.php
  legacy/application/views/scripts/plupload/index.phtml
  legacy/build/schema.xml
  legacy/public/js/airtime/library/library.js
  legacy/public/js/airtime/playlist/smart_blockbuilder.js
Due: api

style(legacy): format files
  legacy/application/forms/SmartBlockCriteria.php
  legacy/application/models/Block.php
  legacy/public/js/airtime/library/library.js
  legacy/public/js/airtime/playlist/smart_blockbuilder.js
Due: none

chore(legacy): translated using weblate (Ukrainian)
  legacy/locale/uk_UA/LC_MESSAGES/libretime.po
Due: none

chore(legacy): translated using weblate (French)
  legacy/locale/fr_FR/LC_MESSAGES/libretime.po
Due: none

fix: prevent data loose on track_types_id migration
  api/libretime_api/legacy/migrations/0035_3_0_0_alpha_13_9.py
  docs/releases/unreleased.md
Due: api

Path conditions:
  analyzer: any of: analyzer/
  api: any of: api/
  api-client: any of: api-client/
  playout: any of: playout/
  shared: any of: shared/
