Repository LibreTime/libretime: changes, and which Codecov flags are due for each by the changed paths.
All: analyzer, api, api-client, playout, shared

codecov.yml:

---
coverage:
  status:
    project: off

flags:
  analyzer:
    paths:
      - analyzer/
    carryforward: true

  api:
    paths:
      - api/
    carryforward: true

  api-client:
    paths:
      - api-client/
    carryforward: true

  playout:
    paths:
      - playout/
    carryforward: true

  shared:
    paths:
      - shared/
    carryforward: true

feat: use fanout queue type for playout queue
  legacy/application/models/RabbitMq.php
  playout/libretime_playout/message_handler.py
Due: playout

fix: don't clear liquidsoap queues on liquidsoap startup
  playout/libretime_playout/player/fetch.py
Due: playout

feat: use fanout queue type for playout queue (#3161)
  legacy/application/models/RabbitMq.php
  playout/libretime_playout/message_handler.py
Due: playout

make linter even happier
  playout/libretime_playout/player/liquidsoap.py
Due: playout

switch where replace is for linter
  playout/libretime_playout/player/liquidsoap.py
Due: playout

fix: when metadata has a newline it doesn't play the track
  playout/libretime_playout/player/liquidsoap.py
Due: playout

fix: when metadata has a newline playout stops
  playout/libretime_playout/player/liquidsoap.py
  playout/tests/player/liquidsoap_test.py
Due: playout

do not replace new line in all annotations
  playout/libretime_playout/player/liquidsoap.py
Due: playout

fix: when metadata has a newline playout stops (#3160)
  playout/libretime_playout/player/liquidsoap.py
  playout/tests/player/liquidsoap_test.py
Due: playout

fix(playout): invalid source disconnect command send to liquidsoap
  playout/libretime_playout/liquidsoap/client/_client.py
  playout/libretime_playout/player/liquidsoap.py
Due: playout

refactor: prefer datetime.now(timezone.utc) over datetime.utcnow()
  playout/libretime_playout/history/stats.py
  playout/libretime_playout/main.py
  playout/libretime_playout/player/events.py
  playout/libretime_playout/player/liquidsoap.py
  playout/libretime_playout/player/push.py
  playout/libretime_playout/player/queue.py
  playout/libretime_playout/player/schedule.py
Due: playout

missing imports
  playout/libretime_playout/history/stats.py
  playout/libretime_playout/player/queue.py
  playout/libretime_playout/player/schedule.py
Due: playout

chore(playout): install lxml types to satisfy mypy
  playout/setup.py
Due: playout

refactor(playout): prefer datetime.now(timezone.utc) over datetime.utcnow() (#3167)
  playout/libretime_playout/history/stats.py
  playout/libretime_playout/main.py
  playout/libretime_playout/player/events.py
  playout/libretime_playout/player/liquidsoap.py
  playout/libretime_playout/player/push.py
  playout/libretime_playout/player/queue.py
  playout/libretime_playout/player/schedule.py
Due: playout

fix(playout): invalid input source disconnect command send to liquidsoap (#3166)
  playout/libretime_playout/liquidsoap/client/_client.py
  playout/libretime_playout/player/liquidsoap.py
Due: playout

chore(playout): install lxml types to satisfy mypy (#3168)
  playout/setup.py
Due: playout

refactor(playout): revert prefer datetime.now(timezone.utc) over datetime.utcnow() (#3167)
  playout/libretime_playout/history/stats.py
  playout/libretime_playout/main.py
  playout/libretime_playout/player/events.py
  playout/libretime_playout/player/liquidsoap.py
  playout/libretime_playout/player/push.py
  playout/libretime_playout/player/queue.py
  playout/libretime_playout/player/schedule.py
Due: playout

refactor(playout): revert prefer datetime.now(timezone.utc) over datetime.utcnow() (#3169)
  playout/libretime_playout/history/stats.py
  playout/libretime_playout/main.py
  playout/libretime_playout/player/events.py
  playout/libretime_playout/player/liquidsoap.py
  playout/libretime_playout/player/push.py
  playout/libretime_playout/player/queue.py
  playout/libretime_playout/player/schedule.py
Due: playout

fix: remove potential deadlock in liquidsoap client
  playout/libretime_playout/liquidsoap/client/_client.py
  playout/libretime_playout/liquidsoap/client/_connection.py
  playout/libretime_playout/main.py
Due: playout

refactor: always read liquidsoap responses after sending a command
  playout/libretime_playout/liquidsoap/1.4/ls_lib.liq
  playout/libretime_playout/liquidsoap/1.4/ls_script.liq
  playout/libretime_playout/liquidsoap/2.0/ls_lib.liq
  playout/libretime_playout/liquidsoap/2.0/ls_script.liq
  playout/libretime_playout/liquidsoap/client/_client.py
Due: playout

fix: remove potential deadlock in liquidsoap client (#3165)
  playout/libretime_playout/liquidsoap/1.4/ls_lib.liq
  playout/libretime_playout/liquidsoap/1.4/ls_script.liq
  playout/libretime_playout/liquidsoap/2.0/ls_lib.liq
  playout/libretime_playout/liquidsoap/2.0/ls_script.liq
  playout/libretime_playout/liquidsoap/client/_client.py
  playout/libretime_playout/liquidsoap/client/_connection.py
  playout/libretime_playout/main.py
Due: playout

feat: rename playout exchange
  legacy/application/models/RabbitMq.php
  playout/libretime_playout/message_handler.py
Due: playout

feat(playout): don't clear liquidsoap queue on liquidsoap startup (#3163)
  playout/libretime_playout/player/fetch.py
Due: playout

feat: rename `airtime-pypo` exchange to `playout` (#3170)
  legacy/application/models/RabbitMq.php
  playout/libretime_playout/message_handler.py
Due: playout

chore(main): release 4.5.0
  .github/release-please-manifest.json
  CHANGELOG.md
  analyzer/setup.py
  api-client/setup.py
  api/setup.py
  playout/setup.py
  shared/setup.py
  worker/setup.py
Due: analyzer, api, api-client, playout, shared

ci: fine grained test release
  .github/workflows/_python-lint.yml
  .github/workflows/_python-test.yml
  .github/workflows/playout.yml
Due: none

don't cancel workflows
  .github/workflows/_python-lint.yml
  .github/workflows/_python-test.yml
Due: none

ci: update other workflows
  .github/workflows/_python.yml
  .github/workflows/analyzer.yml
  .github/workflows/api-client.yml
  .github/workflows/api.yml
  .github/workflows/playout.yml
  .github/workflows/shared.yml
  .github/workflows/worker.yml
Due: none

ci: fine grained test release (#3171)
  .github/workflows/_python-lint.yml
  .github/workflows/_python-test.yml
  .github/workflows/_python.yml
  .github/workflows/analyzer.yml
  .github/workflows/api-client.yml
  .github/workflows/api.yml
  .github/workflows/playout.yml
  .github/workflows/shared.yml
  .github/workflows/worker.yml
Due: none

test(playout): run test against liquidsoap >= 2.0.0
  .github/workflows/playout.yml
  playout/tests/liquidsoap/client/connection_test.py
  playout/tests/liquidsoap/entrypoint_test.py
  playout/tests/liquidsoap/version_test.py
Due: playout

wip
  playout/tests/liquidsoap/client/connection_test.py
Due: playout

feat: now macro should use show start time to determine what tracks go into a show for dynamically autoloading smart blocks
  legacy/application/models/Block.php
  legacy/application/models/Scheduler.php
Due: none

docs: update documentation in separate commit so I don't get github actions failing on me for having as single commit with a message that isn't the exact way it wants it.
  docs/user-manual/playlists.md
Due: none

feat(legacy): make autoloading playlist lead time configurable
  legacy/application/common/AutoPlaylistManager.php
  legacy/application/configs/conf.php
Due: none

docs: document playlist autoloading in the more information link
  docs/user-manual/playlists.md
Due: none

task: update config template with autoload_lead_time
  docker/config.template.yml
Due: none

task: update all the other config locations lol
  dev/config.yml
  docker/config.yml
  docker/example/config.yml
  docs/admin-manual/configuration.md
  installer/config.yml
Due: none

oops committed something I didn't mean to
  dev/config.yml
Due: none

fix(playout): playout service should respect general.cache_ahead_hours
  playout/libretime_playout/player/fetch.py
  playout/libretime_playout/player/schedule.py
  shared/libretime_shared/config/_models.py
Due: playout, shared

docs: update documentation and sample config files with correct default for cache_ahead_hours
  docker/config.template.yml
  docker/config.yml
  docker/example/config.yml
  docs/admin-manual/configuration.md
  installer/config.yml
  legacy/application/configs/conf.php
  legacy/application/models/Schedule.php
Due: none
