Repository LibreTime/libretime: changes, and which Codecov flags are due for each by the changed paths.
All: analyzer, api, api-client, playout, shared

feat(legacy): setup config schema validation
  legacy/.php-cs-fixer.php
  legacy/application/configs/conf.php
  legacy/composer.json
  legacy/composer.lock
Due: none

chore(legacy): sort composer packages
  legacy/composer.json
Due: none

refactor(legacy): clean config
  legacy/application/configs/conf.php
  legacy/tests/application/configs/ConfigTest.php
Due: none

feat(legacy): add config dot notation access
  legacy/application/configs/conf.php
  legacy/composer.json
  legacy/composer.lock
Due: none

chore: pin setuptools to <64.0.0 for development
  tools/python.mk
Due: none

chore: pin setuptools to <64.0.0 for build backend
  analyzer/pyproject.toml
  api-client/pyproject.toml
  api/pyproject.toml
  playout/pyproject.toml
  shared/pyproject.toml
  tools/pyproject.toml
  worker/pyproject.toml
Due: analyzer, api, api-client, playout, shared

feat(shared): pass config data via init
  analyzer/libretime_analyzer/main.py
  api-client/libretime_api_client/v1.py
  api/libretime_api/settings/prod.py
  playout/libretime_playout/main.py
  shared/README.md
  shared/libretime_shared/config/_base.py
  shared/tests/config/base_test.py
  worker/libretime_worker/config.py
Due: analyzer, api, api-client, playout, shared

fix(playout): use stream download when fetching files
  playout/libretime_playout/player/file.py
Due: playout

feat(shared): pass config data via init (#2042)
  analyzer/libretime_analyzer/main.py
  api-client/libretime_api_client/v1.py
  api/libretime_api/settings/prod.py
  playout/libretime_playout/main.py
  shared/README.md
  shared/libretime_shared/config/_base.py
  shared/tests/config/base_test.py
  worker/libretime_worker/config.py
Due: analyzer, api, api-client, playout, shared

fix(playout): use stream download when fetching files (#2048)
  playout/libretime_playout/player/file.py
Due: playout

chore(legacy): translated using weblate (Croatian)
  legacy/locale/hr_HR/LC_MESSAGES/libretime.po
Due: none

chore(legacy): translated using weblate (Croatian) (#2052)
  legacy/locale/hr_HR/LC_MESSAGES/libretime.po
Due: none

chore(legacy): translated using weblate (Croatian) (#2054)
  legacy/locale/hr_HR/LC_MESSAGES/libretime.po
Due: none

ci: add custom user for dev containers
  .github/workflows/dev-tools.yml
Due: none

ci: add missing gid when running dev container
  .github/workflows/_python.yml
  .github/workflows/api.yml
Due: none

fix(playout): add thread names
  playout/libretime_playout/message_handler.py
  playout/libretime_playout/player/fetch.py
  playout/libretime_playout/player/file.py
  playout/libretime_playout/player/push.py
  playout/libretime_playout/player/queue.py
  playout/libretime_playout/recorder.py
  playout/libretime_playout/timeout.py
Due: playout

chore(playout): remove unused code
  playout/libretime_playout/main.py
  playout/libretime_playout/player/liquidsoap_gateway.py
  playout/libretime_playout/player/push.py
  playout/libretime_playout/testpypoliqqueue.py
Due: playout

chore: install python3-venv in vagrant for dev
  installer/vagrant/debian.sh
Due: none

fix(playout): add thread names (#2056)
  playout/libretime_playout/message_handler.py
  playout/libretime_playout/player/fetch.py
  playout/libretime_playout/player/file.py
  playout/libretime_playout/player/push.py
  playout/libretime_playout/player/queue.py
  playout/libretime_playout/recorder.py
  playout/libretime_playout/timeout.py
Due: playout

chore: install python3-venv in vagrant for dev (#2057)
  installer/vagrant/debian.sh
Due: none

chore(playout): remove unused code (#2058)
  playout/libretime_playout/main.py
  playout/libretime_playout/player/liquidsoap_gateway.py
  playout/libretime_playout/player/push.py
  playout/libretime_playout/testpypoliqqueue.py
Due: playout

chore(legacy): translated using weblate (Croatian) (#2059)
  legacy/locale/hr_HR/LC_MESSAGES/libretime.po
Due: none

chore: add python docker-* targets
  .gitignore
  playout/Makefile
  tools/python.mk
Due: playout

feat(playout): create liquidsoap client
  playout/libretime_playout/liquidsoap/client/__init__.py
  playout/libretime_playout/liquidsoap/client/_client.py
  playout/libretime_playout/liquidsoap/client/_connection.py
  playout/tests/liquidsoap/client/client_test.py
  playout/tests/liquidsoap/client/connection_test.py
Due: playout

feat(playout): integrate new liquisoap client
  playout/libretime_playout/main.py
  playout/libretime_playout/player/fetch.py
  playout/libretime_playout/player/liquidsoap.py
  playout/libretime_playout/player/liquidsoap_gateway.py
  playout/libretime_playout/player/push.py
Due: playout

chore: widen version range on python deps update
  .github/renovate.json
Due: none

chore: add renovate-schema in renovate config
  .github/renovate.json
Due: none

docs: add ubuntu bionic deprecation notice
  docs/releases/unreleased.md
Due: none

docs: add debian buster deprecation notice
  docs/releases/unreleased.md
Due: none

Path conditions:
  analyzer: any of: analyzer/
  api: any of: api/
  api-client: any of: api-client/
  playout: any of: playout/
  shared: any of: shared/
