Repository LibreTime/libretime: changes, and which Codecov flags are due for each by the changed paths.
All: analyzer, api, api-client, playout, shared

test(playout): refresh snapshots after major upgrade
  playout/tests/liquidsoap/__snapshots__/entrypoint_test.ambr
Due: playout

fix(installer): allow different actions on template_file
  install
Due: none

fix(installer): only setup nginx on first install
  docs/admin-manual/setup/install.md
  install
Due: none

fix(installer): print diff on file deployment
  install
Due: none

fix(installer): print unsupported distribution error
  install
Due: none

fix(installer): print unsupported distribution error (#2368)
  install
Due: none

chore: add dev target for quick setup
  Makefile
Due: none

ci: always print diff when schema changes
  .github/workflows/api-schema.yml
Due: none

refactor(analyzer): split analyze_cuepoint steps
  analyzer/libretime_analyzer/pipeline/analyze_cuepoint.py
  analyzer/libretime_analyzer/pipeline/pipeline.py
  analyzer/tests/pipeline/analyze_cuepoint_test.py
Due: analyzer

chore: add legacy-migrations-version pre-commit hook
  .pre-commit-config.yaml
  tools/legacy-migrations-version.sh
Due: none

feat: configure cue points analysis per track type
  analyzer/libretime_analyzer/message_listener.py
  analyzer/libretime_analyzer/pipeline/__init__.py
  analyzer/libretime_analyzer/pipeline/pipeline.py
  analyzer/tests/pipeline/pipeline_test.py
  api/libretime_api/legacy/migrations/0044_add_track_types_analyzer_options.py
  api/libretime_api/legacy/migrations/__init__.py
  api/libretime_api/legacy/migrations/sql/schema.sql
  api/libretime_api/storage/models/library.py
  api/schema.yml
  legacy/application/assets.json
  legacy/application/controllers/TracktypeController.php
  legacy/application/forms/AddTracktype.php
  legacy/application/models/RabbitMq.php
  legacy/application/models/Tracktype.php
  legacy/application/models/airtime/CcFiles.php
  legacy/application/models/airtime/map/CcTracktypesTableMap.php
  legacy/application/models/airtime/om/BaseCcTracktypes.php
  legacy/application/models/airtime/om/BaseCcTracktypesPeer.php
  legacy/application/models/airtime/om/BaseCcTracktypesQuery.php
  legacy/application/services/MediaService.php
  legacy/build/schema.xml
  legacy/public/js/airtime/tracktype/tracktype.js
Due: analyzer, api

cuepoints analyzer disabled by default
  analyzer/libretime_analyzer/pipeline/pipeline.py
  api/libretime_api/legacy/migrations/0044_add_track_types_analyzer_options.py
  api/libretime_api/legacy/migrations/sql/schema.sql
  legacy/application/forms/AddTracktype.php
  legacy/application/models/airtime/map/CcTracktypesTableMap.php
  legacy/application/models/airtime/om/BaseCcTracktypes.php
  legacy/build/schema.xml
Due: analyzer, api

fix(installer): create systemd dirs if missing
  install
Due: none

fix(legacy): ensure options is a dict during json encoding
  legacy/application/models/RabbitMq.php
Due: none

fix(installer): create systemd dirs if missing (#2379)
  install
Due: none

fix(legacy): don't use dict assignment on object
  legacy/application/models/RabbitMq.php
Due: none

fix(legacy): don't use dict assignment on object (#2384)
  legacy/application/models/RabbitMq.php
Due: none

test(playout): refresh snapshots after major upgrade (#2381)
  playout/tests/liquidsoap/__snapshots__/entrypoint_test.ambr
Due: playout

chore: raise from specific exceptions
  api/libretime_api/legacy/migrations/_migrations.py
  api/libretime_api/legacy/migrations/_version.py
  playout/libretime_playout/main.py
  playout/libretime_playout/player/file.py
  playout/libretime_playout/timeout.py
Due: api, playout

chore: release 3.0.2
  analyzer/setup.py
  api-client/setup.py
  api/setup.py
  docs/releases/3.0.2.md
  playout/setup.py
  shared/setup.py
  worker/setup.py
Due: analyzer, api, api-client, playout, shared

chore: generate changelog for 3.0.2
  CHANGELOG.md
Due: none

chore: add extra mp3 icecast output for dev
  docker/config.dev.yml
Due: none

feat(playout): use jinja2 env for template loading
  playout/libretime_playout/liquidsoap/entrypoint.py
Due: playout

feat(playout): add jinja2 quote filter for liquidsoap
  playout/libretime_playout/liquidsoap/entrypoint.py
  playout/libretime_playout/liquidsoap/utils.py
  playout/tests/liquidsoap/utils_test.py
Due: playout

fix(playout): quote escape strings in liquidsoap entrypoint
  playout/libretime_playout/liquidsoap/entrypoint.liq.j2
Due: playout

feat(playout): use liquidsoap interactive variables
  playout/libretime_playout/liquidsoap/1.4/ls_lib.liq
  playout/libretime_playout/liquidsoap/1.4/ls_script.liq
  playout/libretime_playout/liquidsoap/client/_client.py
  playout/libretime_playout/liquidsoap/entrypoint.liq.j2
  playout/tests/liquidsoap/__snapshots__/entrypoint_test.ambr
Due: playout

Path conditions:
  analyzer: any of: analyzer/
  api: any of: api/
  api-client: any of: api-client/
  playout: any of: playout/
  shared: any of: shared/
