Repository LibreTime/libretime: changes, and which Codecov flags are due for each by the changed paths.
All: analyzer, api, api-client, playout, shared

codecov.yml:

---
coverage:
  status:
    project: off

flags:
  analyzer:
    paths:
      - analyzer/
    carryforward: true

  api:
    paths:
      - api/
    carryforward: true

  api-client:
    paths:
      - api-client/
    carryforward: true

  playout:
    paths:
      - playout/
    carryforward: true

  shared:
    paths:
      - shared/
    carryforward: true

fix(api): require django >=4.2.0,<4.3
  api/requirements.txt
  api/setup.py
Due: api

fix(api): upgrade psycopg to v3.1
  api/requirements.txt
  api/setup.py
Due: api

chore: fix dot list numbers
  docs/contribute.md
Due: none

chore: adapt c4 to match our branches and releases requirements
  docs/contribute.md
Due: none

fix(playout): remove unused ecasound package
  playout/packages.ini
Due: playout

fix(playout): remove unused ecasound package (#2496)
  playout/packages.ini
Due: playout

feat(playout): replace thread timeout with socket timeout
  playout/libretime_playout/player/fetch.py
  playout/libretime_playout/player/liquidsoap_gateway.py
  playout/libretime_playout/timeout.py
Due: playout

refactor(playout): merge liquidsoap modules
  playout/libretime_playout/player/liquidsoap.py
  playout/libretime_playout/player/liquidsoap_gateway.py
  playout/tests/player/liquidsoap_gateway_test.py
  playout/tests/player/liquidsoap_test.py
Due: playout

refactor(playout): add ended check to event class
  playout/libretime_playout/player/events.py
  playout/libretime_playout/player/liquidsoap.py
Due: playout

refactor(playout): remove irrelevant try/except
  playout/libretime_playout/player/liquidsoap.py
Due: playout

refactor(playout): rename PypoLiquidsoap to Liquidsoap
  playout/libretime_playout/main.py
  playout/libretime_playout/player/fetch.py
  playout/libretime_playout/player/liquidsoap.py
  playout/libretime_playout/player/push.py
  playout/libretime_playout/player/queue.py
  playout/tests/player/liquidsoap_test.py
Due: playout

chore: fix comment wording
  playout/libretime_playout/player/liquidsoap.py
Due: playout

feat: include tarball checksums in releases
  .github/workflows/release.yml
  Makefile
Due: none

feat: remove dev files from tarball
  Makefile
Due: none

wip
  .github/workflows/api.yml
Due: none

ci: enable python tests on bookworm
  .github/workflows/_python.yml
Due: none

bookworm liquidsoap version
  playout/tests/liquidsoap/version_test.py
Due: playout

chore: move dev env files to dev subfolder
  .env.dev
  .gitignore
  dev/config.yml
  dev/playout/.gitkeep
  docker-compose.override.yml
Due: none

chore: use a secure dev environment
  .gitignore
  Makefile
  dev/certs/.gitkeep
  dev/config.yml
  dev/icecast.xml
  docker-compose.override.yml
  docs/contributor-manual/development-environment.md
Due: none

fix(installer): ignore whitespace during diff
  install
Due: none

chore: import icecast config from debian package
  installer/icecast/icecast.xml
Due: none

feat: set icecast mount default charset to UTF-8
  docs/admin-manual/stream-configuration.md
  docs/releases/unreleased.md
  install
  installer/icecast/icecast.xml
Due: none

docs: move release docs in the release section
  SECURITY.md
  docs/admin-manual/setup/install.md
  docs/contributor-manual/releases.md
  docs/releases/3.0.0-beta.0.md
  docs/releases/3.0.0.md
  docs/releases/README.md
Due: none

docs: fix broken links
  docs/contribute.md
Due: none

docs: ignore range format during docs linting
  .vale.ini
Due: none
