Repository LibreTime/libretime: changes, and which Codecov flags are due for each by the changed paths.
All: analyzer, api, api-client, playout, shared

codecov.yml:

---
coverage:
  status:
    project: off

flags:
  analyzer:
    paths:
      - analyzer/
    carryforward: true

  api:
    paths:
      - api/
    carryforward: true

  api-client:
    paths:
      - api-client/
    carryforward: true

  playout:
    paths:
      - playout/
    carryforward: true

  shared:
    paths:
      - shared/
    carryforward: true

test(api): ignore mypy missing imports
  api/pyproject.toml
Due: api

chore(api): disable fixme warnings
  api/pyproject.toml
Due: api

chore(api): rename playlist models fields
  api/libretime_api/schedule/models/playlist.py
  api/schema.yml
Due: api

chore(api): rename schedule models fields
  api/libretime_api/schedule/models/schedule.py
  api/libretime_api/schedule/serializers/schedule.py
  api/libretime_api/schedule/tests/models/test_schedule.py
  api/libretime_api/schedule/tests/views/test_schedule.py
  api/libretime_api/schedule/views/schedule.py
  api/schema.yml
  playout/libretime_playout/schedule.py
  playout/tests/schedule_test.py
Due: api, playout

chore(api): rename show models fields
  api/libretime_api/schedule/models/show.py
  api/libretime_api/schedule/serializers/show.py
  api/schema.yml
Due: api

feat(playout): replace pytz with zoneinfo (#1969)
  playout/libretime_playout/recorder.py
  playout/requirements.txt
  playout/setup.py
Due: playout

feat(installer): remove allow-restart flag
  Vagrantfile
  docs/admin-manual/setup/install.md
  install
Due: none

feat(installer): remove allow-restart flag (#1970)
  Vagrantfile
  docs/admin-manual/setup/install.md
  install
Due: none

chore(api): rename webstream models fields
  api/libretime_api/schedule/models/webstream.py
  api/schema.yml
Due: api

chore(api): rename smart_block models fields
  api/libretime_api/schedule/models/smart_block.py
  api/schema.yml
Due: api

fix(legacy): keep playlists/blocks/podcasts on user removal
  api/libretime_api/legacy/migrations/sql/schema.sql
  legacy/application/models/airtime/map/CcBlockTableMap.php
  legacy/application/models/airtime/map/CcPlaylistTableMap.php
  legacy/application/models/airtime/map/CcSubjsTableMap.php
  legacy/application/models/airtime/map/PodcastTableMap.php
  legacy/application/models/airtime/om/BaseCcSubjs.php
  legacy/build/schema.xml
Due: api

feat: add internal url config
  api-client/libretime_api_client/version1.py
  api-client/libretime_api_client/version2.py
  legacy/application/configs/conf.php
  legacy/application/models/Schedule.php
  legacy/application/models/StoredFile.php
  legacy/application/models/airtime/CcFiles.php
  shared/libretime_shared/config.py
Due: api-client, shared

chore(playout): restructure modules
  playout/libretime_playout/main.py
  playout/libretime_playout/message_handler.py
  playout/libretime_playout/player/__init__.py
  playout/libretime_playout/player/events.py
  playout/libretime_playout/player/fetch.py
  playout/libretime_playout/player/file.py
  playout/libretime_playout/player/liquidsoap.py
  playout/libretime_playout/player/liquidsoap_gateway.py
  playout/libretime_playout/player/mime.types
  playout/libretime_playout/player/push.py
  playout/libretime_playout/player/queue.py
  playout/libretime_playout/player/schedule.py
  playout/libretime_playout/stats.py
  playout/libretime_playout/testpypoliqqueue.py
  playout/libretime_playout/timeout.py
  playout/tests/player/schedule_test.py
Due: playout

chore(playout): restructure modules (#1971)
  playout/libretime_playout/main.py
  playout/libretime_playout/message_handler.py
  playout/libretime_playout/player/__init__.py
  playout/libretime_playout/player/events.py
  playout/libretime_playout/player/fetch.py
  playout/libretime_playout/player/file.py
  playout/libretime_playout/player/liquidsoap.py
  playout/libretime_playout/player/liquidsoap_gateway.py
  playout/libretime_playout/player/mime.types
  playout/libretime_playout/player/push.py
  playout/libretime_playout/player/queue.py
  playout/libretime_playout/player/schedule.py
  playout/libretime_playout/stats.py
  playout/libretime_playout/testpypoliqqueue.py
  playout/libretime_playout/timeout.py
  playout/tests/player/schedule_test.py
Due: playout

chore: remove schedule unused independent_event
  legacy/application/models/Schedule.php
  playout/libretime_playout/player/liquidsoap.py
  playout/libretime_playout/player/schedule.py
  playout/libretime_playout/testpypoliqqueue.py
  playout/tests/player/schedule_test.py
Due: playout

chore(api): fix overbooked property type hint
  api/libretime_api/schedule/models/schedule.py
  api/schema.yml
Due: api

chore(api): route using urls
  api/libretime_api/core/router.py
  api/libretime_api/history/router.py
  api/libretime_api/podcasts/router.py
  api/libretime_api/schedule/router.py
  api/libretime_api/storage/router.py
  api/libretime_api/urls.py
Due: api

chore(api): document version endpoint
  api/libretime_api/core/router.py
  api/libretime_api/core/serializers/__init__.py
  api/libretime_api/core/serializers/info.py
  api/libretime_api/core/views/__init__.py
  api/libretime_api/core/views/info.py
  api/libretime_api/core/views/version.py
  api/libretime_api/urls.py
  api/schema.yml
Due: api

chore(api): fix schema enum names
  api/libretime_api/settings/_internal.py
  api/schema.yml
Due: api

chore: don't reuse local packages wheels
  tools/python.mk
Due: none

feat: rename AirtimeApiClient to ApiClient
  api-client/libretime_api_client/v1.py
  api-client/libretime_api_client/v2.py
  api-client/tests/v2_test.py
  playout/libretime_playout/liquidsoap/entrypoint.py
  playout/libretime_playout/liquidsoap/liquidsoap_auth.py
  playout/libretime_playout/main.py
  playout/libretime_playout/notify/main.py
  playout/libretime_playout/player/fetch.py
  playout/libretime_playout/player/file.py
  playout/libretime_playout/player/push.py
  playout/libretime_playout/player/schedule.py
  playout/libretime_playout/recorder.py
  playout/libretime_playout/stats.py
Due: api-client, playout

chore(api-client): add requests typings for mypy
  api-client/setup.py
Due: api-client

fix(api-client): get status_code from response
  api-client/libretime_api_client/v1.py
Due: api-client

chore(api-client): restructure modules
  api-client/libretime_api_client/__init__.py
  api-client/libretime_api_client/_utils.py
  api-client/libretime_api_client/v1.py
  api-client/libretime_api_client/v2.py
  api-client/setup.py
  api-client/tests/apcurl_test.py
  api-client/tests/apirequest_test.py
  api-client/tests/requestprovider_test.py
  api-client/tests/utils_test.py
  api-client/tests/v2_test.py
Due: api-client

chore(playout): update api-client imports
  playout/libretime_playout/liquidsoap/entrypoint.py
  playout/libretime_playout/liquidsoap/liquidsoap_auth.py
  playout/libretime_playout/main.py
  playout/libretime_playout/notify/main.py
  playout/libretime_playout/player/fetch.py
  playout/libretime_playout/player/file.py
  playout/libretime_playout/player/push.py
  playout/libretime_playout/player/schedule.py
  playout/libretime_playout/recorder.py
  playout/libretime_playout/stats.py
Due: playout
