Repository LibreTime/libretime: changes, and which Codecov flags are due for each by the changed paths.
All: analyzer, api, api-client, playout, shared

test(api): ignore tests file coverage
  api/pyproject.toml
Due: api

chore: update python tests target
  api/Makefile
  tools/python.mk
Due: api

ci: setup carryforward for coverage
  codecov.yml
Due: none

ci: disable codecov project status check
  codecov.yml
Due: none

style(legacy): format Schedule.php
  legacy/application/models/Schedule.php
Due: none

chore: explicit schedule file metadata dict values
  legacy/application/models/Schedule.php
  playout/libretime_playout/schedule.py
  playout/tests/schedule_test.py
Due: playout

ci: disable codecov patch status check
  codecov.yml
Due: none

chore(playout): use EventKind enum
  playout/libretime_playout/events.py
  playout/libretime_playout/eventtypes.py
  playout/libretime_playout/pypoliquidsoap.py
  playout/libretime_playout/schedule.py
Due: playout

chore(playout): rename variables
  playout/libretime_playout/telnetliquidsoap.py
  playout/libretime_playout/timeout.py
Due: playout

chore(playout): use comments instead of docstrings
  playout/libretime_playout/main.py
  playout/libretime_playout/pypofetch.py
  playout/libretime_playout/pypofile.py
  playout/libretime_playout/pypomessagehandler.py
  playout/libretime_playout/recorder.py
  playout/libretime_playout/timeout.py
Due: playout

chore(api): rename library model visibility field
  api/libretime_api/storage/models/library.py
  api/schema.yml
Due: api

chore(api): rename library model visibility field (#1933)
  api/libretime_api/storage/models/library.py
  api/schema.yml
Due: api

chore(legacy): update locales from code
  legacy/locale/cs_CZ/LC_MESSAGES/libretime.po
  legacy/locale/de_AT/LC_MESSAGES/libretime.po
  legacy/locale/de_DE/LC_MESSAGES/libretime.po
  legacy/locale/el_GR/LC_MESSAGES/libretime.po
  legacy/locale/en_CA/LC_MESSAGES/libretime.po
  legacy/locale/en_GB/LC_MESSAGES/libretime.po
  legacy/locale/en_US/LC_MESSAGES/libretime.po
  legacy/locale/es_ES/LC_MESSAGES/libretime.po
  legacy/locale/fr_FR/LC_MESSAGES/libretime.po
  legacy/locale/hr_HR/LC_MESSAGES/libretime.po
  legacy/locale/hu_HU/LC_MESSAGES/libretime.po
  legacy/locale/it_IT/LC_MESSAGES/libretime.po
  legacy/locale/ja_JP/LC_MESSAGES/libretime.po
  legacy/locale/ko_KR/LC_MESSAGES/libretime.po
  legacy/locale/nl_NL/LC_MESSAGES/libretime.po
  legacy/locale/pl_PL/LC_MESSAGES/libretime.po
  legacy/locale/pt_BR/LC_MESSAGES/libretime.po
  legacy/locale/ru_RU/LC_MESSAGES/libretime.po
  legacy/locale/sr_RS/LC_MESSAGES/libretime.po
  legacy/locale/sr_RS@latin/LC_MESSAGES/libretime.po
  legacy/locale/tr_TR/LC_MESSAGES/libretime.po
  legacy/locale/zh_CN/LC_MESSAGES/libretime.po
Due: none

feat(legacy): add Ukrainian language
  legacy/application/models/Locale.php
  legacy/locale/uk_UA/LC_MESSAGES/libretime.po
Due: none

chore: remove cloud storage remainings
  api/libretime_api/legacy/migrations/0034_3_0_0_alpha_13_8.py
  api/libretime_api/legacy/migrations/__init__.py
  api/libretime_api/legacy/migrations/sql/schema.sql
  api/libretime_api/storage/models/__init__.py
  api/libretime_api/storage/models/cloud_file.py
  api/libretime_api/storage/router.py
  api/libretime_api/storage/serializers/__init__.py
  api/libretime_api/storage/serializers/cloud_file.py
  api/libretime_api/storage/views/__init__.py
  api/libretime_api/storage/views/cloud_file.py
  api/schema.yml
  legacy/application/airtime-boot.php
  legacy/application/cloud_storage/FileStorageBackend.php
  legacy/application/cloud_storage/ProxyStorageBackend.php
  legacy/application/cloud_storage/StorageBackend.php
  legacy/application/configs/classmap-airtime-conf.php
  legacy/application/controllers/LibraryController.php
  legacy/application/controllers/PreferenceController.php
  legacy/application/models/StoredFile.php
  legacy/application/models/airtime/CcFiles.php
  legacy/application/models/airtime/CloudFile.php
  legacy/application/models/airtime/CloudFilePeer.php
  legacy/application/models/airtime/CloudFileQuery.php
  legacy/application/models/airtime/map/CcFilesTableMap.php
  legacy/application/models/airtime/map/CloudFileTableMap.php
  legacy/application/models/airtime/om/BaseCcFiles.php
  legacy/application/models/airtime/om/BaseCcFilesPeer.php
  legacy/application/models/airtime/om/BaseCcFilesQuery.php
  legacy/application/models/airtime/om/BaseCloudFile.php
  legacy/application/models/airtime/om/BaseCloudFilePeer.php
  legacy/application/models/airtime/om/BaseCloudFileQuery.php
  legacy/build/schema.xml
  legacy/tests/application/bootstrap.php
Due: api

chore: remove cloud storage remainings (#1934)
  api/libretime_api/legacy/migrations/0034_3_0_0_alpha_13_8.py
  api/libretime_api/legacy/migrations/__init__.py
  api/libretime_api/legacy/migrations/sql/schema.sql
  api/libretime_api/storage/models/__init__.py
  api/libretime_api/storage/models/cloud_file.py
  api/libretime_api/storage/router.py
  api/libretime_api/storage/serializers/__init__.py
  api/libretime_api/storage/serializers/cloud_file.py
  api/libretime_api/storage/views/__init__.py
  api/libretime_api/storage/views/cloud_file.py
  api/schema.yml
  legacy/application/airtime-boot.php
  legacy/application/cloud_storage/FileStorageBackend.php
  legacy/application/cloud_storage/ProxyStorageBackend.php
  legacy/application/cloud_storage/StorageBackend.php
  legacy/application/configs/classmap-airtime-conf.php
  legacy/application/controllers/LibraryController.php
  legacy/application/controllers/PreferenceController.php
  legacy/application/models/StoredFile.php
  legacy/application/models/airtime/CcFiles.php
  legacy/application/models/airtime/CloudFile.php
  legacy/application/models/airtime/CloudFilePeer.php
  legacy/application/models/airtime/CloudFileQuery.php
  legacy/application/models/airtime/map/CcFilesTableMap.php
  legacy/application/models/airtime/map/CloudFileTableMap.php
  legacy/application/models/airtime/om/BaseCcFiles.php
  legacy/application/models/airtime/om/BaseCcFilesPeer.php
  legacy/application/models/airtime/om/BaseCcFilesQuery.php
  legacy/application/models/airtime/om/BaseCloudFile.php
  legacy/application/models/airtime/om/BaseCloudFilePeer.php
  legacy/application/models/airtime/om/BaseCloudFileQuery.php
  legacy/build/schema.xml
  legacy/tests/application/bootstrap.php
Due: api

chore(legacy): add missing datatables uk_UA i18n
  legacy/public/js/datatables/i18n/uk_UA.txt
Due: none

chore(legacy): add missing datatables uk_UA i18n (#1937)
  legacy/public/js/datatables/i18n/uk_UA.txt
Due: none

docs: rename icecast to stream-configuration
  docs/admin-manual/stream-configuration.md
Due: none

docs: rewrite reverse proxy guide
  docs/admin-manual/setup/reverse-proxy.md
  website/docusaurus.config.js
Due: none

docs: double 'the'
  docs/_microsite.md
Due: none

docs: rename Libretime to LibreTime
  docs/releases/3.0.0-alpha.02.md
  docs/releases/3.0.0-alpha.03.md
  docs/releases/3.0.0-alpha.04.md
  docs/releases/3.0.0-alpha.05.md
  docs/releases/3.0.0-alpha.06.md
  docs/releases/3.0.0-alpha.07.md
  docs/releases/3.0.0-alpha.08.md
  website/src/components/HomepageFeatures.tsx
Due: none

docs: provide uninstall guidance
  docs/admin-manual/uninstall.md
Due: none

docs: provide uninstall guidance (#1938)
  docs/admin-manual/uninstall.md
Due: none

feat(installer): load .env file to persistent install config
  docs/admin-manual/setup/install.md
  install
Due: none

feat: replace apache2 with nginx + php-fpm
  docs/admin-manual/setup/upgrade.md
  docs/admin-manual/troubleshooting.md
  docs/admin-manual/uninstall.md
  docs/releases/unreleased.md
  install
  installer/nginx/libretime.conf
  legacy/install/php-fpm/libretime-legacy.conf
  legacy/packages.ini
Due: none

feat(legacy): don't guess cors url from server
  legacy/application/common/CORSHelper.php
Due: none

feat: use dedicated 'libretime' user
  analyzer/README.md
  analyzer/install/systemd/libretime-analyzer.service
  api/README.md
  api/install/systemd/libretime-api.service
  docs/admin-manual/library.md
  docs/admin-manual/setup/install.md
  docs/admin-manual/setup/upgrade.md
  docs/admin-manual/troubleshooting.md
  docs/releases/unreleased.md
  docs/user-manual/playout-history.md
  install
  installer/vagrant/debian.sh
  installer/vagrant/post-install.sh
  playout/install/systemd/libretime-liquidsoap.service
  playout/install/systemd/libretime-playout.service
  worker/install/systemd/libretime-celery.service
Due: analyzer, api, playout

Path conditions:
  analyzer: any of: analyzer/
  api: any of: api/
  api-client: any of: api-client/
  playout: any of: playout/
  shared: any of: shared/
